<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<body>
Dear &nbsp;${firstName} ${lastName},
<br/><br/>
Thanks for your interest !!!<br/><br/><br/>

${bodyMessage} 

<br/><br/><br/>
Thanks & Regards,<br/>
CrashReportsOnline - Sales Team,<br/>
<br/>
<a href="www.crashreportsonline.com">www.crashreportsonline.com </a>

</body>
</html>