<div class="row">
    <div class="col-lg-12">
        <a ui-sref="dashboard.staff" class="btn-sm btn-primary pull-right margin-top-40">Back to the list</a>
        <h2 class="page-header">Add Staff</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Enter Staff Details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="col-md-12">
                        <tbody>
                            <tr>
                                <td class="col-md-6">
                                    <label>First Name</label>
                                    <input type="text" class="form-control"  ng-model="jsonString.firstName" name="firstName"><br/>
                                    <label>Last Name</label>
                                    <input type="text" class="form-control"  ng-model="jsonString.lastName" name="lastName"><br/>
                                    <label>User Name</label>
                                    <input  type="text" class="form-control"  ng-model="jsonString.username" name="username">
                                </td>
                                <td class="col-md-6">
                                    <label>Phone Number</label>
                                    <input tyep="text" class="form-control"  ng-model="jsonString.phoneNumber" name="phoneNumber"><br/>
                                    <label>Email ID</label>
                                    <input type="text" class="form-control"  ng-model="jsonString.emailAddress" name="emailAddress"><br/>
                                    <label>Password</label>
                                    <input type="password" class="form-control"  ng-model="jsonString.password" name="notes">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-12" colspan="2"><br/>
                                    <label>Notes</label>
                                    <textarea class="form-control height-100"  ng-model="jsonString.notes"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">


                <a class="btn btn-success" type="submit" ng-mousedown="save()">Save Staff</a>
                <a class="btn btn-success" type="submit" ng-mousedown="update()">Update Staff</a><br/><br/>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>