<div class="row">
    <div class="col-lg-12">
        <a ui-sref="dashboard.doctor" class="btn-sm btn-primary pull-right margin-top-40">Back to the list</a>
        <h2 class="page-header">Add Doctor</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Enter Doctor Details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="col-md-12">
                        <tbody>
                            <tr>
                                <td class="col-md-6">
                                    <label>First Name</label>
                                    <input class="form-control"><br/>
                                    <label>Last Name</label>
                                    <input class="form-control"><br/>
                                    <label>User Name</label>
                                    <input class="form-control">
                                </td>
                                <td class="col-md-6">
                                    <label>Phone Number</label>
                                    <input class="form-control"><br/>
                                    <label>Email ID</label>
                                    <input class="form-control"><br/>
                                    <label>Password</label>
                                    <input class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-12" colspan="2"><br/>
                                    <label>Notes</label>
                                    <textarea class="form-control height-100"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-success">Add Doctor</a><br/><br/>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>