<div class="row">
    <div class="col-lg-12">
        <a ui-sref="dashboard.doctor" class="btn-sm btn-primary pull-right margin-top-40">Back to the list</a>
        <h2 class="page-header">Add Doctor</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
     <form id="myForm" name="myForm" novalidate>
   
        <div class="panel panel-default">
            <div class="panel-heading">
                Enter Doctor Details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="col-md-12">
                        <tbody>
                            <tr>
                                <td class="col-md-6">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" ng-model="doctor.name" placeholder="Enter Name" required>
                                    <div class="error-container" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                                <span style="color:red" ng-show="myForm.name.$error.required">Please Enter the Name</span>
                              </div>
                                    <br/>
                                    
                                    
                                    
                                  <label>Address</label>
                                    <input type="text" name="address" class="form-control" ng-model="doctor.address" placeholder="Enter Address" required>
                                    <div class="error-container" ng-show="myForm.address.$dirty && myForm.address.$invalid">
                                <span style="color:red" ng-show="myForm.address.$error.required">Please Enter the Address</span>
                              </div>
                                    <br/>
                                    
                                    
                                    
                                    
                                     <label>City</label>
                                    <input type="text" name="city" class="form-control" ng-model="doctor.city" placeholder="Enter City" required>
                                    <div class="error-container" ng-show="myForm.city.$dirty && myForm.city.$invalid">
                                <span style="color:red" ng-show="myForm.city.$error.required">Please Enter the City</span>
                              </div>
                                    <br/>
                                    
                                    
                                    
                                     <label>Country</label>
                                    <input type="text" name="country" class="form-control" ng-model="doctor.country" placeholder="Enter Country" required>
                                    <div class="error-container" ng-show="myForm.country.$dirty && myForm.country.$invalid">
                                <span style="color:red" ng-show="myForm.country.$error.required">Please Enter the Country</span>
                              </div>
                                    <br/>
                                    
                                    
                                    
                                </td>
                                <td class="col-md-6">
                                     <label>State</label>
                                    <input type="text" name="state" class="form-control" ng-model="doctor.state" placeholder="Enter State" required>
                                    <div class="error-container" ng-show="myForm.state.$dirty && myForm.state.$invalid">
                                <span style="color:red" ng-show="myForm.state.$error.required">Please Enter the State</span>
                              </div>
                                    <br/>
                                    
                                    
                                    
                                     <label>Zip</label>
                                    <input type="text" name="zip" class="form-control" ng-model="doctor.zip" placeholder="Enter Zip" required>
                                    <div class="error-container" ng-show="myForm.zip.$dirty && myForm.zip.$invalid">
                                <span style="color:red" ng-show="myForm.zip.$error.required">Please Enter the Zip</span>
                              </div>
                                    <br/>
                                    
                                    
                                    
                                     <label>Office Hours</label>
                                    <input type="text" name="officeHours" class="form-control" ng-model="doctor.officeHours" placeholder="Enter OfficeHours" required>
                                    <div class="error-container" ng-show="myForm.officeHours.$dirty && myForm.officeHours.$invalid">
                                <span style="color:red" ng-show="myForm.officeHours.$error.required">Please Enter the OfficeHours</span>
                              </div>
                                    <br/>
                                    
                                    
                                     <label>New Field</label>
                                    <input type="text" class="form-control" ng-model="doctor.newField" name="newField" placeholder="Enter NewField" required>
                                    <div class="error-container" ng-show="myForm.newField.$dirty && myForm.newField.$invalid">
                                <span style="color:red" ng-show="myForm.newField.$error.required">Please Enter the NewField</span>
                              </div>
                                    <br/>
                                    
                                    
                                    
                                    
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-12" colspan="2"><br/>
                                    <label>Notes</label>
                                     <textarea class="form-control height-100" ng-model="doctor.notes" name="notes" placeholder="Enter Notes" required> </textarea>
                               
                                    <div class="error-container" ng-show="myForm.notes.$dirty && myForm.notes.$invalid">
                                <span style="color:red" ng-show="myForm.notes.$error.required">Please Enter the Notes</span>
                              </div>
                                   
                                </td>
                               
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <a ui-sref="dashboard.doctor"  class="btn btn-success" ng-show='myFormButton'  ng-mousedown="saveDoctor()">Save</a>
            
                <a ui-sref="dashboard.doctor" class="btn btn-success" ng-show='!myFormButton' ng-mousedown="update()">Update</a>
              <a ui-sref="dashboard.doctor"  class="btn btn-danger" >Cancel</a>
            

    
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
         </form>
    </div>
    <!-- /.col-lg-12 -->
</div>
