<link rel="stylesheet" href="resources/components/datetime/datetimepicker.css"></link>
<script src="resources/components/datetime/datetimepicker.js"></script>
<script src="resources/components/datetime/moment.js"></script>

<div class="row">
    <div class="col-lg-12">
        <a ui-sref="dashboard.doctor" class="btn-sm btn-primary pull-right margin-top-40">Back to the list</a>
        <h2 class="page-header">{{title}}<span ng-hide="title=='Add Doctor'">&nbsp;-&nbsp;{{doctor.doctorName}}</span></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
     <form id="myForm" name="myForm" novalidate>
   
        <div class="panel panel-default">
            <div class="panel-heading">
                Enter Doctor Details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Clinic Name</label>
                                    <input type="text" name="clinicName" class="form-control" ng-model="doctor.clinicName" placeholder="Enter ClinicName" required>
                                    <span class="error-container" ng-show="myForm.clinicName.$dirty && myForm.clinicName.$invalid">
                                <span style="color:red" ng-show="myForm.clinicName.$error.required">Please Enter the ClinicName</span>
                              </span><br>
                                 </div>   
                                 <div class="col-md-6">
                                     <label>Doctor Name</label>
                                    <input type="text" name="doctorName" class="form-control" ng-model="doctor.doctorName" placeholder="Enter DoctorName" required>
                                    <span class="error-container" ng-show="myForm.doctorName.$dirty && myForm.doctorName.$invalid">
                                <span style="color:red" ng-show="myForm.doctorName.$error.required">Please Enter the Doctor Name</span>
                              </span><br>
                               </div>
                           </div>
                           <div class="col-md-12">
                           <div class="col-md-6">
                               <label>Address</label>
                                    <input type="text" name="address" class="form-control" ng-model="doctor.address" placeholder="Enter Address" required>
                                    <span class="error-container" ng-show="myForm.address.$dirty && myForm.address.$invalid">
                                <span style="color:red" ng-show="myForm.address.$error.required">Please Enter the Address</span>
                              </span><br/>
                              </div>
                            <div class="col-md-6">
                      			<label>City</label>
                                    <input type="text" name="city" class="form-control" ng-model="doctor.city" placeholder="Enter City" required>
                                    <span class="error-container" ng-show="myForm.city.$dirty && myForm.city.$invalid">
                                <span style="color:red" ng-show="myForm.city.$error.required">Please Enter the City</span>
                              </span>
                                    <br/></div>
                                 </div>
                                 <div class="col-md-12">  
                                 <div class="col-md-6">
                                    <label>Country</label>
                           <select class="form-control" ng-init="doctor.country='United States'" ng-model="doctor.country" name="country" id="country" required>
  							  <option value="">-- Select Country --</option>
  							  <option value="United States">United States</option>
                              	</select>
                             <span class="error-container" ng-show="myForm.country.$dirty && myForm.country.$invalid">
                              				<span style="color:red" ng-show="myForm.country.$error.required">Please Select the Country</span>
                                     </span>
                           <br>
                           </div>
                           <div class="col-md-6">
                                 <label>State</label>
                           <select class="form-control" ng-init="doctor.state='Ohio'" ng-model="doctor.state" name="state" id="state" required>
  							  <option value="">-- Select State --</option>
  							  <option value="Ohio">Ohio</option>
                              </select> 
                             <span class="error-container" ng-show="myForm.state.$dirty && myForm.state.$invalid">
                              
                                       <span style="color:red" ng-show="myForm.state.$error.required">Please Select the State</span>
                              </span>  
                           <br>
                           </div>
                           </div>
                         <div class="col-md-12">
                         <div class="col-md-6">
                               <label>County</label>
                           <select class="form-control" ng-model="doctor.county" name="county" id="county" required>
  							  <option value="">-- Select County --</option>
  							  <option value="Adams">Adams</option>
                              <option value="Allen">Allen</option>
                               <option value="Ashland">Ashland</option>
                             <option value="Ashtabula">Ashtabula</option>
                             <option value="Athens">Athens</option>
                             <option value="Auglaize">Auglaize</option>
                             <option value="Belmont">Belmont</option>
                             <option value="Brown">Brown</option>
                              <option value="Butler">Butler</option>
                              <option value="Carroll">Carroll</option>
                              <option value="Champaign">Champaign</option>
                              <option value="Clark">Clark</option>
                              <option value="Clermont">Clermont</option>
                              <option value="Clinton">Clinton</option>
                               <option value="Columbiana">Columbiana</option>
                              <option value="Coshocton">Coshocton</option>
                             <option value="Crawford">Crawford</option>
                              <option value="Cuyahoga">Cuyahoga</option>
                              <option value="Darke">Darke</option>
                              <option value="Defiance">Defiance</option>
                              <option value="Delaware">Delaware</option>
                              <option value="Erie">Erie</option>
                              <option value="Fairfield">Fairfield</option>
                              <option value="Fayette">Fayette</option>
                              <option value="Franklin">Franklin</option>
                              <option value="Fulton">Fulton</option>
                              <option value="Gallia">Gallia</option>
                               <option value="Geauga">Geauga</option>
                                <option value="Greene">Greene</option>
                                <option value="Guernsey">Guernsey</option>
                                <option value="Hamilton">Hamilton</option>
                                <option value="Hancock">Hancock</option>
                                <option value="Hardin">Hardin</option>
                                <option value="Harrison">Harrison</option>
                                <option value="Henry">Henry</option>
                                <option value="Highland">Highland</option>
                                <option value="Hocking">Hocking</option>
                                <option value="Holmes">Holmes</option>
                                <option value="Huron">Huron</option>
                                <option value="Jackson">Jackson</option>
                                <option value="Jefferson">Jefferson</option>
                                <option value="Knox">Knox</option>
                                <option value="Lake">Lake</option>
                                <option value="Lawrence">Lawrence</option>
                                <option value="Licking">Licking</option>
                                <option value="Logan">Logan</option>
                                <option value="Lorain">Lorain</option>
                                <option value="Lucas">Lucas</option>
                                <option value="Madison">Madison</option>
                                <option value="Mahoning">Mahoning</option>
                                <option value="Marion">Marion</option>
                                <option value="Medina">Medina</option>
                                <option value="Miegs">Miegs</option>
                                <option value="Mercer">Mercer</option>
                                <option value="Miami">Miami</option>
                                <option value="Monroe">Monroe</option>
                                <option value="Montgomery">Montgomery</option>
                                <option value="Morgan">Morgan</option>
                                <option value="Morrow">Morrow</option>
                                <option value="Muskingum">Muskingum</option>
                                <option value="Noble">Noble</option>
                                <option value="Ottawa">Ottawa</option>
                                <option value="Paulding">Paulding</option>
                                <option value="Perry">Perry</option>
                                <option value="Pickaway">Pickaway</option>
                                <option value="Pike">Pike</option>
                                <option value="Portage">Portage</option>
                                <option value="Preble">Preble</option>
                                <option value="Putnam">Putnam</option>
                                <option value="Richland">Richland</option>
                                <option value="Ross">Ross</option>
                                <option value="Sandusky">Sandusky</option>
                                <option value="Scioto">Scioto</option>
                                <option value="Seneca">Seneca</option>
                                <option value="Shelby">Shelby</option>
                                <option value="Stark">Stark</option>
                                <option value="Summit">Summit</option>
                                <option value="Trumbull">Trumbull</option>
                                <option value="Tuscarawas">Tuscarawas</option>
                                <option value="Union">Union</option>
                                <option value="VanWert">Van Wert</option>
                                <option value="Vinton">Vinton</option>
                                <option value="Warren">Warren</option>
                                <option value="Washington">Washington</option>
                                <option value="Wayne">Wayne</option>
                                <option value="Williams">Williams</option>
                                <option value="Wood">Wood</option>
                                <option value="Wyandot">Wyandot</option>
                                </select>
                            <span class="error-container" ng-show="myForm.county.$dirty && myForm.county.$invalid">
                              
                                       <span style="color:red" ng-show="myForm.county.$error.required">Please Select the County</span>
                                       </span>
                                     <br>
                              </div>
                                <div class="col-md-6">
                                <label>Zip</label>
                                    <input type="text" name="zip" class="form-control" ng-model="doctor.zip" placeholder="Enter Zip" required maxlength="5">
                                    <span class="error-container" ng-show="myForm.zip.$dirty && myForm.zip.$invalid">
                                <span style="color:red" ng-show="myForm.zip.$error.required">Please Enter the Zip</span>
                              </span>
                                    <br/></div>
                              </div>
                              <div class="col-md-12">
                              <div class="col-md-6">
                                   <label>Office Number</label>
                                    <input type="text" name="officeNumber" class="form-control" ng-model="doctor.officeNumber" placeholder="Enter Office Number" required>
                                    <span class="error-container" ng-show="myForm.officeNumber.$dirty && myForm.officeNumber.$invalid">
                                <span style="color:red" ng-show="myForm.officeNumber.$error.required">Please Enter the Office Number</span>
                              </span>
                                    <br/></div>
                                   <div class="col-md-6">
                                    <label>Fax Number</label>
                                    <input type="text" name="faxNumber" class="form-control" ng-model="doctor.faxNumber" placeholder="Enter Fax Number">
                                    <br/>
                                    </div>
                              </div>
                              <div class="col-md-12">
                                    <div class="col-md-6" >
                                        <label>Choose Weekly Workingday</label>
                                            
                                                   <div style="width:80%; height: 40px;background: #fff;border:1px solid #ccc;border-radius:4px;padding: 3px 0px 0px 3px;">
                                            <table class="table" style="table-layout: fixed;width: 99%">
                                                <tr>
                                                	<td style="padding: 0px;border:none;width: 14.3%;line-height: 15px">Sun<span id = "sun"class="holiday-check">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i ng-show="sun" class="fa fa-times fa-fw" style="color:#CC0000" ng-click="addWorkingDays(0)"></i><i ng-hide="sun" class="fa fa-check fa-fw" style="color:green" ng-click="removeWorkingDays(0)"></i></span></td>
                                                   	<td style="padding: 0px;border:none;width: 14.3%;line-height: 15px">Mon<span id = "mon"class="holiday-check">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i ng-show="mon" class="fa fa-times fa-fw" style="color:#CC0000" ng-click="addWorkingDays(1)"></i><i ng-hide="mon" class="fa fa-check fa-fw" style="color:green" ng-click="removeWorkingDays(1)"></i></span></td>
                                                    <td style="padding: 0px;border:none;width: 14.3%;line-height: 15px">Tue<span id = "tue"class="holiday-check">&nbsp;&nbsp;&nbsp;&nbsp;<i ng-show="tue" class="fa fa-times fa-fw" style="color:#CC0000" ng-click="addWorkingDays(2)"></i><i ng-hide="tue" class="fa fa-check fa-fw" style="color:green" ng-click="removeWorkingDays(2)"></i></span></td>
                                                    <td style="padding: 0px;border:none;width: 14.3%;line-height: 15px">Wed<span id = "wed"class="holiday-check">&nbsp;&nbsp;&nbsp;<i ng-show="wed" class="fa fa-times fa-fw" style="color:#CC0000" ng-click="addWorkingDays(3)"></i><i ng-hide="wed" class="fa fa-check fa-fw" style="color:green" ng-click="removeWorkingDays(3)"></i></span></td>
                                                    <td style="padding: 0px;border:none;width: 14.3%;line-height: 15px">Thu<span id = "thu"class="holiday-check">&nbsp;&nbsp;&nbsp;&nbsp;<i ng-show="thu" class="fa fa-times fa-fw" style="color:#CC0000" ng-click="addWorkingDays(4)"></i><i ng-hide="thu" class="fa fa-check fa-fw" style="color:green" ng-click="removeWorkingDays(4)"></i></span></td>
                                                    <td style="padding: 0px;border:none;width: 14.2%;line-height: 15px">Fri<span id = "fri"class="holiday-check">&nbsp;&nbsp;&nbsp;&nbsp;<i ng-show="fri" class="fa fa-times fa-fw" style="color:#CC0000" ng-click="addWorkingDays(5)"></i><i ng-hide="fri" class="fa fa-check fa-fw" style="color:green" ng-click="removeWorkingDays(5)"></i></span></td>
                                                    <td style="padding: 0px;border:none;width: 14.3%;line-height: 15px">Sat<span id = "sat"class="holiday-check">&nbsp;&nbsp;&nbsp;&nbsp;<i ng-show="sat" class="fa fa-times fa-fw" style="color:#CC0000" ng-click="addWorkingDays(6)"></i><i ng-hide="sat" class="fa fa-check fa-fw" style="color:green" ng-click="removeWorkingDays(6)"></i></span></td>

                                               </tr>
                                            </table>
										</div>
                                        <span class="error-text"></span>
                                    </div>
 			<div class="col-md-6">          
                 <div class="col-md-6 whole-div">
                                    <label>Office Hours Start Time</label>
                               <div class="input-group">
                             <input type="text" style="" name="officeHoursFromTime" id="officeHoursFromTime" class="form-control"  ng-model="doctor.officeHoursFromTime" placeholder="Enter Start Time" required>
                              <span class="input-group-addon white-color-bg"> <span class="glyphicon glyphicon-time"></span></span>
                              </div>
                              <span class="error-container" ng-show="myForm.officeHoursFromTime.$dirty && myForm.officeHoursFromTime.$invalid">
                                <span style="color:red" ng-show="myForm.officeHoursFromTime.$error.required">Please Enter the Start Time</span>
                              </span> 
                           </div>
                               <div class="col-md-6">
                                    <label>Office Hours End Time</label>
                                    <div class="input-group">
                             <input type="text" style="" name="officeHoursToTime" id="officeHoursToTime" class="form-control" higher-than="doctor.officeHoursFromTime"  ng-model="doctor.officeHoursToTime" placeholder="Enter End Time" required>
                              <span class="input-group-addon white-color-bg"> <span class="glyphicon glyphicon-time"></span></span>
                              </div>
                              <span class="error-container" ng-show="myForm.officeHoursToTime.$dirty && myForm.officeHoursToTime.$invalid">
                                <span style="color:red" ng-show="myForm.officeHoursToTime.$error.required">Please Enter the End Time</span>
                                <span style="color:red" ng-show="myForm.officeHoursToTime.$error.higherThan">End Time Should be greater</span>
                              </span><br>
                              </div>
                         </div>
                        </div>
                            <div class="col-md-12">
                            <div class="col-md-12">
                                    <label>Direction</label>
                                     <textarea class="form-control height-100" ng-model="doctor.direction" name="direction" placeholder="Enter Direction" required> </textarea>
                               
                                    <span class="error-container" ng-show="myForm.direction.$dirty && myForm.direction.$invalid">
                                <span style="color:red" ng-show="myForm.direction.$error.required">Please Enter the Direction</span>
                              </span><br>
                              </div>
                            </div>
                            <div class="col-md-12">
                            <div class="col-md-12">
                                    <label>Notes</label>
                                     <textarea class="form-control height-100" ng-model="doctor.notes" name="notes" placeholder="Enter Notes" required> </textarea>
                               
                                    <span class="error-container" ng-show="myForm.notes.$dirty && myForm.notes.$invalid">
                                <span style="color:red" ng-show="myForm.notes.$error.required">Please Enter the Notes</span>
                              </span>
                              </div>
                             </div>
                </div>
            </div>
            <div class="text-right" style="margin-right:30px;">
                <a class="btn btn-success" ng-show='myFormButton' ng-class="{'button-disable':myForm.$invalid}" ng-disabled='myForm.$invalid'  ng-click="saveDoctor()">Save</a>
            	 <a class="btn btn-success" ng-show='!myFormButton' ng-class="{'button-disable':myForm.$invalid}" ng-disabled='myForm.$invalid' ng-click="update()">Update</a>
              <a ui-sref="dashboard.doctor"  class="btn btn-danger" >Cancel</a><br/><br/>
           </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
         </form>
    </div>
    <!-- /.col-lg-12 -->
</div>

<style>
#sunday_div, #monday_div, #tuesday_div, #wednesday_div, #thusday_div, #friday_div, #saturaday_div{
 border-bottom: 1px solid green;
}
</style>
 <script>
$('#officeHoursFromTime').datetimepicker({
			pickTime : true,
			pickDate:false,
			format:'HH:mm'
	});
$('#officeHoursToTime').datetimepicker({
	pickTime : true,
	pickDate:false,
	format:'HH:mm'
	
});
</script> 