<script src="resources/scripts/controllers/Doctors.js"></script>
<div class="row">
    <div class="col-lg-12">
        <a ui-sref="dashboard.add-doctor" class="btn-sm btn-primary pull-right margin-top-40" ng-show="isAdmin">Add Doctor</a>
        <h2 class="page-header">Doctor</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
<errordisplay message="errorMessage" error="isError" success="isSuccess"></errordisplay>
    <div class="col-lg-12">           
    
            <!-- /.panel-heading -->
            <div class="col-md-12">
                <div class="dataTable_wrapper">
                    <table class="table table-hover" id="dataTables-example">
                     
                          <thead>
	        <tr>
                <th ng-mousedown="sort('name')">Name   <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
               
            	 	 <th ng-mousedown="sort('address')">Address   <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
             	 <th ng-mousedown="sort('city')">City   <span class="glyphicon sort-icon" ng-show="sortKey=='city'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
              	
                	 <th ng-mousedown="sort('state')">State <span class="glyphicon sort-icon" ng-show="sortKey=='state'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
                   	 <th ng-mousedown="sort('officeHours')">Office Hours <span class="glyphicon sort-icon" ng-show="sortKey=='officeHours'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
	                       <th ng-mousedown="sort('notes')">Notes <span class="glyphicon sort-icon" ng-show="sortKey=='notes'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
                      
              <th width="20%" ng-show="isAdmin">Action</th></tr>
        <tr>    
            <th>  <input type="text"  class="form-control"  ng-model="search.name" placeholder="Name"></label>
           </th>
            <th>  <input type="text"  class="form-control"  ng-model="search.address" placeholder="Address"></label>
           </th>
            <th>  <input type="text"  class="form-control"  ng-model="search.city" placeholder="City"></label>
           </th>
             <th>  <input type="text"  class="form-control"  ng-model="search.state" placeholder="State"></label>
           </th>
             <th>  <input type="text"  class="form-control"  ng-model="search.officeHours" placeholder="Office Hours"></label>
           </th>
            <th>  <input type="text"  class="form-control"  ng-model="search.notes" placeholder="Notes"></label>
           </th>
           <th></th>
           </tr>
            </thead>
            
            
                         <tbody dir-paginate="doctor in doctors | filter:search | orderBy:sortKey:reverse|itemsPerPage:8 " >
	<tr>
		
		<td>{{doctor.name}}</td>
<td>{{doctor.address}}</td>
		<td>{{doctor.city}}</td>
			<td>{{doctor.state}}</td>
		<td>{{doctor.officeHours}}</td>

<td>{{doctor.notes}}</td>
                                   <td ng-show="isAdmin"><a href="#/dashboard/EditDoctor/{{doctor.id}}"  class="btn btn-xs btn-warning" ng-show="isAdmin">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit</a>
	<a href="#" ui-sref="dashboard.doctor" ng-mousedown="deleteDoctor(doctor.id)" class="btn btn-xs btn-danger" ng-show="isAdmin">&nbsp;<i class="glyphicon glyphicon-trash"></i>&nbsp; Delete </a>
	</td></tr>
</tbody>
              </table>
              <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" >
    					</dir-pagination-controls>   
                </div>
            </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>