<div class="row">
	<div class="col-lg-12">
	 <a ui-sref="dashboard.home" class="btn-sm btn-primary pull-right margin-top-40"><i class="fa fa-arrow-circle-left fa-lg"></i> Back to Home</a>
		<h2 class="page-header">Help</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	 		<div class="col-md-12 margin-bottom-10">
	 		<div class="col-md-4">
	 		<div class="input-group">
  			<span class="input-group-addon search" id="basic-addon3"><i class="fa fa-search"></i></span>
	 		<input type="text" ng-model="search" class="form-control" name="searchText" placeholder="search"/></div>
	 		</div>
	 		</div>
			<!-- /.panel-heading -->
			<div class="col-md-12">
			    <div class="panel-group" id="faqAccordion">
			        <div class="panel panel-default" ng-repeat="helpContent in helpContents | filter:search">
			            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question{{$index}}">
			                 <h4 class="panel-title">
			                    <a href="" class="ing">{{helpContent.question}}<i style="color:grey !important" class="more-less glyphicon glyphicon-plus"></i></a>
			              </h4>
			
			            </div>
			            <div id="question{{$index}}" class="panel-collapse collapse" style="height: 0px;">
			                <div class="panel-body">
			                    <!--  <h5><span class="label label-primary">Answer</span></h5> -->
			
			                    <p><span ng-bind-html="helpContent.answer | html" class="break-word"></span></p>
			                </div>
			            </div>
			        </div>
			     </div>
			   </div>
		<!-- /.panel -->
	<!-- /.col-lg-12 -->
</div>
<script type="text/javascript">
function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>
