<link rel="stylesheet"
	href="resources/components/datetime/datetimepicker.css"></link>
<script src="resources/components/datetime/moment.js"></script>
<script src="resources/components/datetime/datetimepicker.js"></script>
<div class="row">
	<div class="col-lg-12">
		<div flash-message="2000" class="col-md-5 pull-right margin-top35"></div>	
		<h2 class="page-header">Contact Us</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	 		<!-- /.panel-heading -->
			<div class="col-md-12">
			 
					<table class="table table-hover table-striped table-bordered">

						<thead>
							<tr>
								<th  width="20%">Date</th>
								<th  width="15%">First Name</th>
								<th  width="15%">Last Name</th>
								<th  width="23%">E-mail</th>
								<th  width="15%">Status</th>
								<th width="12%">Actions</th>
						
							</tr>

							<tr>
							<th>
								<div class="input-group">
  								<span class="input-group-addon search" id="basic-addon4"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.addedDate" placeholder="Date"></div></th>
								<th>
								<div class="input-group">
  								<span class="input-group-addon search" id="basic-addon2"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.firstName" placeholder="First Name"></div></th>
								<th>
								<div class="input-group">
  								<span class="input-group-addon search" id="basic-addon2"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.lastName" placeholder="Last Name"></div></th>
								<th>
								<div class="input-group">
  								<span class="input-group-addon search" id="basic-addon5"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.email" placeholder="E-mail"></div></th>
								<th><select ng-model="search.status" class="form-control">
								<option value="">All</option>
								<option value="0">Interest Received</option>
								<option value="1">Response Sent</option>
								<option value="2">Demo Set Up</option>
								<option value="3">Demo Completed</option>
								</select></th>
								<th></th>	
								
							</tr>
						</thead>
						<tbody>

							<tr  ng-show="contactUsList.length>0"  dir-paginate="contactUs in contactFilter=(contactUsList|filter:search|orderBy:sortKey:reverse|itemsPerPage:noOfRows)">
								<td class="wrap" ng-cloak>{{contactUs.addedDate}}</td>
								<td class="wrap" ng-cloak>{{contactUs.firstName}}</td>
								<td class="wrap" ng-cloak>{{contactUs.lastName}}</td>
								<td class="wrap" ng-cloak>{{contactUs.email}}</td>
								<td class="wrap" ng-cloak>{{contactUs.statusText}}</td>
								<td>
								<a href="" ng-cloak class="btn btn-xs btn-primary hint--top" data-hint="View" ng-click="getContactUsDetail(contactUs.id);"><i
								class="fa fa-eye"></i>
								</a>
								<a href="" ng-show="contactUs.status==0" ng-cloak ng-click="sendResponseMailModal(contactUs.id,contactUs.email)" class="btn btn-xs btn-success hint--top" data-hint="Send Response"><i
								class="fa fa-envelope"></i>
						</a>
						<a href="" ng-show="contactUs.status==1" ng-cloak ng-click="changeContactStatusModal(contactUs.id,contactUs.status)" class="btn btn-xs btn-info hint--top" data-hint="Set Up Demo"><i
								class="fa fa-cubes"></i>
						</a>
						<a href="" ng-show="contactUs.status==2" ng-cloak ng-click="changeContactStatusModal(contactUs.id,contactUs.status)" class="btn btn-xs btn-warning hint--top" data-hint=" Complete Demo"><i
								class="fa fa-film"></i>
						</a>
						<label ng-show="contactUs.status==3" ng-cloak class="btn btn-xs btn-success hint--top" data-hint="Demo Completed"><i
								class="fa fa-check-square-o"></i>
						</label>
							<a href="" ng-cloak ng-click="deleteContactUsConfirmation(contactUs.id)" class="btn btn-xs btn-danger hint--top" data-hint="Delete"><i
								class="fa fa-trash"></i>
						</a>	
							 </td>
							</tr>
							<tr ng-show="!contactFilter.length || !contactFilter.length">
				<td colspan="7" align="center">No Records Found</td>
				</tr>
						</tbody>
						
					</table>
					<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
    					</dir-pagination-controls>
				<div class="col-md-3 pull-right no-padding margin-bottom-10">
				<label>Number of Records</label>
					<select
						class="form-control" ng-model="noOfRows" name="noOfRows"
						id="noOfRows">
						<option value="10">Show 10 Per Page</option>
						<option value="25">Show 25 Per Page</option>
						<option value="50">Show 50 Per Page</option>
						<option value="100">Show 100 Per Page</option>
					</select> 
				</div>
			</div>
		<!-- /.panel -->
	<!-- /.col-lg-12 -->
</div>
<!-- Delete Confirm Modal -->
  <div class="modal fade" id="deleteContactUsModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation </h4>
        </div>
        <div class="modal-body">Do you want to Delete?
              
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
             <a type="submit" class="btn btn-success"  data-dismiss="modal" ng-click="deleteContactUs()">Yes</a>
        </div>
      </div>
      
    </div>
 </div>
 <!-- View Modal -->
 <div class="modal fade" id="viewContactUsModal" role="dialog">
    <div class="modal-dialog modal-lg">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Details </h4>
        </div>
        <div class="modal-body">
        	<table class="table table-striped table-bordered">
        	<tr><td colspan="4" class="infoBackground"><label>Contact Details</label></td></tr>
              <tr>
              <td class="col-md-3"><label>First Name</label></td>
              <td class="col-md-3 wrap">{{contactUsDetail.firstName}}</td>
              <td class="col-md-3"><label>Last Name</label></td>
              <td class="col-md-3 wrap">{{contactUsDetail.lastName}}</td>
              </tr>
              <tr>
              <td class="col-md-3"><label>Phone Number</label></td>
              <td class="col-md-3">{{contactUsDetail.phoneNumber}}</td>
              <td class="col-md-3"><label>E-mail</label></td>
              <td class="col-md-3 wrap">{{contactUsDetail.email}}</td>
              </tr>
              <tr>
              <td class="col-md-3"><label>Firm Name</label></td>
              <td class="col-md-3 wrap">{{contactUsDetail.firmName}}</td>
              <td class="col-md-3"><label>Request Received On</label></td>
              <td class="col-md-3 wrap">{{contactUsDetail.addedDate}}</td>
              </tr>
             </table>
             <table class="table table-striped table-bordered">
             <tr>
             <td colspan="3" class="warningBackground"><label>Activity Logs</label></td>
             </tr>
             <tr>
             <th>Status</th>
             <th>Date and Time</th>
             <th>By</th>
             </tr>
             <tr ng-repeat="conatctUsLogDetail in conatctUsLogDetails">
             <td class="col-md-3"><span ng-show="conatctUsLogDetail.logStatus==0">Interest Received</span>
             <span ng-show="conatctUsLogDetail.logStatus==1">Response Sent</span>
             <span ng-show="conatctUsLogDetail.logStatus==2">Demo Set Up</span>
             <span ng-show="conatctUsLogDetail.logStatus==3">Demo Completed</span>
             </td>
             <td class="col-md-3">{{conatctUsLogDetail.logDateTime}}</td>
             <td class="col-md-4 wrap"><span ng-show="conatctUsLogDetail.byWhom!=null">{{conatctUsLogDetail.byWhom}}</span><span ng-show="conatctUsLogDetail.byWhom==null">-</span></td>
             </tr>
             </table>
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
 </div>
 <!-- Change Status Modal -->
  <div class="modal fade" id="changeStatusModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{titleAndSaveText}} </h4>
        </div>
        <div class="modal-body">
        <form name="contactUsChangeStatusForm" novalidate>
         <label>Status:</label> 
       			<input type="text" class="form-control" ng-value="nextStatusText" readonly="readonly"/>	<br/>
              <label>{{dateTimeText}}</label>
					<div class="input-group">
						<input type="text" name="logDateTime" id="logDateTime"
							class="form-control" ng-model="contactUsForm.logDateTime"
							placeholder="{{dateTimeText}}" required>
						<span class="input-group-addon white-color-bg"> <span
							class="glyphicon glyphicon-calendar"></span></span>
					</div>
					<span class="error-container"
						ng-show="contactUsChangeStatusForm.logDateTime.$dirty && contactUsChangeStatusForm.logDateTime.$invalid && !contactUsChangeStatusForm.logDateTime.$prestine">
						<span style="color: red" ng-show="contactUsChangeStatusForm.logDateTime.$error.required"
						id="Error">Please Enter Date and Time</span>
					</span>
					<br/>
					<label>{{contactedByText}}</label>
					<input type="text" name="updatedBy"
							class="form-control" ng-model="contactUsForm.updatedBy"
							placeholder="{{contactedByText}}" required validate-name maxlength="45">
					<span class="error-container"
						ng-show="contactUsChangeStatusForm.updatedBy.$dirty && contactUsChangeStatusForm.updatedBy.$invalid && !contactUsChangeStatusForm.updatedBy.$prestine">
						<span style="color: red" ng-show="contactUsChangeStatusForm.updatedBy.$error.required"
						id="Error">Please Enter {{contactedByText}}</span>
						<span style="color: red" ng-show="!contactUsChangeStatusForm.updatedBy.$error.required&&contactUsChangeStatusForm.updatedBy.$error.validateName"
						id="Error">Please Enter Valid Name</span>
					</span>
			</form>
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
             <a class="btn btn-success" ng-disabled='contactUsChangeStatusForm.$invalid' ng-click="changeStatus()">{{titleAndSaveText}}</a>
        </div>
      </div>
      
    </div>
 </div>
 <!-- Send Response Mail Modal -->
  <div class="modal fade" id="sendResponseMailModal" role="dialog">
    <div class="modal-dialog modal-lg">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send Response</h4>
        </div>
        <div class="modal-body">
        <form name="contactUsSendMailForm" novalidate>
        <label>To E-mail</label>
       <input type="text" name="mailsubject"
							class="form-control" ng-model="userEmail"
							placeholder="E-mail" readonly="readonly">
			<span style="color: red" ng-show="showError">{{error}}</span><br/>
         <label>Subject</label>
       <input type="text" name="mailsubject"
							class="form-control" ng-model="contactUsFormMail.subject"
							placeholder="Subject" required>
							<span class="error-container"
						ng-show="contactUsSendMailForm.mailsubject.$dirty && contactUsSendMailForm.mailsubject.$invalid && !contactUsSendMailForm.mailsubject.$prestine">
						<span style="color: red" ng-show="contactUsSendMailForm.mailsubject.$error.required"
						id="Error">Please Enter Subject</span>
					</span>
							<br/>
				<label>Message</label>
       <textarea name="mailmessage"
							class="form-control" ng-model="contactUsFormMail.bodyMessage"
							placeholder="Message" required rows="8"></textarea>
							<span class="error-container"
						ng-show="contactUsSendMailForm.mailmessage.$dirty && contactUsSendMailForm.mailmessage.$invalid && !contactUsSendMailForm.mailmessage.$prestine">
						<span style="color: red" ng-show="contactUsSendMailForm.mailmessage.$error.required">Please Enter Message</span>
					</span><br/>
					<label>Send By</label>
					<input type="text" ng-model="contactUsFormMail.updatedBy" name="sendBy" class="form-control" placeholder="Send By" required validate-name>
					<span class="error-container"
						ng-show="contactUsSendMailForm.sendBy.$dirty && contactUsSendMailForm.sendBy.$invalid && !contactUsSendMailForm.sendBy.$prestine">
						<span style="color: red" ng-show="contactUsSendMailForm.sendBy.$error.required">Please Enter Send By</span>
						<span style="color: red" ng-show="!contactUsSendMailForm.sendBy.$error.required&&contactUsSendMailForm.sendBy.$error.validateName"
						id="Error">Please Enter Valid Name</span>
					</span>
			</form>
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
             <a class="btn btn-success" ng-disabled='contactUsSendMailForm.$invalid || sendDisable' ng-click="sendResponseMail()">{{sendText}}</a>
        </div>
      </div>
      
    </div>
 </div>
 <script>
 $('#logDateTime').datetimepicker({
		pickTime : true,
		format:'MM/DD/YYYY hh:mm:ss A',
		maxDate : new Date()
	});
$('#logDateTime').keydown(function(e){
e.preventDefault();
});
$('#logDateTime').bind("cut copy paste",function(e) {
e.preventDefault();
});	
 </script>