<div class="row">
    <div class="col-lg-12">
        <a ui-sref="dashboard.add-clinic" class="btn-sm btn-primary pull-right margin-top-40" ng-show="{{isAdmin==1}}"><i class="fa fa-plus-circle fa-lg"></i> Add Clinic</a>        
   		<h2 class="page-header">Clinics</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">

        <!-- /.panel-heading -->
            <div class="col-md-12">
            <div flash-message="2000" class="col-md-5"></div><div class="col-md-5"></div>
             <div class="col-md-4 pull-right">
<label>Number of Records</label>
	<select
		class="form-control" ng-model="noOfRows" name="noOfRows"
		id="noOfRows">
		<option value="10">Show 10 Per Page</option>
		<option value="25">Show 25 Per Page</option>
		<option value="50">Show 50 Per Page</option>
		<option value="100">Show 100 Per Page</option>
		<option value="{{clinics.length}}">Show All</option>
	</select> 
</div>
                    <table class="table table-hover">
                     
                          <thead>
	        <tr>
	        <th style="width:80px!important;" ng-mousedown="sort('serviceArea')">Service Area <span class="glyphicon sort-icon" ng-show="sortKey=='serviceArea'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
	            <th style="width:120px!important;" ng-mousedown="sort('clinicName')">Clinic Name <span class="glyphicon sort-icon" ng-show="sortKey=='clinicName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
         			 <th style="width:100px!important;" ng-mousedown="sort('address')">Address   <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
             	 <th style="width:100px!important;" ng-mousedown="sort('city')">City   <span class="glyphicon sort-icon" ng-show="sortKey=='city'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
               <th width="80px!important">Action</th></tr>
	           
 <tr> 
 <th>  <input type="text"  class="form-control"  ng-model="search.serviceArea" placeholder="Search by Service Area"></th>
    	 <th>  <input type="text"  class="form-control"  ng-model="search.clinicName" placeholder="Search by Clinic Name">
           </th>
         	<th>  <input type="text"  class="form-control"  ng-model="search.address" placeholder="Search by Address">
           </th>
            <th>  <input type="text"  class="form-control"  ng-model="search.city" placeholder="Search by City">
           </th>
           <th></th>
           </tr>
            </thead>
            
          
                         <tbody dir-paginate="clinic in clinics | filter:search | orderBy:sortKey:reverse|itemsPerPage:noOfRows" >
	<tr>
	<td ng-cloak>{{clinic.serviceArea}}</td>
	<td><a href="" ng-cloak ng-click="viewClinicDetails(clinic.clinicId)">{{clinic.clinicName}}</a></td>
<td ng-cloak>{{clinic.address}}</td>
		<td ng-cloak>{{clinic.city}}</td>
			

                                   <td >
                                   <a href="" ng-cloak ng-click="viewClinicDetails(clinic.clinicId)" class="btn btn-xs btn-primary hint--top" data-hint="View Clinic"><i
								class="glyphicon glyphicon-eye-open"></i>
						</a>
                                   <a href="#/dashboard/edit-clinic/{{clinic.clinicId}}" ng-cloak data-hint="Edit Clinic" class="btn btn-xs btn-warning hint--top" ng-show="{{isAdmin==1}}"><i class="glyphicon glyphicon-edit"></i></a>
	<a href="#" ng-cloak ui-sref="dashboard.clinic" ng-mousedown="deleteClinic(clinic.clinicId)" data-hint="Delete Clinic" class="btn btn-xs btn-danger hint--top" ng-show="{{isAdmin==1}}"><i class="glyphicon glyphicon-trash"></i></a>
<!--  <a href="" ng-cloak ng-click="viewDoctors(clinic.clinicId)" class="btn btn-xs btn-primary hint--top" data-hint="View Doctors"><i
								class="fa fa-user-md "></i>
						</a> -->	</td></tr>
</tbody>

  
<tbody ng-show="doctors.length==0">
				<tr>
				<td colspan="5" align="center">No Record Found</td>
				</tr>
				</tbody>
				
				
              </table>
              <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" >
    					</dir-pagination-controls>   
                
            </div>
        <!-- /.panel -->
 
    <!-- /.col-lg-12 -->
</div>

<div class="modal fade" id="viewDoctors" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Doctors List</h4>
        </div>
        <div class="modal-body">
        
                     <table class="table table-hover">
				<thead>
				<tr>
				<th >Doctor Name</th>
				
				<th>Email Id</th>
				<th>Contact Number</th>
				<th>Specialist In</th>

				</tr>
				
				</thead>
				<tbody ng-repeat="doctorDetail in doctorDetails">
 				<tr>
				<td>{{doctorDetail.doctorName}}</td>
				<td>{{doctorDetail.emailId}}</td>
			<td>{{doctorDetail.contactNumber}}</td>
				<td>{{doctorDetail.specialistIn}}</td>
				</tr>

				</tbody>
				<tbody ng-show="!doctorDetails.length">
				<tr>
				<td colspan="5" align="center">No Record Found</td>
				</tr>
				</tbody>
			</table>
			<div class="modal-footer">
        <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
            
              
      </div>
        </div>
        </div>
      </div>
      
    </div>
    

 <!-- Clinic View  -->
  <div class="modal fade" id="viewClinicDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Clinic & Doctor Details</h4>
      </div>
      <div class="modal-body">
	<table class="table table-striped table-bordered" >
			<tr>
					
						<td class="col-md-3" ><b>Clinic Name</b></td>
					<td class="col-md-3" ng-hide="clinicDetails.clinicName==null">{{clinicDetails.clinicName}}</td>
						<td class="col-md-3" ng-show="clinicDetails.clinicName==null">-</td>
					
					<td class="col-md-3"><b>Zip</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.zipcode==null">{{clinicDetails.zipcode}}</td>
						<td class="col-md-3" ng-show="clinicDetails.zipcode==null">-</td>
						
					
						
						
			</tr>
			
				<tr>
			<td class="col-md-3"><b>Address</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.address==null">{{clinicDetails.address}}</td>
						<td class="col-md-3" ng-show="clinicDetails.address==null">-</td>
			<td class="col-md-3"><b>Office Number</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.officeNumber==null">{{clinicDetails.officeNumber}}</td>
						<td class="col-md-3" ng-show="clinicDetails.officeNumber==null">-</td>
						
						
						
				</tr>
				<tr>
				<td class="col-md-3"><b>City</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.city==null">{{clinicDetails.city}}</td>
						<td class="col-md-3" ng-show="clinicDetails.city==null">-</td>
				<td class="col-md-3"><b>Fax Number</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.faxNumber==null">{{clinicDetails.faxNumber}}</td>
						<td class="col-md-3" ng-show="clinicDetails.faxNumber==null">-</td>
						
			
				</tr>
				<tr>
				<td class="col-md-3"><b>State</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.state==null">{{clinicDetails.state}}</td>
						<td class="col-md-3" ng-show="clinicDetails.state==null">-</td>
				
				<td class="col-md-3"><b>County</b></td>
					
						<td class="col-md-3" ng-hide="clinicDetails.county==null">{{clinicDetails.county}}</td>
						<td class="col-md-3" ng-show="clinicDetails.county==null">-</td>
				</tr>
				<tr>
				<td class="col-md-3"><b>Country</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.country==null">{{clinicDetails.country}}</td>
						<td class="col-md-3" ng-show="clinicDetails.country==null">-</td>
				
				<td class="col-md-3"><b>Service Area</b></td>
					
						<td class="col-md-3" ng-hide="clinicDetails.serviceArea==null">{{clinicDetails.serviceArea}}</td>
						<td class="col-md-3" ng-show="clinicDetails.serviceArea==null">-</td>
				</tr>
				
	<tr>
<td class="col-md-3"><b>Direction</b></td>
						<td class="col-md-3 wrap" ng-hide="clinicDetails.direction==null" colspan="3">{{clinicDetails.directions}}</td>
						<td class="col-md-3" ng-show="clinicDetails.direction.length==null" colspan="3">-</td>
				
</tr>


<tr>
<td class="col-md-3"><b>Notes</b></td>
						<td class="col-md-3 wrap" ng-hide="clinicDetails.notes.length==null" colspan="3">{{clinicDetails.notes}}</td>
						<td class="col-md-3" ng-show="clinicDetails.notes.length==null" colspan="3">-</td>
	</tr>
	<tr>
				<td class="col-md-3" colspan="4"><b>Office Hours &nbsp;|</b>&nbsp;&nbsp;&nbsp;<span class="successText"><i class="glyphicon glyphicon-ok"></i></span> <b>- Working/Appointment Day</b> &nbsp;&nbsp;&nbsp;&nbsp;<span class="errorText"><i class="glyphicon glyphicon-remove"></i></span> <b>- Not Working/Not Appointment Day</b></td>
				</tr>
	<tr>
				<td class="col-md-12" colspan="4">
				<table class="table">
				<thead>
				<tr>
				<th>Day</th><th align="center">Is Working Day</th><th>Start Time</th><th>End Time</th><th>Starts Break</th><th>Ends Break</th><th align="center">Is Appointment</th>
				</tr>
				</thead>
				<tr ng-show="clinicDetails.clinicTimingList[0].isWorkingDay==1">
				<td>Sunday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[0].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[0].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[0].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[0].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[0].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[0].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[0].isWorkingDay!=1">
				<td>Sunday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[0].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[0].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[1].isWorkingDay==1">
				<td>Monday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[1].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[1].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[1].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[1].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[1].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[1].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[1].isWorkingDay!=1">
				<td>Monday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[1].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[1].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[2].isWorkingDay==1">
				<td>Tuesday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[2].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[2].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[2].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[2].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[2].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[2].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[2].isWorkingDay!=1">
				<td>Tuesday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[2].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[2].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[3].isWorkingDay==1">
				<td>Wednesday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[3].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[3].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[3].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[3].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[3].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[3].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[3].isWorkingDay!=1">
				<td>Wednesday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[3].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[3].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[4].isWorkingDay==1">
				<td>Thursday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[4].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[4].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[4].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[4].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[4].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[4].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[4].isWorkingDay!=1">
				<td>Thursday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[4].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[4].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[5].isWorkingDay==1">
				<td>Friday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[5].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[5].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[5].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[5].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[5].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[5].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[5].isWorkingDay!=1">
				<td>Friday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[5].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[5].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[6].isWorkingDay==1">
				<td>Saturday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[6].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[6].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[6].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[6].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[6].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[6].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[6].isWorkingDay!=1">
				<td>Saturday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[6].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[6].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				</table>
				</td>
				</tr>
				<tr>
				<td class="col-md-12" colspan="4"><b>Doctor Details</b></td>
				</tr>
				<tr>
				<td class="col-md-12" colspan="4">
				<table class="table">
				<thead>
				<tr>
				<th>Doctor Name</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="doctorDetails in clinicDetails.doctorsForms">
				<td>{{doctorDetails.doctorName}}</td>
				</tr>
				</tbody>
				<tbody ng-show="!clinicDetails.doctorsForms.length">
				<tr>
				<td colspan="1" align="center">No Doctors added</td>
				</tr>
				</tbody>
				</table>
				</td>
				</tr>			
			</table>
     
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
    </div>
  </div>
</div> 
<!--  Delete Cinic First Modal -->
<div class="modal fade" id="deleteClinicModal1" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">Are you sure to delete clinic?
              
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
             <a type="submit" class="btn btn-success"  data-dismiss="modal" ng-click="deleteClinicNormal()">Yes</a>
        </div>
      </div>
      
    </div>
 </div>

<!--  Delete Cinic Second Modal -->
<div class="modal fade" id="deleteClinicModal2" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">Some doctors are under this clinic. Do you still want to delete?
              
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
             <a type="submit" class="btn btn-success"  data-dismiss="modal" ng-click="deleteDoctorFromClinic()">Yes</a>
        </div>
      </div>
      
    </div>
 </div>
 <script>
$(function(){
	$("html,body").scrollTop(0);
});
</script>