<div class="row">
    <div class="col-lg-12">
        <a ui-sref="dashboard.add-clinic" class="btn-sm btn-primary pull-right margin-top-40" ng-show="isAdmin">Add Clinic</a>
        <h2 class="page-header">Clinics</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
<div flash-message="2000" class="col-md-5 pull-right"></div>
    <div class="col-lg-12">           
    
            <!-- /.panel-heading -->
            <div class="col-md-12">
                <div class="dataTable_wrapper">
                    <table class="table table-hover" id="dataTables-example">
                     
                          <thead>
	        <tr>
	            <th style="width:100px!important;" ng-mousedown="sort('clinicName')">Clinic Name <span class="glyphicon sort-icon" ng-show="sortKey=='clinicName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
         			 <th style="width:100px!important;" ng-mousedown="sort('address')">Address   <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
             	 <th style="width:100px!important;" ng-mousedown="sort('city')">City   <span class="glyphicon sort-icon" ng-show="sortKey=='city'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
              	
               <th style="width:80px!important;" ng-mousedown="sort('county')">County <span class="glyphicon sort-icon" ng-show="sortKey=='county'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
             <th width="120px!important">Action</th></tr>
	           
 <tr> 
    	 <th>  <input type="text"  class="form-control"  ng-model="search.clinicName" placeholder="Search by Clinic Name">
           </th>
         	<th>  <input type="text"  class="form-control"  ng-model="search.address" placeholder="Search by Address">
           </th>
            <th>  <input type="text"  class="form-control"  ng-model="search.city" placeholder="Search by City">
           </th>
           <th>  <input type="text"  class="form-control"  ng-model="search.county" placeholder="Search by County"></th>
             
            
           <th></th>
           </tr>
            </thead>
            
          
                         <tbody dir-paginate="clinic in clinics | filter:search | orderBy:sortKey:reverse|itemsPerPage:8 " >
	<tr>
	<td><a href="" ng-cloak ng-click="viewClinicDetails(clinic.clinicId)">{{clinic.clinicName}}</a></td>
<td ng-cloak>{{clinic.address}}</td>
		<td ng-cloak>{{clinic.city}}</td>
			<td ng-cloak>{{clinic.county}}</td>

                                   <td >
                                   <a href="" ng-cloak ng-click="viewClinicDetails(clinic.clinicId)" class="btn btn-xs btn-primary hint--top" data-hint="View Clinic"><i
								class="glyphicon glyphicon-eye-open"></i>
						</a>
                                   <a href="#/dashboard/edit-clinic/{{clinic.clinicId}}" ng-cloak data-hint="Edit Clinic" class="btn btn-xs btn-warning hint--top" ng-show="isAdmin"><i class="glyphicon glyphicon-edit"></i></a>
	<a href="#" ng-cloak ui-sref="dashboard.clinic" ng-mousedown="deleteClinic(clinic.clinicId)" data-hint="Delete Clinic" class="btn btn-xs btn-danger hint--top" ng-show="isAdmin"><i class="glyphicon glyphicon-trash"></i></a>
 <a href="" ng-cloak ng-click="viewDoctors(clinic.clinicId)" class="btn btn-xs btn-primary hint--top" data-hint="View Doctors"><i
								class="fa fa-user-md "></i>
						</a>	</td></tr>
</tbody>

  
<tbody ng-show="doctors.length==0">
				<tr>
				<td colspan="5" align="center">No Record Found</td>
				</tr>
				</tbody>
				
				
              </table>
              <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" >
    					</dir-pagination-controls>   
                </div>
            </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="modal fade" id="viewDoctors" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Doctors List</h4>
        </div>
        <div class="modal-body">
        
                     <table class="table table-hover">
				<thead>
				<tr>
				<th >Doctor Name</th>
				
				<th>Email Id</th>
				<th>Contact Number</th>
				<th>Specialist In</th>

				</tr>
				
				</thead>
				<tbody ng-repeat="doctorDetail in doctorDetails">
 				<tr>
				<td>{{doctorDetail.doctorName}}</td>
				<td>{{doctorDetail.emailId}}</td>
			<td>{{doctorDetail.contactNumber}}</td>
				<td>{{doctorDetail.specialistIn}}</td>
				</tr>

				</tbody>
				<tbody ng-show="!doctorDetails.length">
				<tr>
				<td colspan="5" align="center">No Record Found</td>
				</tr>
				</tbody>
			</table>
			<div class="modal-footer">
        <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
            
              
      </div>
        </div>
        </div>
      </div>
      
    </div>
    

 <!-- Clinic View  -->
  <div class="modal fade" id="viewClinicDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Clinic Details</h4>
      </div>
      <div class="modal-body">
	<table class="table table-striped table-bordered" >
			<tr>
					
						<td class="col-md-3" ><b>Clinic Name</b></td>
					<td class="col-md-3" ng-hide="clinicDetails.clinicName.length==0">{{clinicDetails.clinicName}}</td>
						<td class="col-md-3" ng-show="clinicDetails.clinicName.length==0">-</td>
					
					<td class="col-md-3"><b>Zip</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.zipcode.length==0">{{clinicDetails.zipcode}}</td>
						<td class="col-md-3" ng-show="clinicDetails.zipcode.length==0">-</td>
						
					
						
						
			</tr>
			
				<tr>
			<td class="col-md-3"><b>Address</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.address.length==0">{{clinicDetails.address}}</td>
						<td class="col-md-3" ng-show="clinicDetails.address.length==0">-</td>
			<td class="col-md-3"><b>Office Number</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.officeNumber.length==0">{{clinicDetails.officeNumber}}</td>
						<td class="col-md-3" ng-show="clinicDetails.officeNumber.length==0">-</td>
						
						
						
				</tr>
				<tr>
				<td class="col-md-3"><b>City</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.city.length==0">{{clinicDetails.city}}</td>
						<td class="col-md-3" ng-show="clinicDetails.city.length==0">-</td>
				<td class="col-md-3"><b>Fax Number</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.faxNumber.length==0">{{clinicDetails.faxNumber}}</td>
						<td class="col-md-3" ng-show="clinicDetails.faxNumber.length==0">-</td>
						
			
				</tr>
				<tr>
				<td class="col-md-3"><b>State</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.state.length==0">{{clinicDetails.state}}</td>
						<td class="col-md-3" ng-show="clinicDetails.state.length==0">-</td>
				
				<td class="col-md-3"><b>County</b></td>
					
						<td class="col-md-3" ng-hide="clinicDetails.county.length==0">{{clinicDetails.county}}</td>
						<td class="col-md-3" ng-show="clinicDetails.county.length==0">-</td>
				</tr>
				<tr>
				<td class="col-md-3"><b>Country</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.country.length==0" colspan="3">{{clinicDetails.country}}</td>
						<td class="col-md-3" ng-show="clinicDetails.country.length==0">-</td>
				</tr>
	<tr>
<td class="col-md-3"><b>Direction</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.direction.length==0" colspan="3">{{clinicDetails.directions}}</td>
						<td class="col-md-3" ng-show="clinicDetails.direction.length==0" colspan="3">-</td>
				
</tr>


<tr>
<td class="col-md-3"><b>Notes</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.notes.length==0" colspan="3">{{clinicDetails.notes}}</td>
						<td class="col-md-3" ng-show="clinicDetails.notes.length==0" colspan="3">-</td>
	</tr>
	<tr>
				<td class="col-md-3" colspan="4"><b>Working Days and Timing</b></td>
				</tr>
	<tr>
				<td class="col-md-12" colspan="4">
				<table class="table">
				<thead>
				<tr>
				<th>Day</th><th>Start Time</th><th>End Time</th>
				</tr>
				</thead>
				<tr ng-show="clinicDetails.clinicTimingList[0].isWorkingDay==1">
				<td>Sunday</td>
				<td>{{clinicDetails.clinicTimingList[0].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[0].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[1].isWorkingDay==1">
				<td>Monday</td>
				<td>{{clinicDetails.clinicTimingList[1].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[1].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[2].isWorkingDay==1">
				<td>Tuesday</td>
				<td>{{clinicDetails.clinicTimingList[2].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[2].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[3].isWorkingDay==1">
				<td>Wednesday</td>
				<td>{{clinicDetails.clinicTimingList[3].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[3].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[4].isWorkingDay==1">
				<td>Thursday</td>
				<td>{{clinicDetails.clinicTimingList[4].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[4].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[5].isWorkingDay==1">
				<td>Friday</td>
				<td>{{clinicDetails.clinicTimingList[5].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[5].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[6].isWorkingDay==1">
				<td>Saturday</td>
				<td>{{clinicDetails.clinicTimingList[6].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[6].endTime}}</td>
				</tr>
				</table>
				</td>
				</tr>				
			</table>
     
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
    </div>
  </div>
</div> 
<!--  Delete Cinic Modal -->
<div class="modal fade" id="deleteClinicModal2" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">Some doctors are under this clinic. Do you still want to delete?
              
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
             <a type="submit" class="btn btn-success"  data-dismiss="modal" ng-click="deleteDoctorFromClinic()">Yes</a>
        </div>
      </div>
      
    </div>
 </div>
 <script>
$(function(){
	$("html,body").scrollTop(0);
});
</script>