<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="row">
    <div class="row">
        <div class="col-lg-12">
         <div flash-message="2000" class="col-md-5 pull-right margin-top35"></div>
            <h2 class="page-header">Payment</h2>
           
        </div>
        <!-- /.col-lg-12 -->
 <div class="col-lg-3 col-md-6">
    <div ng-cloak class="panel panel-primary">
     <a ng-cloak href="" ui-sref="dashboard.viewpayments">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <i ng-cloak class="fa fa-money" style="font-size: 6em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                   <!--  <div ng-cloak class="huge">{{number}}</div> -->
                    <div ng-cloak>Payments</div>
                </div>
            </div>
        </div>
       	<div class="panel-footer">
                <span class="pull-left">View Payments</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
 <div class="col-lg-3 col-md-6">
    <div ng-cloak class="panel panel-primary">
     <a ng-cloak href="" ui-sref="dashboard.carddetails">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <i ng-cloak class="fa fa-credit-card" style="font-size: 6em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                   <!--  <div ng-cloak class="huge">{{number}}</div> -->
                    <div ng-cloak>Saved Credit Card</div>
                </div>
            </div>
        </div>
       	<div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
     </div>
 </div>
</body>
</html>