<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">admin@123</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.140:3306/injury</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping class="com.deemsys.project.entity.Staff" />
        <mapping class="com.deemsys.project.entity.Appointments" />
        <mapping class="com.deemsys.project.entity.CallScripts" />
        <mapping class="com.deemsys.project.entity.Doctors" />
        <mapping class="com.deemsys.project.entity.CallLogs" />
        <mapping class="com.deemsys.project.entity.Patients" />
        <mapping class="com.deemsys.project.entity.CrashReports" />
    </session-factory>
</hibernate-configuration>
