<div class="row">
	<div class="col-lg-12">
		 <a ui-sref="dashboard.add-lawyer-admin"
			class="btn-sm btn-primary pull-right margin-top-40"><i class="fa fa-plus-circle fa-lg"></i> Add Lawyer Admin</a>
			
		<div flash-message="2000" class="col-md-5 pull-right margin-top35"></div>
		<h2 class="page-header">Lawyer Admin</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	 		<!-- /.panel-heading -->
			<div class="col-md-12">
		

					<table class="table table-hover table-striped table-bordered">

						<thead>
							<tr>
								<th width="20%" ng-mousedown="sort('username')">Username&nbsp;&nbsp;<span
									class="glyphicon sort-icon" ng-show="sortKey=='username'"
									ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
								<th width="20%" ng-mousedown="sort('firstName')">Firstname&nbsp;&nbsp;<span
									class="glyphicon sort-icon" ng-show="sortKey=='firstName'"
									ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
								<th width="15%">Lastname</th>
								<th width="15%">Phone Number</th>
								<th width="17%">Email ID</th>

								<th width="13%">Actions</th>
						
							</tr>

							<tr>
								<th>
								<div class="input-group">
  								<span class="input-group-addon search" id="basic-addon1"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.username" placeholder="Username"></div></th>
								<th>
								<div class="input-group">
  								<span class="input-group-addon search" id="basic-addon2"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.firstName" placeholder="Firstname"></div></th>
								<th>
								<div class="input-group">
  								<span class="input-group-addon search" id="basic-addon3"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.lastName" placeholder="Lastname"></div></th>
								<th>
								<div class="input-group">
  								<span class="input-group-addon search" id="basic-addon4"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.phoneNumber" placeholder="Phone No"></div></th>
								<th>
								<div class="input-group">
  								<span class="input-group-addon search" id="basic-addon5"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.emailAddress" placeholder="Email ID"></div></th>
								<th></th>	
								
							</tr>
						</thead>
						<tbody >

							<tr ng-show="lawyerAdminFilter.length>0"  dir-paginate="lawyerAdmin in lawyerAdminFilter=(lawyerAdmins|filter:search|orderBy:sortKey:reverse)|itemsPerPage:noOfRows" pagination-id="lawyeradminpageId">
								<td class="wrap" ng-cloak>{{lawyerAdmin.username}}</td>
								<td class="wrap" ng-cloak>{{lawyerAdmin.firstName}}</td>
								<td class="wrap" ng-cloak>{{lawyerAdmin.lastName}}</td>

								<td class="wrap" ng-cloak>{{lawyerAdmin.phoneNumber}}</td>
								<td class="wrap" ng-cloak>{{lawyerAdmin.emailAddress}}</td>
								
								<td>
							<a href="#/dashboard/EditLawyerAdmin/{{lawyerAdmin.lawyerAdminId}}" ng-cloak class="btn btn-xs btn-warning hint--top" data-hint="Edit Lawyer Admin"><i
								class="glyphicon glyphicon-edit"></i>
						</a>
								<a href="" ng-cloak class="btn btn-xs btn-info hint--top" ng-click="viewRating(lawyerAdmin.userId)" data-hint="View Rating & Review"><i
								class="fa fa-star-o"></i>
						</a>
							<a href="" ng-cloak ng-show="lawyerAdmin.status==1" ng-click="enableOrDisableLawyerAdmin(lawyerAdmin.lawyerAdminId)" class="btn btn-xs btn-success hint--top" data-hint="Disable Lawyer Admin"><i
								class="fa fa-unlock-alt"></i>
						</a>
								<a href="" ng-cloak ng-show="lawyerAdmin.status==0" ng-click="enableOrDisableLawyerAdmin(lawyerAdmin.lawyerAdminId)" class="btn btn-xs btn-danger hint--top" data-hint="Enable Lawyer Admin"><i
								class="fa fa-lock"></i>
						</a>
						<a href="" ng-cloak ng-click="resetPassword(lawyerAdmin.lawyerAdminId)" class="btn btn-xs btn-primary hint--top" data-hint="Reset Password"><i
								class="fa fa-key"></i>
						</a>
								
							 </td>
							</tr>
							<tr ng-show="!lawyerAdminFilter.length"><td colspan="6" align="center">No Records Found</td></tr>
						</tbody>
						
					</table>
					<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ng-show="lawyerAdminFilter.length>0" pagination-id="lawyeradminpageId">
    					</dir-pagination-controls>
    					 <div class="col-md-3 pull-right no-padding" ng-show="lawyerAdminFilter.length>0">
<label>Number of Records</label>
	<select
		class="form-control" ng-model="noOfRows" name="noOfRows"
		id="noOfRows">
		<option value="10">Show 10 Per Page</option>
		<option value="25">Show 25 Per Page</option>
		<option value="50">Show 50 Per Page</option>
		<option value="100">Show 100 Per Page</option>
		<option value="{{lawyerAdmins.length}}">Show All</option>
	</select>    
			</div>
		<!-- /.panel -->
		</div>
	<!-- /.col-lg-12 -->
</div>

  <div class="modal fade" id="resetLawyerAdminPassword" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation </h4>
        </div>
        <div class="modal-body">Do you want to Reset the Password?
              
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
             <a type="submit" class="btn btn-success"  data-dismiss="modal" ng-disabled='myForm.$invalid' ng-click="resetLawyerAdminPassword()">Yes</a>
        </div>
      </div>
      
    </div>
 </div>
  <!-- View Rating Modal -->
 <div class="modal fade" id="viewRatingModal" role="dialog">
    <div class="modal-dialog modal-lg">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Rating & Review </h4>
        </div>
        <div class="modal-body">
              <table class="table table-stripped" ng-show="isAvailable">
              <tr>
              <td width="50%">1. Speed/Performance</td>
              <td width="20%"><div class="star-ratings-sprite"><span ng-style="ratingQ1Style" class="rating"></span></div></td>
              <td width="20%"><span>{{ratingQ1}} Out of 5</span></td>
              </tr>
              <tr>
              <td width="50%">2. Organising and Accuracy of Data</td>
              <td width="20%"><div class="star-ratings-sprite"><span ng-style="ratingQ2Style" class="rating"></span></div></td>
              <td width="20%"><span>{{ratingQ2}} Out of 5</span></td>
              </tr>
              <tr>
              <td width="50%">3. Effectiveness and Efficiency of Information Search</td>
              <td width="20%"><div class="star-ratings-sprite"><span ng-style="ratingQ3Style" class="rating"></span></div></td>
              <td width="20%"><span>{{ratingQ3}} Out of 5</span></td>
              </tr>
              <tr>
              <td width="50%">4. User Friendliness</td>
              <td width="20%"><div class="star-ratings-sprite"><span ng-style="ratingQ4Style" class="rating"></span></div></td>
              <td width="20%"><span>{{ratingQ4}} Out of 5</span></td>
              </tr>
              <tr>
              <td width="50%">5. Features & Functionality</td>
              <td width="20%"><div class="star-ratings-sprite"><span ng-style="ratingQ5Style" class="rating"></span></div></td>
              <td width="20%"><span>{{ratingQ5}} Out of 5</span></td>
              </tr>
               <tr>
              <td width="50%">Aesthetics</td>
              <td colspan="2">{{reviewQ1}}</td>
              </tr>
               <tr>
              <td width="50%">Ease of Use</td>
              <td colspan="2">{{reviewQ2}}</td>
              </tr>
               <tr>
              <td width="50%">User Satisfaction</td>
              <td colspan="2">{{reviewQ3}}</td>
              </tr>
               <tr>
              <td width="50%">Overall Review</td>
              <td colspan="2">{{reviewQ4}}</td>
              </tr>
              </table>
              <div ng-show="!isAvailable" style="text-align:center !important;"><b>No Rating & Review Found</b></div>
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
 </div>