<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Dashboard</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <stats number="2383" comments="Staff" colour="green" type="user" goto="dashboard.staff"></stats>
        <stats number="759" comments="Doctors" colour="primary" type="user-md" goto="dashboard.doctor"></stats>
        <stats number="8794" comments="Patients" colour="yellow" type="male" goto="dashboard.patient"></stats>
        <stats number="85682" comments="Appointments" colour="red" type="hospital-o" goto="dashboard.appointment"></stats>
    </div>
    
    <!-- /.panel -->
    <!--<div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                &lt;!&ndash; /.panel-heading &ndash;&gt;
                <timeline></timeline>
                &lt;!&ndash; /.panel-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.panel &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-8 &ndash;&gt;
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                &lt;!&ndash; /.panel-heading &ndash;&gt;
                <notifications></notifications> 
                &lt;!&ndash; /.panel-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.panel &ndash;&gt;

            <chat></chat>
             &lt;!&ndash; /.panel .chat-panel &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-4 &ndash;&gt;
    </div>-->
    <!-- /.row -->
</div>
