<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Dashboard</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" ng-cloak>
    	 <!-- SuperAdmin Dashboard Starts-->
    	<stats ng-cloak number="{{numberCallerAdmin}}" comments="Call Center Admin" colour="primary" type="user" goto="dashboard.CallerAdmin" ng-show="{{isAdmin==1}}"></stats>
        <stats ng-cloak number="{{numberLawyerAdmin}}" comments="Lawyer Admin" colour="green" type="user" goto="dashboard.LawyerAdmin" ng-show="{{isAdmin==1}}"></stats>
        <stats ng-cloak number="{{numberCrashReport}}" comments="Crash Report" colour="yellow" type="file" goto="dashboard.SearchCrashreport" ng-show="{{isAdmin==1}}"></stats>
        <stats ng-cloak number="{{numberPatient}}" comments="Search Patients" colour="red" type="search" goto="dashboard.SearchPatients" ng-show="{{isAdmin==1}}"></stats>
    
    <!-- SuperAdmin Dashboard Ends-->
    
    <!-- Lawyer Admin Dashboard Starts-->  
        <stats ng-cloak number="{{numberLawyer}}" comments="Lawyers" colour="primary" type="users" goto="dashboard.Lawyer" ng-show="{{isAdmin==3}}"></stats>
        <stats ng-cloak number="{{numberPatients}}" comments="Patients" colour="green" type="search" goto="dashboard.LawyerAdminSearchPatients" ng-show="{{isAdmin==3}}"></stats>
    <!-- Lawyer Admin Dashboard Ends-->
    
    
    <!-- Caller Admin Dashboard Starts-->
        <stats ng-cloak number="{{numberOfCallers}}" comments="Callers" colour="primary" type="user" goto="dashboard.callers" ng-show="{{isAdmin==2}}"></stats>
        <stats ng-cloak number="{{numberOfClinics}}" comments="Clinics" colour="green" type="hospital-o" goto="dashboard.clinic" ng-show="{{isAdmin==2}}"></stats>
        <stats ng-cloak number="{{numberOfAppointments}}" comments="Appointments" colour="yellow" type="calendar" goto="dashboard.appointment" ng-show="{{isAdmin==2}}"></stats>
        <stats ng-cloak number="{{numberOfPatients}}" comments="Patients" colour="red" type="male" goto="dashboard.callerAdminSearchPatients" ng-show="{{isAdmin==2}}"></stats>
      <!-- Caller Admin Dashboard Ends-->   
      
      
      <!-- Caller Dashboard Starts -->
       <stats ng-cloak number="{{numberPatients}}" comments="Patients" colour="primary" type="search" goto="dashboard.CallerSearchPatients" ng-show="{{isAdmin==4}}"></stats>
        <stats ng-cloak number="{{numberOfClinics}}" comments="Clinics" colour="green" type="hospital-o" goto="dashboard.clinics" ng-show="{{isAdmin==4}}"></stats>
      <!-- Caller Dashboard Ends -->
      
      <!-- Lawyer Dashboard Starts -->
       <stats ng-cloak number="{{numberPatients}}" comments="Patients" colour="primary" type="search" goto="dashboard.LawyerSearchPatients" ng-show="{{isAdmin==5}}"></stats>
      <!-- Lawyer Dashboard Ends -->
     </div>
    
    
    
    <!-- /.panel -->
    <!--<div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                &lt;!&ndash; /.panel-heading &ndash;&gt;
                <timeline></timeline>
                &lt;!&ndash; /.panel-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.panel &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-8 &ndash;&gt;
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                &lt;!&ndash; /.panel-heading &ndash;&gt;
                <notifications></notifications> 
                &lt;!&ndash; /.panel-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.panel &ndash;&gt;

            <chat></chat>
             &lt;!&ndash; /.panel .chat-panel &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-4 &ndash;&gt;
    </div>-->
    <!-- /.row -->
</div>
