
<div class="row">
    <div class="row">
        <div class="col-lg-12">
         <div flash-message="2000" class="col-md-5 pull-right margin-top35"></div>
            <h2 class="page-header">Home</h2>
           
        </div>
        <!-- /.col-lg-12 -->
     </div>
    <!-- /.row -->
    <div ng-cloak>
    	 <!-- SuperAdmin Dashboard Starts-->
    	<stats ng-cloak number="{{numberCallerAdmin}}" comments="Call Center Admin" colour="primary" type="user" goto="dashboard.calleradmin" ng-show="{{isAdmin==1}}"></stats>
        <stats ng-cloak number="{{numberLawyerAdmin}}" comments="Lawyer Admin" colour="primary" type="lawyer-icon" goto="dashboard.LawyerAdmin" ng-show="{{isAdmin==1}}"></stats>
        <stats ng-cloak number="{{numberCrashReport}}" comments="Crash Report" colour="primary" type="file" goto="dashboard.SearchCrashreport" ng-show="{{isAdmin==1}}"></stats>
        <stats ng-cloak number="{{numberPatient}}" comments="Search Clients" colour="primary" type="patient-icon" goto="dashboard.SearchPatients" ng-show="{{isAdmin==1}}"></stats>
    	<stats ng-cloak number="{{numberDealerManager}}" comments="Dealer Manager" colour="primary" type="user-circle-o" goto="dashboard.automanager" ng-show="{{isAdmin==1}}"></stats>
    <!-- SuperAdmin Dashboard Ends-->
    
    <!-- Lawyer Admin Dashboard Starts-->
    <div class="col-lg-12" style="height:470px;" ng-show="{{isAdmin==3}}">
    <div class="col-lg-12" style="margin-top:60px;">
    <div class="col-lg-2 col-md-6"></div>
    <div class="col-lg-3 col-md-6">
    <div ng-cloak class="panel panel-primary" style="min-height:300px;">
     <a ng-cloak ui-sref="dashboard.Lawyer">
        <div class="panel-heading" style="min-height:300px;">
            <div class="row">
                <div class="col-xs-12 text-center lawyer-icon" style="min-height:180px;">
                    <i ng-cloak class="fa fa-lawyer-icon" style="font-size: 13em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div ng-cloak class="huge">{{numberLawyer}}</div>
                    <div ng-cloak>Lawyers</div>
                </div>
            </div>
        </div>
       	<div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div> 
<div class="col-lg-2 col-md-6"></div>
 <div class="col-lg-3 col-md-6">
    <div ng-cloak class="panel panel-primary" style="min-height:300px;">
     <a ng-cloak ui-sref="dashboard.LawyerAdminSearchPatients">
        <div class="panel-heading" style="min-height:300px;">
            <div class="row">
                <div class="col-xs-12 text-center patient-icon" style="min-height:180px;">
                    <i ng-cloak class="fa fa-patient-icon" style="font-size: 13em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div ng-cloak class="huge">{{numberPatients}}</div>
                    <div ng-cloak>Clients</div>
                </div>
            </div>
        </div>
       	<div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div> 
</div>
 </div>     
    <!-- Lawyer Admin Dashboard Ends-->
    
    
    <!-- Caller Admin Dashboard Starts-->
     <stats  ng-cloak number="{{numberOfCallers}}" comments="Callers" colour="primary" type="user" goto="dashboard.callers" ng-show="{{isAdmin==2}}"></stats>
   <stats ng-cloak number="{{numberOfClinics}}" comments="Clinics" colour="primary" type="clinic-icon" goto="dashboard.clinic" ng-show="{{isAdmin==2}}"></stats>
        <stats  ng-cloak number="{{numberOfAppointments}}" comments="Appointments" colour="primary" type="calendar" goto="dashboard.appointment" ng-show="{{isAdmin==2}}"></stats>
        <stats ng-cloak number="{{numberOfPatients}}" comments="Patients" colour="primary" type="patient-icon" goto="dashboard.callerAdminSearchPatients" ng-show="{{isAdmin==2}}"></stats>
      <!-- Caller Admin Dashboard Ends-->   
      
      
      <!-- Caller Dashboard Starts -->
       <stats ng-cloak number="{{numberPatients}}" comments="Patients" colour="primary" type="patient-icon" goto="dashboard.CallerSearchPatients" ng-show="{{isAdmin==4}}"></stats>
        <stats ng-cloak number="{{numberOfClinics}}" comments="Clinics" colour="primary" type="clinic-icon" goto="dashboard.clinics" ng-show="{{isAdmin==4}}"></stats>
      <!-- Caller Dashboard Ends -->
      
      <!-- Lawyer Dashboard Starts -->
       <stats ng-cloak number="{{numberPatients}}" comments="Clients" colour="primary" type="patient-icon" goto="dashboard.LawyerSearchPatients" ng-show="{{isAdmin==5}}"></stats>
      <!-- Lawyer Dashboard Ends -->
      
      
       <!-- Auto Dealer Manager Dashboard Starts-->
    <div class="col-lg-12" style="height:470px;" ng-show="{{isAdmin==6}}">
    <div class="col-lg-12" style="margin-top:60px;">
    <div class="col-lg-2 col-md-6"></div>
    <div class="col-lg-3 col-md-6">
    <div ng-cloak class="panel panel-primary" style="min-height:300px;">
     <a ng-cloak ui-sref="dashboard.autoDealer">
        <div class="panel-heading" style="min-height:300px;">
            <div class="row">
                <div class="col-xs-12 text-center dealer-icon" style="min-height:180px;">
                    <i ng-cloak class="fa fa-dealer-icon" style="font-size: 13em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div ng-cloak class="huge">{{numberOfDealers}}</div>
                    <div ng-cloak>Dealers</div>
                </div>
            </div>
        </div>
       	<div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div> 
<div class="col-lg-2 col-md-6"></div>
 <div class="col-lg-3 col-md-6">
    <div ng-cloak class="panel panel-primary" style="min-height:300px;">
     <a ng-cloak ui-sref="dashboard.autoDealerVehicleSearch">
        <div class="panel-heading" style="min-height:300px;">
            <div class="row">
                <div class="col-xs-12 text-center vehicle-icon" style="min-height:180px;">
                    <i ng-cloak class="fa fa-vehicle-icon" style="font-size: 13em;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div ng-cloak class="huge">{{numberOfVehicles}}</div>
                    <div ng-cloak>Vehicles</div>
                </div>
            </div>
        </div>
       	<div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div> 
</div>
 </div>  
  
 <!--  Auto Dealer Dashboard Starts -->
  <stats ng-cloak number="{{numberOfVehicles}}" comments="Vehicles" colour="primary" type="vehicle-icon" goto="dashboard.autoDealerVehicleSearch" ng-show="{{isAdmin==7}}"></stats>
 <!--  Auto Dealer Dashboard Ends -->
</div>
      
    <!-- Auto Dealer Manager Dashboard Ends-->
    
    <!-- /.panel -->
    <!--<div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                &lt;!&ndash; /.panel-heading &ndash;&gt;
                <timeline></timeline>
                &lt;!&ndash; /.panel-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.panel &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-8 &ndash;&gt;
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                &lt;!&ndash; /.panel-heading &ndash;&gt;
                <notifications></notifications> 
                &lt;!&ndash; /.panel-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.panel &ndash;&gt;

            <chat></chat>
             &lt;!&ndash; /.panel .chat-panel &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-4 &ndash;&gt;
    </div>-->
    <!-- /.row -->
</div>

<!-- Chnage Password Modal -->
<div class="modal fade" id="changePasswordModal" role="dialog" data-backdrop="static" 
   data-keyboard="false" >
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
      <form name="changePasswordModalForm" novalidate>
        <div class="modal-header">
          <button type="button" class="close" ng-click="showAlert();">&times;</button>
          <h4 class="modal-title">Change Password </h4>
        </div>
        <div class="modal-body">
        	 <label >Current Password</label>
                                   <input type="password" id="password" name="password" class="form-control" ng-model="user.password"  placeholder="Enter Current Password" password validate-password required>
                                
                                 <span class="error-container" ng-show="changePasswordModalForm.password.$dirty && changePasswordModalForm.password.$invalid">
                                <span ng-cloak style="color:red" ng-show="changePasswordModalForm.password.$error.required">Please Enter the Current Password</span>
                               	 <span ng-cloak style="color:red" ng-show="!changePasswordModalForm.password.$error.required&&changePasswordModalForm.password.$error.validatePassword">Accept Only Alpha Numeric and !@#$%^&*()_+-=[]{};":|.,/<>?</span>
                               <span ng-cloak style="color:red" ng-show="!changePasswordModalForm.password.$error.validatePassword&&changePasswordModalForm.password.$error.password">Invalid Current Password
    							</span>
                              	</span>
                                    <br/>
        	 <label>New Password</label>
                                   <input type="password" id="newpassword" name="newpassword" class="form-control" ng-model="user.newpassword" placeholder="Enter New Password" validate-password required>
                                     <span class="error-container" ng-show="changePasswordModalForm.newpassword.$dirty && changePasswordModalForm.newpassword.$invalid">
                                <span ng-cloak style="color:red" ng-show="changePasswordModalForm.newpassword.$error.required">Please Enter the New Password</span>
                                <span ng-cloak style="color:red" ng-show="!changePasswordModalForm.newpassword.$error.required&&changePasswordModalForm.newpassword.$error.validatePassword">Accept Only Alpha Numeric and !@#$%^&*()_+-=[]{};":|.,/<>?</span>
                              </span>
                                    <br/>
        	
                                    <label>Confirm Password</label>
                                   <input type="password" compare-to="user.newpassword" id="confirmpassword" name="confirmpassword" class="form-control" ng-model="user.confirmpassword" placeholder="Enter Confirm Password" validate-password required>

                                   
                                    <span class="error-container" ng-show="changePasswordModalForm.confirmpassword.$dirty && changePasswordModalForm.confirmpassword.$invalid">
                               <span ng-cloak style="color:red" ng-show="changePasswordModalForm.confirmpassword.$error.required">Please Enter the Confirm Password</span>
                               <span ng-cloak style="color:red" ng-show="!changePasswordModalForm.confirmpassword.$error.required&&changePasswordModalForm.confirmpassword.$error.validatePassword">Accept Only Alpha Numeric and !@#$%^&*()_+-=[]{};":|.,/<>?</span>
                               <span ng-cloak style="color:red" ng-show="!changePasswordModalForm.confirmpassword.$error.validatePassword&&changePasswordModalForm.confirmpassword.$error.compareTo">Please Enter the Confirm Password</span>
                              </span>
                                   <br/>
        </div>
        <div class="modal-footer" >
         	<!--  <button type="close" class="btn btn-danger" ng-click="showAlert();">Cancel</button> -->
         	<span class="error-container pull-left" style="color:red" ng-show="isShowCloseError">{{isModalCloseError}}</span>
             <a href="" type="submit" class="btn btn-success"  data-dismiss="modal" ng-disabled='changePasswordModalForm.$invalid' ng-click="changePassword()">Change</a>
        </div>
        </form>
      </div>
      
    </div>
 </div>