/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}

.margin-top-30{
    margin-top: 30px !important;
}

.navbar-blue {
    background-color: #1A4D81;
}
.navbar-blue .navbar-brand {
    color: #fff;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-blue .navbar-text {
    color: #777;
}
.navbar-blue .navbar-nav > li > a {
    color: #777;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-blue .navbar-nav > .disabled > a,
.navbar-blue .navbar-nav > .disabled > a:hover,
.navbar-blue .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-blue .navbar-toggle {
    border-color: #ddd;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-blue .navbar-toggle .icon-bar {
    background-color: #ddd;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
    border-color: #e7e7e7;
}
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-blue .navbar-link {
    color: #777;
}
.navbar-blue .navbar-link:hover {
    color: #333;
}

.nav > li > a.dropdown-toggle {
    color:#fff ;
}

.nav > li > a.dropdown-toggle:hover{
    color:#1A4D81 ;
}

.nav .open > a.dropdown-toggle,
.nav .open > a.dropdown-toggle:focus {
    color: #1A4D81;
}

.panel-green {
    border-color: #00b200;
}
.panel-green > .panel-heading {
    color: #fff;
    background-color: #00b200;
    border-color: #00b200;
}
.panel-green > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #00b200;
}
.panel-green > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #00b200;
}

.margin-top-40{
    margin-top: 40px !important;
}

.margin-top-20{
    margin-top: 20px !important;
}

.height-100{
    height: 100px !important;
}
