/* Space out content a bit */
body {
    padding-bottom: 20px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/*For sapce between two buttons*/
.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}
/*space between two column*/
table tr td:empty {
    width: 50px;
}

table tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}

table tbody tr{
    background-color: transparent;
}

.table > thead {
    background-color: #eee !important;
}

.no-padding{
	padding:0!important;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.button-disable{
	pointer-events:none;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}

.margin-top-30{
    margin-top: 30px !important;
}

.margin-top-5{
    margin-top: 5px !important;
}

.margin-top-10{
    margin-top: 10px !important;
}

.margin-bottom-10{
    margin-bottom: 10px !important;
}

.hr-tag-alter{
	margin:10px 0;
	border-bottom:1px solid #eee
}

.navbar-blue {
    background-color: #1A4D81;
}
.navbar-blue .navbar-brand {
    color: #fff;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-blue .navbar-text {
    color: #777;
}
.navbar-blue .navbar-nav > li > a {
    color: #777;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-blue .navbar-nav > .disabled > a,
.navbar-blue .navbar-nav > .disabled > a:hover,
.navbar-blue .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-blue .navbar-toggle {
    border-color: #ddd;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-blue .navbar-toggle .icon-bar {
    background-color: #ddd;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
    border-color: #e7e7e7;
}
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-blue .navbar-link {
    color: #777;
}
.navbar-blue .navbar-link:hover {
    color: #333;
}

.nav > li > a.dropdown-toggle {
    color:#fff ;
}

.nav > li > a.dropdown-toggle:hover{
    color:#1A4D81 ;
}

.nav .open > a.dropdown-toggle,
.nav .open > a.dropdown-toggle:focus {
    color: #1A4D81;
}

.panel-green {
    border-color: #00b200;
}
.panel-green > .panel-heading {
    color: #fff;
    background-color: #00b200;
    border-color: #00b200;
}
.panel-green > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #00b200;
}
.panel-green > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #00b200;
}

.margin-top-40{
    margin-top: 40px !important;
}

.margin-top-20{
    margin-top: 20px !important;
}

.height-100{
    height: 100px !important;
}
a:hover{
	text-decoration: none !important;
}
.margin-left-10{
	margin-left: 10px;
}
.red{background:#D63333;-webkit-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);-moz-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);-o-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);border-radius:3px;color:#fff;padding:3px 7px}
.red:active,.red:hover{background:#D63333;color:#fff}
.green{background:#8AB800;border-radius:3px;color:#fff;-webkit-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);-moz-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);-o-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);padding:3px 7px}
.green:active,.green:hover{background:#9C0;color:#fff}
.skyblue{background:#19A3FF;border-radius:3px;color:#fff;-webkit-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);-moz-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);-o-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);padding:3px 7px}
.skyblue:active,.skyblue:hover{background:#19A3FF;color:#fff}
.blue{-webkit-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);-moz-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);-o-box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);box-shadow:inset -1px -1px 5px 0 rgba(255,255,255,.5);background:#939;border-radius:3px;color:#fff;padding:3px 7px}
.blue:active,.blue:hover{background:#A347A3;color:#fff}

<!-- Panel -->
.userPanel{
font-size: 14px !important;
padding:5px !important;
background-color:grey !important;
border-radius:4px !important;	
}

/** notifications **/
.notify {
  display: block;
  background: #fff;
  padding: 12px 15px;
  border-radius:5px;
  max-width: 90%;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px;
  color: #fff;
}

#success.notify {
  background: #6BB224;
}

#error.notify {
  background: #CC2900;
}

#error.notify a{
  color: #fff;
  font-weight: bold;
}


.notify .close{
  color: #fff;
  font-size: 12px;
  opacity: 0.7;
  font-weight: 600;
  position: relative;
}

.notify .body-content{
    position: relative;
  top:-2px !important;
}

#success i{
  font-size: 22px;
}

.error-icon{
  font-size: 20px;
  font-weight: bolder;
  padding: 0px 5px;
}

.notify h1 { 
    text-align:center;
    margin-bottom: 6px;
    font-size:20px;
}



/* tooptip */

/*! Hint.css - v1.3.5 - 2015-06-16
* http://kushagragour.in/lab/hint/
* Copyright (c) 2015 Kushagra Gour; Licensed MIT */

.hint, [data-hint] {
  position: relative;
  display: inline-block;
  }
  .hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms; }
  .hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after, [data-hint]:hover:before, [data-hint]:hover:after, [data-hint]:focus:before, [data-hint]:focus:after {
    visibility: visible;
    opacity: 1; }
  .hint:hover:before, .hint:hover:after, [data-hint]:hover:before, [data-hint]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms; }
  .hint:before, [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001; }
  .hint:after, [data-hint]:after {
    content: attr(data-hint);
    background: #383838;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap; }

.hint--top:before {
  border-top-color: #383838; }

.hint--bottom:before {
  border-bottom-color: #383838; }

.hint--left:before {
  border-left-color: #383838; }

.hint--right:before {
  border-right-color: #383838; }

.hint--top:before {
  margin-bottom: -12px; }
.hint--top:after {
  margin-right: -10px; }
.hint--top:before, .hint--top:after {
  right: 25%;
    bottom: 100% }
.hint--top:hover:after, .hint--top:hover:before, .hint--top:focus:after, .hint--top:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

/* Left Align Start */

.hint--lefter:before {
   border-top-color: #383838; }
.hint--lefter:before {
  margin-bottom: -12px; }
.hint--lefter:after {
  margin-right: -70px; }
.hint--lefter:before, .hint--lefter:after {
  bottom: 100%;
  right: 0%; }
.hint--lefter:hover:after, .hint--lefter:hover:before, .hint--lefter:focus:after, .hint--lefter:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

/* Left Align End */
.hint, [data-hint] {
}
  .hint:after, [data-hint]:after {
    text-shadow: 0 -1px 0px black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }
/* Div Padding Left  */
.whole-div{
	background:#fff;padding-left:0!important;
}
/* Space Between Two Div */
.bottomspace{
	padding-bottom:20px!important
}
.wrap{
	word-break: break-all!important;
}
.white-color-bg{
	background-color: white !important;
}
input[type=text]::-ms-clear { display: none; }

.errorText{
	color:#e60000;
}
.successText{
	color:green;
}
.warningText{
	color:#ffcc00;
}
.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:green;
   color:white;
   width:20px;height:20px;
   text-align:center;
   line-height:20px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
.redText{
	color:red;
}


.wrap{
	word-wrap: break-word !important;
}

.margin-top35{
	margin-top: 40px;
}

.search{
	background-color:#1A4D81;
	color: #fff; 
}
.group-header-back{
	background-color:rgba(0, 109, 204,0.05)!important;
}
.patient-count-circle{
	height:20px;
	border-radius:3px;
	padding:2px 7px;
	text-align:center;
	font-size:12px;
	color:#fff;
	background-color:#006dcc;
}
