<div class="row">
	<div class="col-lg-12">
		<div flash-message="2000" class="col-md-5 pull-right margin-top35"></div>
		<h2 class="page-header">Settings</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<!-- /.panel-heading -->
	<div class="col-md-12">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="/#collapse1">Look up preferences</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">						
							<div class="col-md-12">
							<fieldset>
							<legend>Counties</legend>
								<div class="col-md-12">
									<div class="col-md-2">
										<label class="checkbox"> <input type="checkbox"
											id="checkAll" ng-click="isChecked()">Select All
										</label>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />County 1
										</label>
									</div>
									
								</div>
								</fieldset>
							</div>
						<div class="col-md-12 margin-top-20">
							<fieldset>
								<legend>Tiers</legend>
								<div class="col-md-12">
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />Tier 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />Tier 2
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />Tier 3
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />Tier 4
										</label>
									</div>
									
								</div>
							</fieldset>
						</div>

						<div class="col-md-12 margin-top-20">
							<fieldset>
								<legend>Age</legend>
								<div class="col-md-12">
									<div class="col-md-2">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />Adults
										</label>
									</div>
									<div class="col-md-2">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />Minors
										</label>
									</div>
									<div class="col-md-2">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											value="" name="group" />Not Known
										</label>
									</div>
								</div>
							</fieldset>
						</div>

					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="/#collapse2">Export Preferences</a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="col-md-12">
						<div class="col-md-3"></div>
							<div class="col-md-3">
							<p>List of Fields</p>
								<div ui-sortable="sortableOptionsList[0]"
									class="apps-container screen floatleft"
									ng-model="rawScreens[0]">
									<div class="app" ng-repeat="app in rawScreens[0]">{{$index}}
										{{app.title}}</div>
									<p style="text-align:center;line-height:250px;" ng-show="rawScreens[0].length==0">All Fields are Added</p>
								</div>
							</div>
							<div class="col-md-3">
							<p>Excel Fields</p>
								<div ui-sortable="sortableOptionsList[1]"
									class="apps-container screen floatleft"
									ng-model="rawScreens[1]">
									<div class="app" ng-repeat="app in rawScreens[1]">{{$index}}
										{{app.title}}</div>
										<p style="text-align:center;line-height:250px;" ng-show="rawScreens[1].length==0">Drag & Drop the Fields</p>
								</div>
								<div style="clear: both;"></div>
							</div>
						<div class="col-md-3"></div>
	</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.panel -->
</div>

<style>
label {
	font-weight: normal;
}

legend {
	font-size: 14px;
	font-weight: bold;
}

.apps-container {
  border: 1px solid grey;
  margin: 10px 10px 0 0;
  padding: 5px;
  min-height:300px;
}

.app {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  border: 1px solid #cccccc;
  border-radius: 1px;
  background-color: #f2f2f2;
  font-size: 1.1em;
  cursor: move;
}


</style>