<div class="row" id="topdiv">
	<div class="col-lg-12">
		<h2 class="page-header">Settings</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<!-- /.panel-heading -->
	<div class="col-md-12">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="/#collapse1">Look up preferences</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">						
							<div class="col-md-12">
							<fieldset>
							<legend>Counties</legend>
								<div class="col-md-12">
									<div class="col-md-2">
										<label class="checkbox"> <input type="checkbox"
											id="checkAll" ng-click="isChecked()">Select All
										</label>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-2" ng-repeat="county in countyform">
								      <label class="checkbox" for="{{county.countyId}}"> 
								        <input type="checkbox" value="{{county.countyId}}" name="countygroup" id="{{county.countyId}}" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[0].preferredId.indexOf(county.countyId)>-1" ng-click="selectedCounties(county.countyId)"/>
								        {{county.countyName}}
								      </label>
								    </div>
								</div>
								</fieldset>
							</div>
						<div class="col-md-12 margin-top-20">
							<fieldset>
								<legend>Tiers</legend>
								<div class="col-md-12">
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											name="tier1" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[1].preferredId.indexOf(1)>-1" ng-click="selectedTier(1)" />Tier 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											name="tier2" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[1].preferredId.indexOf(2)>-1" ng-click="selectedTier(2)" />Tier 2
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											name="tier3" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[1].preferredId.indexOf(3)>-1" ng-click="selectedTier(3)"/>Tier 3
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											name="tier4" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[1].preferredId.indexOf(4)>-1" ng-click="selectedTier(4)"/>Tier 4
										</label>
									</div>
									
								</div>
							</fieldset>
						</div>
						
						<div class="col-md-12 margin-top-20">
							<fieldset>
								<legend>Age</legend>
								<div class="col-md-12">
									<div class="col-md-2">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											name="adults" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[2].preferredId.indexOf(1)>-1" ng-click="selectedAge(1)"/>Adults
										</label>
									</div>
									<div class="col-md-2">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											name="minors" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[2].preferredId.indexOf(2)>-1" ng-click="selectedAge(2)"/>Minors
										</label>
									</div>
									<div class="col-md-2">
										<!-- ng-repeat="county in callerAdmin.countyForms" -->
										<label class="checkbox"> <input type="checkbox"
											 name="notknown" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[2].preferredId.indexOf(3)>-1" ng-click="selectedAge(3)"/>Not Known
										</label>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-md-12 margin-top-20">
							<hr/>
							<div class="col-md-12">
								<div class="col-md-5"></div>
								<div flash-message="2000" class="col-md-4 text-right"></div>
								<div class="col-md-2 text-right">
                					<a class="btn btn-success" ng-click="saveUserLookupPreferences()">Save</a>
              						<a ui-sref="dashboard.home"  class="btn btn-danger" >Cancel</a><br/><br/>
              					</div>
           					</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="/#collapse2">Export Preferences</a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="col-md-12">
						<div class="col-md-3"></div>
							<div class="col-md-3">
							<p>List of Fields</p>
								<div ui-sortable="sortableOptionsList[0]"
									class="apps-container screen floatleft"
									ng-model="rawScreens[0]">
									<div class="app" ng-repeat="app in rawScreens[0]">{{$index}}
										{{app.title}}</div>
									<p style="text-align:center;line-height:250px;" ng-show="rawScreens[0].length==0">All Fields are Added</p>
								</div>
							</div>
							<div class="col-md-3">
							<p>Excel Fields</p>
								<div ui-sortable="sortableOptionsList[1]"
									class="apps-container screen floatleft"
									ng-model="rawScreens[1]">
									<div class="app" ng-repeat="app in rawScreens[1]">{{$index}}
										{{app.title}}</div>
										<p style="text-align:center;line-height:250px;" ng-show="rawScreens[1].length==0">Drag & Drop the Fields</p>
								</div>
								<div style="clear: both;"></div>
							</div>
						<div class="col-md-3"></div>
	</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.panel -->
</div>

<style>
label {
	font-weight: normal;
}

legend {
	font-size: 14px;
	font-weight: bold;
}

.apps-container {
  border: 1px solid grey;
  margin: 10px 10px 0 0;
  padding: 5px;
  min-height:300px;
}

.app {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  border: 1px solid #cccccc;
  border-radius: 1px;
  background-color: #f2f2f2;
  font-size: 1.1em;
  cursor: move;
}


</style>