<div class="row" id="topdiv">
	<div class="col-lg-12">
		<div flash-message="2000" class="col-md-5 pull-right margin-top35"></div>
		<h2 class="page-header">Settings</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<!-- /.panel-heading -->
	<div class="col-md-12">
		<div class="panel-group" id="accordion">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="/#collapse1" ng-click="resetuserLookupPreferencesOriginal();"><i class="more-less glyphicon glyphicon-minus"></i>Lookup Preferences</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse" ng-class="{'in':prefenceTabActive==1}">
					<div class="panel-body">
					<p>There are 2 settings available for county look up preference:<br/> 
					     <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Subscribed Counties (default) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2. Preferred Counties.</b><br/> </p>
					    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subscribed Counties will list all the counties you have been subscribed to in CrashReportsOnline.<br/>
					    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Preferred Counties will need to be set up here.This will list only those counties you usually prefer to access. </p>					
							<div class="col-md-12">
							<fieldset>
							<legend>Counties</legend>
								<div class="col-md-12">
									<div class="col-md-2">
										<label class="checkbox"> <input type="checkbox"
											id="checkAll" ng-click="isChecked()" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[0].preferredId.length==countyform.length">Select All
										</label>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-2" ng-repeat="county in countyform">
								      <label class="checkbox" for="{{county.countyId}}"> 
								        <input type="checkbox" value="{{county.countyId}}" name="countygroup" id="{{county.countyId}}" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[0].preferredId.indexOf(county.countyId)>-1" ng-click="selectedCounties(county.countyId)"/>
								        {{county.countyName}}
								      </label>
								    </div>
								</div>
								</fieldset>
							</div>
						<!-- <div class="col-md-12 margin-top-20">
							<fieldset>
								<legend>Tiers</legend>
								<div class="col-md-12">
									<div class="col-md-2 col-sm-4">
										<label class="checkbox"> <input type="checkbox"
											name="tier1" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[1].preferredId.indexOf(1)>-1" ng-click="selectedTier(1)" />Tier 1
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<label class="checkbox"> <input type="checkbox"
											name="tier2" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[1].preferredId.indexOf(2)>-1" ng-click="selectedTier(2)" />Tier 2
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<label class="checkbox"> <input type="checkbox"
											name="tier3" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[1].preferredId.indexOf(3)>-1" ng-click="selectedTier(3)"/>Tier 3
										</label>
									</div>
									<div class="col-md-2 col-sm-4">
										<label class="checkbox"> <input type="checkbox"
											name="tier4" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[1].preferredId.indexOf(4)>-1" ng-click="selectedTier(4)"/>Tier 4
										</label>
									</div>
									
								</div>
							</fieldset>
						</div>
						
						<div class="col-md-12 margin-top-20">
							<fieldset>
								<legend>Age</legend>
								<div class="col-md-12">
									<div class="col-md-2">
										<label class="checkbox"> <input type="checkbox"
											name="adults" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[2].preferredId.indexOf(1)>-1" ng-click="selectedAge(1)"/>Adults
										</label>
									</div>
									<div class="col-md-2">
										<label class="checkbox"> <input type="checkbox"
											name="minors" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[2].preferredId.indexOf(2)>-1" ng-click="selectedAge(2)"/>Minors
										</label>
									</div>
									<div class="col-md-2">
										<label class="checkbox"> <input type="checkbox"
											 name="notknown" ng-checked="userLookupPreferences.userLookupPreferenceMappedForms[2].preferredId.indexOf(3)>-1" ng-click="selectedAge(3)"/>Not Known
										</label>
									</div>
								</div>
							</fieldset>
						</div> -->
							<div class="col-md-12">
							<hr/>
								<div class="col-md-10"></div>
								<div class="col-md-2 text-right">
                					<a class="btn btn-success" ng-disabled='isClean()' ng-click="saveUserLookupPreferences()">Save</a>
              						<a ui-sref="dashboard.home"  class="btn btn-danger" >Cancel</a><br/><br/>
              					</div>
           					</div>
					</div>
				</div>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading" role="tab" id="heading2">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapse2"
							href="/#collapse2"> <i class="more-less glyphicon glyphicon-plus"></i>Export Preferences</a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse" ng-class="{'in':prefenceTabActive==2}" role="tabpanel" aria-labelledby="heading2">
				
					<div class="panel-body">
					<p>You can select your preference for exporting the Crash Reports into Excel, in any 1 of the formats: Standard or Custom, using the tabs below.
				</p>
  <ul class="nav nav-tabs">
    <li ng-class="{'active':prefenceTabActive==1}"><a data-toggle="tab" href="/#standardPreference">Standard</a></li>
    <li ng-class="{'active':prefenceTabActive==2}"><a data-toggle="tab" href="/#customPreference">Custom</a></li>
  </ul>

  <div class="tab-content">
    <div id="standardPreference" class="tab-pane fade" ng-class="{'in':prefenceTabActive==1,'active':prefenceTabActive==1}">
      <div class="col-md-12" style="margin-top:20px;">
      <p>This format, exports the Crash Reports into Excel, in the exact same format as the original one. The exported report will contain all the fields, in the order, as present in the original Crash Report.
      </p>
      <legend><p class="font-for-subheading">Fields in order of appearance in Excel</p></legend>
							<div class="col-md-4">
								<div class="margin-top-10">1. LOCAL REPORT NUMBER</div>
								<div class="margin-top-10">2. CRASH SEVERITY</div>
								<div class="margin-top-10">3. REPORTING AGENCY NAME</div>
								<div class="margin-top-10">4. NUMBER OF UNITS</div>
								<div class="margin-top-10">5. UNIT IN ERROR</div>
								<div class="margin-top-10">6. COUNTY</div>
								<div class="margin-top-10">7. CITY VILLAGE TOWNSHIP</div>
								<div class="margin-top-10">8. CRASH DATE</div>
								<div class="margin-top-10">9. TIME OF CRASH</div>
							</div>
							<div class="col-md-4">
								<div class="margin-top-10">10. UNIT NUMBER</div>
								<div class="margin-top-10">11. DAMAGE SCALE</div>
								<div class="margin-top-10">12. DRIVER?</div>
								<div class="margin-top-10">13. NAME: LAST FIRST MIDDLE</div>
								<div class="margin-top-10">14. DATE OF BIRTH</div>
								<div class="margin-top-10">15. AGE</div>
								<div class="margin-top-10">16. GENDER</div>
								<div class="margin-top-10">17. ADDRESS CITY STATE ZIP</div>
								<div class="margin-top-10">18. CONTACT PHONE - INCLUDE AREA CODE</div>
							</div>
							<div class="col-md-4">
								<div class="margin-top-10">19. INJURIES</div>
								<div class="margin-top-10">20. EMS AGENCY</div>
								<div class="margin-top-10">21. MEDICAL FACILITY</div>
								<div class="margin-top-10">22. ATFAULT INSURANCE COMPANY</div>
								<div class="margin-top-10">23. ATFAULT POLICY NUMBER</div>
								<div class="margin-top-10">24. VICTIM INSURANCE COMPANY</div>
								<div class="margin-top-10">25. VICTIM POLICY NUMBER</div>
								<div class="margin-top-10">26. TIER</div>
							</div>
	</div>
    </div>
    <div id="customPreference" class="tab-pane fade" ng-class="{'in':prefenceTabActive==2,'active':prefenceTabActive==2}">
     
						<div class="col-md-12" style="margin-top:20px;">
						<div class="col-md-12 no-padding">
						<p>This format lets you customize the report exported into Excel. You will be able to select only those fields that you require from the original Crash Report, while ordering them according to your preference.
						</p>
						<h4>To customize your report:</h4>
						&nbsp;&nbsp;&nbsp;&nbsp;1. Select required fields from the box on the left to the box on the right - Simply click on a field, and drag it to the box on the right.<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;2. Sort the order in which you want the fields to appear on your report - Click on a field from the box on the right, and drag it up or down to position.<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;3. You can also de-select fields from the list you already selected - Click on the field in the box on the right, and drag it back to the box on the left.<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;4. Click submit to set your preference.<br/>
						
						<hr/>
						</div>
							<div class="col-md-6">
							<p class="font-for-subheading">Select Fields &nbsp; <span class="pull-right button-padding-right"><button ng-click="moveAll()" class="btn btn-success btn-xs">Select All</button></span></p>
								<div ui-sortable="sortableOptionsList[0]"
									class="apps-container screen floatleft"
									ng-model="rawScreens[0]">
									<div class="app" ng-repeat="app in rawScreens[0]">
									{{app.fieldName}} <span style="float:right;"><i class="fa fa-arrows" aria-hidden="true"></i></span></div>
									<p style="text-align:center;line-height:250px;" ng-show="rawScreens[0].length==0">All Fields are Added</p>
								</div>
							</div>
							<div class="col-md-6">
							<p class="font-for-subheading">Fields in order of appearance in Excel &nbsp; <span class="pull-right button-padding-right"><button ng-click="removeAll()" class="btn btn-danger btn-xs">Deselect All</button> &nbsp;<button ng-click="resetAll()" ng-disabled='isCleanForExport()' class="btn btn-warning btn-xs">Reset</button></span></p>
								<div ui-sortable="sortableOptionsList[1]"
									class="apps-container screen floatleft"
									ng-model="rawScreens[1]">
									<div class="app" ng-repeat="app in rawScreens[1]">	
									 {{$index+1}}. {{app.fieldName}} <span style="float:right;"><i class="fa fa-arrows" aria-hidden="true"></i></span>
									</div>
										<p style="text-align:center;line-height:250px;" ng-show="rawScreens[1].length==0">Drag & Drop the Fields</p>
								</div>
								<div style="clear: both;"></div>
								
							</div>
							<form name="exportFieldsDefaultValueForm">
								<div class="col-md-12" ng-show="exportDefaultValueList.length>0" style="margin-top: 50px;">
										<legend>
											<p class="font-for-subheading">Fields Default Value</p>
										</legend>
										
									<div class="col-md-12 margin-top-20" ng-repeat="exportDefaultValue in exportDefaultValueList">
											<div class="col-md-3">
												<label>{{exportDefaultValue.fieldName}} :</label>
											</div>
											<div class="col-md-5">
												<textarea class="form-control" rows="3"
													ng-model="exportDefaultValue.defaultValue"
													name="defaultValue" required></textarea>
												<span class="error-container"
													ng-show="exportFieldsDefaultValueForm.defaultValue.$dirty && exportFieldsDefaultValueForm.defaultValue.$invalid">
													<span style="color: red;"
													ng-show="exportFieldsDefaultValueForm.defaultValue.$error.required">Please
														enter value</span>
												</span>
											</div>
									</div>
								</div>
								<div class="col-md-12" ng-show="exportFormatValueList.length>0" style="margin-top: 50px;">
										<legend>
											<p class="font-for-subheading">Fields Format</p>
										</legend>
										
									<div class="col-md-12 margin-top-20" ng-repeat="exportFormatValue in exportFormatValueList">
											<div class="col-md-3">
												<label>{{exportFormatValue.fieldName}} :</label>
											</div>
											<div class="col-md-5">
												<select class="form-control" ng-model="exportFormatValue.format" name="format{{exportFormatValue.fieldId}}" ng-options="dropDown.value as dropDown.name group by dropDown.groupName for dropDown in exportFormatValue.dropDownValue" ng-selected="dropDown.value==exportFormatValue.format">
												<!-- <option value="">-- Select --</option> -->
												<!-- <option ng-repeat="dropDown in exportFormatValue.dropDownValue" value="{{dropDown.value}}" ng-selected="dropDown.value==exportFormatValue.format">{{dropDown.name}}</option> -->
												<!-- <optgroup label="-----------------------------------">
													<option value="1">+1-(999)-999-9999</option>
													<option value="2">+1 (999) 999 9999</option>
													<option value="3">+1(999)9999999</option>
													<option value="4">+19999999999</option>
												</optgroup>
												<optgroup label="-----------------------------------">
													<option value="5">1 (999) 999 9999</option>
													<option value="6">1(999)9999999</option>
													<option value="7">19999999999</option>
												</optgroup>
												<optgroup label="-----------------------------------">
													<option value="8">(999)-999-9999</option>
													<option value="9">(999) 999 9999</option>
													<option value="10">(999)9999999</option>
													<option value="11">9999999999</option>
												</optgroup> -->
												</select>
											<!-- 	<span class="error-container"
													ng-show="exportFieldsDefaultValueForm.format{{exportFormatValue.fieldId}}.$dirty && exportFieldsDefaultValueForm.format{{exportFormatValue.fieldId}}.$invalid">
													<span style="color: red;"
													ng-show="exportFieldsDefaultValueForm.format{{exportFormatValue.fieldId}}.$error.required">Please
														select format</span>
												</span> -->
											</div>
									</div>
								</div>
									<div class="col-md-12  margin-top-20">
								<div class="col-md-9"></div>
								<div class="col-md-3 text-right">
                					<a class="btn btn-success" ng-disabled='isCleanForExport()||exportFieldsDefaultValueForm.$invalid' ng-click="saveUserExportPreferences(1)">Submit</a>
              						<a ui-sref="dashboard.home"  class="btn btn-danger" >Cancel</a><br/><br/>
              					</div>
           					</div>
           					</form>
	</div>
    </div>
   </div>
  
				</div>
			</div>
		</div>
	</div>
	<!-- /.panel -->
</div>

<style>
label {
	font-weight: normal;
}

legend {
	font-size: 14px;
	font-weight: bold;
}

.apps-container {
  border: 1px solid grey;
  margin: 10px 10px 0 0;
  padding: 5px;
  min-height:500px;
  max-height:500px;
  overflow-y:auto;
}

.app {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  border: 1px solid #cccccc;
  border-radius: 1px;
  background-color: rgba(0, 109, 204,0.05);
  font-size: 1.1em;
  cursor: move;
}

.font-for-subheading{
	font-size:14pt;
}

.button-padding-right{
	padding-right:10px;
}
</style>
<script type="text/javascript">
function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>