<link rel="stylesheet" href="resources/components/datetime/datetimepicker.css"></link>
<script src="resources/components/datetime/datetimepicker.js"></script>
<script src="resources/components/datetime/moment.js"></script>
    <div class="row">
    <div class="col-lg-12">
        <a ui-sref="{{backLink}}" class="btn-sm btn-primary pull-right margin-top-40"><i class="fa fa-arrow-circle-left fa-lg"></i> Back to the list</a>
        <h2 ng-cloak class="page-header">{{title}}<span ng-show="{{title=='Edit Call Center Admin'||title=='Edit Manager'}}">&nbsp;-&nbsp;{{callerAdmin.firstName}}&nbsp;{{callerAdmin.lastName}}</span></h2>
    </div>
    
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
     <form id="myForm" name="myForm" novalidate>
   
        <div class="panel panel-default">
            <div class="panel-heading">
                {{detailsText}}
                <span class="pull-right"><span class="redText">*</span> Required Fields</span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                  
                    		<div class="col-md-12 no-padding">
                                <div class="col-md-6">
                                   <span class="redText">*</span> <label>Firstname</label>
                                    <input type="hidden" class="form-control inputclass"  ng-model="callerAdmin.callerAdminId" name="callerAdminId">
                                    <input type="text" class="form-control inputclass"  ng-model="callerAdmin.firstName" name="firstName" placeholder="First Name" maxlength="45" validate-name required>
                                    <span class="error-container" ng-show="myForm.firstName.$dirty && myForm.firstName.$invalid">
                                    <span ng-cloak style="color:red" ng-show="myForm.firstName.$error.required">Please Enter Firstname</span>
                                    <span ng-cloak style="color:red" ng-show="!myForm.firstName.$error.required&&myForm.firstName.$error.validateName">Enter Valid Firstname</span>
                                     </span><br/>
                                  </div>
                                  <div class="col-md-6">
                                  <span class="redText">*</span> <label>Lastname</label>
                                    <input type="text" class="form-control"  ng-model="callerAdmin.lastName" name="lastName" placeholder="Last Name" maxlength="45" validate-name  required>
                                    <span class="error-container" ng-show="myForm.lastName.$dirty && myForm.lastName.$invalid">
                                      <span ng-cloak style="color:red" ng-show="myForm.lastName.$error.required">Please Enter Lastname</span>
                                      <span ng-cloak style="color:red" ng-show="!myForm.lastName.$error.required&&myForm.lastName.$error.validateName">Enter Valid Lastname</span>
                                     </span><br/>
                                   </div>
                                 </div>
                                 <div class="col-md-12 no-padding">
                                
                                  <div class="col-md-6">
                                  <span class="redText">*</span> <label>Street Address</label>
                                    <input type="text" class="form-control"  ng-model="callerAdmin.street" name="address" placeholder="Address" maxlength="45"  required>
                                    <span class="error-container" ng-show="myForm.address.$dirty && myForm.address.$invalid">
                                      <span ng-cloak style="color:red" ng-show="myForm.address.$error.required">Please Enter Address</span>
                                      
                                     </span><br/>
                                   </div><div class="col-md-6">
                                    <span class="redText">*</span> <label>City</label>
                                    <input type="text" class="form-control inputclass"  ng-model="callerAdmin.city" name="city" placeholder="City" maxlength="45" validate-name required>
                       				 <span class="error-container" ng-show="myForm.city.$dirty && myForm.city.$invalid">
                                    <span ng-cloak style="color:red" ng-show="myForm.city.$error.required">Please Enter City</span>
                                     <span ng-cloak style="color:red" ng-show="!myForm.city.$error.required&&myForm.city.$error.validateName">Enter Valid City</span>
                                     </span><br/> 
                                  </div>
                                   
                                 </div>
                                    <div class="col-md-12 no-padding">
                                
                                  <div class="col-md-6">
                                  <span class="redText">*</span> <label>State</label>
                                    <input type="text" class="form-control"  ng-model="callerAdmin.state" name="state" placeholder="State" maxlength="45" required validate-name>
                                    <span class="error-container" ng-show="myForm.state.$dirty && myForm.state.$invalid">
                                      <span ng-cloak style="color:red" ng-show="myForm.state.$error.required">Please Enter State</span>
                                       <span ng-cloak style="color:red" ng-show="!myForm.state.$error.required&&myForm.state.$error.validateName">Enter Valid State</span>
                                      
                                     </span><br/>
                                   </div><div class="col-md-6">
                                   <span class="redText">*</span> <label>Zipcode</label>
                                    <input type="text" class="form-control inputclass"  ng-model="callerAdmin.zipcode" name="zipcode" placeholder="Zipcode" maxlength="5" required validate-zipcode>
                                  <span class="error-container" ng-show="myForm.zipcode.$dirty && myForm.zipcode.$invalid">
                                    <span ng-cloak style="color:red" ng-show="myForm.zipcode.$error.required">Please Enter Zipcode</span>
                                    <span ng-cloak style="color:red" ng-show="!myForm.zipcode.$error.required&&myForm.zipcode.$error.validateZipcode">Enter Valid Zipcode</span>
                                     </span><br/> 
                                  </div>
                                   
                                 </div>
                                 <div class="col-md-12 no-padding">
                                  <div class="col-md-6">
                                  <span class="redText">*</span> <label>Username</label>
                                    <input  type="text" class="form-control inputclass" ng-show='options' ng-pattern="/^ *([a-zA-Z0-9@.]+?)+ *$/" ng-model="callerAdmin.username" name="username" id="username" data-mask="usernameinput" placeholder="Username" maxlength="45" usernameexists  required>
    								<input  type="text" readonly="readonly" class="form-control" ng-show='!options' ng-model="callerAdmin.username" placeholder="Enter Username" maxlength="45">
                                    <span style="color:red" id="username_exists"></span>
                                    <span class="error-container" ng-show="myForm.username.$dirty && myForm.username.$invalid">
                                       <span ng-cloak style="color:red" ng-show="myForm.username.$error.required">Please Enter Username</span>
                                       <span ng-cloak style="color:red" ng-show="myForm.username.$error.pattern">Invalid Username! Should have only Alphabets and Numbers without Space!</span>
                                       <span ng-cloak style="color:red" ng-show="myForm.username.$error.usernameexists">Username Already Exists</span>
                                       </span><br/>
                                      </div>
                               <div class="col-md-6">
                              <span class="redText">*</span> <label>Phone Number</label>
                                    <input type="text" class="form-control inputclass"  ng-model="callerAdmin.phoneNumber" name="phoneNumber" placeholder="Phone Number eg: (123)456-7890 or 123-456-7890" maxlength="20" validate-mobile required>
                                   <span class="error-container" ng-show="myForm.phoneNumber.$dirty && myForm.phoneNumber.$invalid">
                                     <span ng-cloak style="color:red" ng-show="myForm.phoneNumber.$error.required">Please Enter Phone Number</span>
                                     <span ng-cloak style="color:red" ng-show="!myForm.phoneNumber.$error.required&&myForm.phoneNumber.$error.validateMobile">Enter Valid Phone Number</span>
                                   </span> 
                                     <br/>
                                   </div> 
                                  </div>
                                <div class="col-md-12 no-padding">
                                  <div class="col-md-6">
                                 <span class="redText">*</span> <label>Email ID</label>
                                    <input type="email" class="form-control"  ng-model="callerAdmin.emailAddress" name="emailAddress" placeholder="Email ID" maxlength="60" required validate-email>
                                    <span class="error-container" ng-show="myForm.emailAddress.$dirty && myForm.emailAddress.$invalid">
                                   			 <span ng-cloak style="color:red" ng-show="myForm.emailAddress.$error.required">Please Enter Email ID</span>
                                            <span ng-cloak style="color:red" ng-show="myForm.emailAddress.$error.email">Enter a valid Email ID</span>
                                    </span>                                    
                                    <br/>
                                    </div>
                                    <div class="col-md-6">
                               		<label>Customer Product Token</label>
                                    <input type="text" class="form-control"  ng-model="callerAdmin.productToken" name="productToken"" placeholder="Customer Product Token">
                                    <!-- <span class="error-container" ng-show="myForm.productToken.$dirty && myForm.productToken.$invalid">
                                    <span ng-cloak style="color:red" ng-show="myForm.productToken.$error.required">Please Enter Product Token</span>
                                    </span>  -->                                   
                                    <br/>
                                    </div> 
                                   </div>
                              <div class="col-md-12">
                         	<div class="col-md-2 no-padding" style="margin-top:5px;"><label>Is Driving Distance?:</label></div>
                         	<div class="col-md-3">
                         		<div class="form-group passenger-type">
								<div class="btn-group">
									<label class="btn btn-default" btn-radio="1"
										ng-model="callerAdmin.isDrivingDistance"> Yes 
									</label> <label class="btn btn-default" btn-radio="0"
										ng-model="callerAdmin.isDrivingDistance"> No
									</label>
								</div>
								</div>
							 </div>
                         	</div>     
                            <div class="col-md-12 no-padding">
                                <div class="col-md-12">
                                    <label>Notes</label>
                                    <textarea class="form-control height-100"  ng-model="callerAdmin.notes" name="notes" placeholder="Notes" maxlength="600"></textarea>
                         	<br/>
                         	</div>
                         	</div>
                         	<div class="col-md-12">
                         	<span class="redText">*</span> <label>Assign County:</label>
                         	   <span ng-cloak style="color:red" ng-show="!requiredValue">Please Select atleast one county</span>
                         	   <br/>
                         	    <div class="col-md-12">
                         	   <div class="col-md-2" >
                         	     <label class="checkbox">
                                  <input type="checkbox" id="checkAll" ng-click="isChecked()">Select All  
                                  </label>   
                                  </div>
                                  </div> 
                                <div class="col-md-12">
                                <div class="col-md-2" ng-repeat="county in callerAdmin.countyForms">
							      <label class="checkbox" for="{{county.id}}"> 
							        <input type="checkbox"  value="{{county.id}}" name="group" id="{{county.id}}" ng-checked="callerAdmin.county.indexOf(county.id)>-1" ng-click="selectedCounties(county.id)" ng-required="requiredValue==0"/>
							        {{county.name}}
							      </label>
							      
							    </div>
                             </div>
                         	</div>
                  </div>
            </div>
            <div class="text-right" style="margin-right:30px;">
                <a class="btn btn-success" ng-show='options' ng-class="{'button-disable':myForm.$invalid}"  ng-disabled='isClean() || myForm.$invalid || !requiredValue'  ng-click="saveCallerAdmin()">Save</a>
            	 <a class="btn btn-success" ng-show='!options' ng-class="{'button-disable':myForm.$invalid || isClean()}"  ng-disabled='isClean() || myForm.$invalid || !requiredValue' ng-click="updateCallerAdmin()">Update</a>
              <a ui-sref="{{backLink}}"  class="btn btn-danger" >Cancel</a><br/><br/>
           </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
         </form>
    </div>
    <!-- /.col-lg-12 -->
</div>




 <script>
 $(function(){
 	$("html,body").scrollTop(0);
 });

</script>







