<link rel="stylesheet" href="resources/components/datetime/datetimepicker.css"></link>
<script src="resources/components/datetime/datetimepicker.js"></script>
<script src="resources/components/datetime/moment.js"></script>

<div class="row">
	<div class="col-lg-12">
		<div flash-message="2000" class="col-md-5 pull-right margin-top35"></div>
	 	<h2 class="page-header">Search Patients</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
	<form name="patientSearchForm" novalidate ng-cloak>
    	<div class="col-md-12 no-padding">
        	<div class="col-md-5ths">
        		<label>County</label>
       			<select class="form-control input-sm" ng-model="patient.countyId">
          			<option value="0">All</option>
          			<option ng-repeat="county in countylist" value="{{county.countyId}}" ng-selected="{{county.countyId == patient.countyId}}">{{county.countyName}}</option>
     			</select>
        	</div>
          	<div class="col-md-5ths">
       			<label>Crash From Date</label>
       			<div class="input-group">
					<input type="text" name="crashFromDate" id="CrashFromDate" ng-change="checkCustomDate(patient.numberOfDays)" class="form-control input-sm" ng-model="patient.crashFromDate" placeholder="Crash From Date"> 
					<span class="input-group-addon white-color-bg"> <span class="glyphicon glyphicon-calendar"></span></span>
				</div>
        	</div>
	        <div class="col-md-5ths">
	       		<label>Number of Days</label>
	       		<select class="form-control input-sm"  ng-model="patient.numberOfDays" name="numberOfDays" ng-change="checkCustomDate(patient.numberOfDays)">
	            	<option value="1">1</option>
	                <option value="7">7</option>
	                <option value="15">15</option>	
	                <option value="30">30</option>
	                <option value="0">Custom</option>
	            </select>
	        </div>
	        <div class="col-md-5ths">
	       		<label>Crash To Date</label>
	       		<div class="input-group">
					<input type="text" name="crashToDate" id="CrashToDate" ng-change="crashToRequired=fasle" class="form-control input-sm" ng-model="patient.crashToDate" placeholder="Crash To Date"  ng-disabled="disableCustom"> 
					<span class="input-group-addon white-color-bg"> <span class="glyphicon glyphicon-calendar"></span></span>
				</div>
				<span style="color:red;font-size:13px" ng-if="crashToRequired==true">Please Enter Crash To Date</span>
	        </div>
	        <div class="col-md-5ths">
	        	<label>Caller</label>
	       		<select ng-cloak class="form-control input-sm" ng-model="patient.callerId">
	          		<option value="0">All</option>
	          		<option ng-repeat="caller in callerList" value="{{caller.callerId}}" ng-selected="{{caller.callerId == patient.callerId}}">{{caller.firstName}} {{caller.lastName}}</option>
	     		</select>
	        </div>
		</div> 
	
		<div class="col-md-12"><br/></div>
	
		<div class="col-md-12 no-padding">
			<div class="col-md-5ths">
	       		<label>Tier</label>&nbsp;&nbsp;<a href="" data-toggle="popover" title="Tier Details" data-trigger="focus"><i class="fa fa-info-circle"></i></a>
	       		<select class="form-control input-sm"  ng-model="patient.tier" name="tier">
	            	<option value="0">All</option>
	                <option value="1">Tier 1</option>
	                <option value="2">Tier 2</option>	
	                <option value="3">Tier 3</option>
	                <option value="4">Tier 4</option>
	            </select>
	        </div>
          	<div class="col-md-5ths">
       			<label>Added On From Date</label>
       			<div class="input-group">
					<input type="text" name="crashFromDate" id="AddedOFromDate" ng-change="isSelectedAddedFromDate=false" class="form-control input-sm" ng-model="patient.addedOnFromDate" placeholder="Added On From Date"> 
					<span class="input-group-addon white-color-bg"> <span class="glyphicon glyphicon-calendar"></span></span>
				</div>
        	</div>
        	<div class="col-md-5ths">
	       		<label>Added On To Date</label>
	       		<div class="input-group">
					<input type="text" name="crashToDate" id="AddedOnToDate" ng-change="AddedOnToRequired=fasle" class="form-control input-sm" ng-model="patient.addedOnToDate" placeholder="Added On To Date"  ng-disabled="isSelectedAddedFromDate"> 
					<span class="input-group-addon white-color-bg"> <span class="glyphicon glyphicon-calendar"></span></span>
				</div>
				<span style="color:red;font-size:13px" ng-if="AddedOnToRequired==true">Please Enter Added On To Date</span>
	        </div>
	        <div class="col-md-5ths">
	       		<label>Local Report Number</label>
					<input type="text" name="localReportNumber" class="form-control input-sm" ng-model="patient.localReportNumber" placeholder="Local Report Number"> 
				
	        </div>
	        <div class="col-md-5ths">
	        	<label>&nbsp;</label>
				<div class="col-md-12">
	        		<a href="" class="btn btn-sm btn-success" ng-class="{'button-disable':patientSearchForm.$invalid}"  ng-disabled='isClean() || patientSearchForm.$invalid' ng-click="searchPatients()">Search</a>
	        		<a href="" class="btn btn-sm btn-danger" ng-click="resetSearchData()">Reset</a>
	       		</div>
	     	</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-12 no-padding hr-tag-alter"></div>
				<div  class="col-md-6 no-padding">
					<a href="" ng-disabled="isCleanCheckbox()||patient.isArchived==1" ng-click="assignCallerPopup()" class="btn btn-sm btn-success">Assign Caller</a>
					<a href="" ng-disabled="isCleanCheckbox()||patient.isArchived==1" ng-click="releaseCaller()" class="btn btn-sm btn-danger">Release From Caller</a>
					<a href="" ng-disabled="isCleanCheckbox()||patient.isArchived==1" ng-click="moveArchive()" class="btn btn-sm btn-warning">Move to Archive</a>
					<a href="" ng-disabled="isCleanCheckbox()||patient.isArchived==0" ng-click="releaseArchive()" class="btn btn-sm btn-primary">Release from Archive</a>
				</div>
				<div class="col-md-6 no-padding">
					<div class="col-md-3 margin-top-5 text-right no-padding">Records Type&nbsp;&nbsp;</div>
					<div class="col-md-3 no-padding">
						<select class="form-control input-sm" ng-change="secoundarySearchPatient()" name="isArchived" ng-model="patient.isArchived">
				          	<option value="0">Open</option>
				          	<option value="1">Archived</option>
				     	</select>
					</div>
					<div class="col-md-3 margin-top-5 text-right no-padding">Filter Status by &nbsp;&nbsp; </div>
					<div class="col-md-3 no-padding">
						<select class="form-control input-sm" ng-change="secoundarySearchPatient()" name="isArchived" ng-model="patient.patientStatus">
							<option value="7">All</option>
				          	<option value="0">New</option>
				          	<option value="1">Active</option>
				          	<option value="2">Not Interested/Injured</option>
				          	<option value="3">Voice Mail</option>
				          	<option value="4">Appointment Scheduled</option>
				          	<option value="5">Do Not Call</option>
				          	<option value="6">Need Re-Assign</option>
				          	<option value="8">Call Back</option>
				          	<option value="9">Unable To Reach</option>
				     	</select>
					</div>
				</div>
				<div class="col-md-12 no-padding hr-tag-alter"></div>
		</div>
	</form>
	<div class="col-md-12">
		<table class="table table-bordered persist-area" ng-cloak>
			<thead class="persist-header" ng-cloak>
				<tr>
					<th width="2%"><input ng-change="isChecked()"
						ng-model="isCheckedAllPatients" type="checkbox" id="checkAll"></th>
					<th width="20%">Patient Name</th>
					<th width="13%">Phone Number</th>
					<th width="5%">Age</th>
					<th width="7%">Unit No.</th>
					<th width="10%">County</th>

					<th width="5%">Tier</th>
					<th width="13%">Caller</th>
					<th width="15%">Status</th>
					<th width="10%">Actions</th>
				</tr>
				<tr>
					<th></th>
					<th>
						<div class="input-group">
							<span class="input-group-addon search" id="basic-addon2"><i
								class="fa fa-search"></i></span> <input class="form-control input-sm"
								type="text" ng-model="patient.patientName"
								ng-change="secoundarySearchPatient()" placeholder="Patient Name">
						</div>
					</th>

					<th>
						<div class="input-group">
							<span class="input-group-addon search" id="basic-addon3"><i
								class="fa fa-search"></i></span> <input class="form-control input-sm"
								type="text" ng-model="patient.phoneNumber"
								ng-change="secoundarySearchPatient()" placeholder="Phone No">
						</div>
					</th>
					<th>
						<!-- <div class="input-group">
  								<span class="input-group-addon search" id="basic-addon4"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.crashDate" placeholder="Crash Date"></div> -->
					</th>
					<th>
						<!-- <div class="input-group">
  								<span class="input-group-addon search" id="basic-addon5"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text"
									ng-model="search.address" placeholder="Address"></div> -->
					</th>
					<th>
					<th></th>
					<!-- <th></th> -->
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="group-header-back" ng-show="patientSearchData.length>0"
					ng-repeat-start="resultData in patientSearchData">
					<td colspan="1"><input ng-change="selectGroup(this)"
						ng-model="isCheckedAllGroupPatients" type="checkbox"
						id="{{resultData.localReportNumber}}"></td>
					<td colspan="10"><span><b>Local Report No: </b>{{resultData.localReportNumber}}</span><span
						class="col-md-8 no-padding pull-right text-right"><span><b>Unit
									In Error: </b>{{resultData.unitInError}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span><b>Crash
									Date: </b>{{resultData.crashDate}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span><b>Added
									Date: </b>{{resultData.addedDate}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span><b>Patients
									Count:</b>&nbsp;&nbsp;<span class="hint--top patient-count-circle"
								data-hint="{{resultData.numberOfPatients}} Patients">{{resultData.numberOfPatients}}</span></span>&nbsp;</span></td>
				</tr>

				<tr
					dir-paginate="patient in resultData.patientSearchLists|itemsPerPage:patient.itemsPerPage"
					current-page="patient.pageNumber" total-items="totalRecords">
					<td><input ng-change="isCheckedIndividual()"
						ng-model="patient.selected" ng-checked="patient.selected"
						type="checkbox"></td>
					<td><span
						ng-if="patient.crashSeverity==2 && patient.age>=18"><a
							href="" class="hint--top redText"
							ng-click="viewPatientModal(patient.patientId)"
							data-hint="View Patient">{{patient.name}}</a><span
							class="redText margin-left-10 hint--top"
							data-hint="Crash Severity : {{patient.crashSeverity}}"><i
								class="fa fa-arrow-up"></i></span></span> <span
						ng-if="patient.crashSeverity==2 && patient.age<18"><a
							href="" class="hint--top warningText"
							ng-click="viewPatientModal(patient.patientId)"
							data-hint="View Patient">{{patient.name}}</a><span
							class="redText margin-left-10 hint--top"
							data-hint="Crash Severity : {{patient.crashSeverity}}"><i
								class="fa fa-arrow-up"></i></span></span> <span
						ng-if="patient.crashSeverity!=2 && patient.age>=18"><a
							href="" class="hint--top"
							ng-click="viewPatientModal(patient.patientId)"
							data-hint="View Patient">{{patient.name}}</a></span> <span
						ng-if="patient.crashSeverity!=2 && patient.age<18"><a
							href="" class="hint--top warningText"
							ng-click="viewPatientModal(patient.patientId)"
							data-hint="View Patient">{{patient.name}}</a></span></td>

					<td title="Phone Number">{{patient.phoneNumber}}</td>
					<td title="Age">{{patient.age}}</td>
					<td title="Unit Number">{{patient.unitNumber}}</td>
					<td title="County">{{patient.county}}</td>

					<td>Tier {{patient.tier}}</td>
					<td title="Caller Name"><span
						ng-show="patient.callerFirstName==null && patient.callerLastName==null">N/A</span>{{patient.callerFirstName}}
						{{patient.callerLastName}}</td>
					<td width="8%" title="Status">{{patient.patientStatusName}}</td>
					<td width="7%"><a href="{{patient.crashReportFileName}}"
						ng-cloak target="_blank" class="btn btn-xs btn-info hint--top"
						data-hint="View Crash Report"><i class="fa fa-file-pdf-o"></i></a>
						<span ng-show={{patient.isArchived==0||patient.isArchived==null}}>
							<a href="" ng-cloak target="_blank"
							ng-show={{patient.callerId!=null}}
							ng-click="assignIndividualCallerPopup(patient.patientId,patient.name,patient.callerId)"
							class="btn btn-xs btn-success hint--top"
							data-hint="Change Caller"><i
								class="fa fa-external-link-square"></i></a> <a href="" ng-cloak
							target="_blank" ng-hide={{patient.callerId!=null}}
							ng-click="assignIndividualCallerPopup(patient.patientId,patient.name,patient.callerId)"
							class="btn btn-xs btn-danger hint--top" data-hint="Assign Caller"><i
								class="fa fa-external-link-square"></i></a>
					</span> <a href="#/dashboard/Calllogs/{{patient.patientId}}" ng-cloak
						class="btn btn-xs btn-primary hint--top"
						data-hint="View Call Logs"><i class="fa fa-eye"></i></a></td>
				</tr>
				<tr ng-repeat-end=""></tr>
				<tr ng-show="patientSearchData.length==0">
					<td colspan="11"><center>
							<strong>No Records Found!!!</strong>
						</center></td>
				</tr>
			</tbody>
		</table>

		<dir-pagination-controls ng-show="patientSearchData.length>0" max-size="5" on-page-change="searchPatientsFromPage(newPageNumber)"  direction-links="true" boundary-links="true" >
    					</dir-pagination-controls>
    					
    				<div class="col-md-3 pull-right no-padding">
<label>Number of Records</label>
	<select class="form-control input-sm" ng-model="patient.itemsPerPage" name="noOfRows" id="noOfRows">
		<option value="10">Show 10 Per Page</option>
		<option value="25">Show 25 Per Page</option>
		<option value="50">Show 50 Per Page</option>
		<option value="100">Show 100 Per Page</option>
	</select> 
</div>
    	</div>				

<div class="modal fade" id="assignCallerModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
      <form name="myForm" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign Caller </h4>
        </div>
        <div class="modal-body">
        	<div class="margin-bottom-10" ng-show="isIndividual">
        		<label>Patient Name : </label>
        		{{assignPatientName}}
        	</div>
        	<label>Choose Caller</label>
       			<select class="form-control" ng-model="myForm.callerId" required>
       				<option value="">--Select Caller--</option>
          			<option ng-repeat="caller in callerList"  value="{{caller.callerId}}" ng-selected="{{caller.callerId === patient.callerId}}">{{caller.firstName}} {{caller.lastName}}</option>
     			</select>
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">Cancel</button>
             <a href="" type="submit" ng-show="isIndividual" class="btn btn-success"  data-dismiss="modal" ng-disabled='myForm.$invalid' ng-click="assignIndividualCaller(assignPatientId)">Assign</a>
             <a href="" type="submit" ng-hide="isIndividual" class="btn btn-success"  data-dismiss="modal" ng-disabled='myForm.$invalid' ng-click="assignCaller()">Assign</a>
        </div>
        </form>
      </div>
      
    </div>
 </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Patient Details</h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped table-bordered">
					<tr>
						<td class="col-md-3"><b>Name</b></td>
						<td class="col-md-3">{{patientDetails.name}}</td>
						<td class="col-md-3"><b>Gender</b></td>
						<td class="col-md-3">{{patientDetails.gender}}</td>
						
					</tr>
					<tr>
						<td class="col-md-3"><b>Date Of Birth</b></td>
						<td class="col-md-3">{{patientDetails.dateOfBirth}}</td>
						<td class="col-md-3"><b>Age</b></td>
						<td class="col-md-3">{{patientDetails.age}}</td>
					</tr>
					<tr>
						<td class="col-md-3"><b>Phone Number</b></td>
						<td class="col-md-3">{{patientDetails.phoneNumber}}</td>
						<td class="col-md-3"><b>Address</b></td>
						<td class="col-md-3">{{patientDetails.address}}</td>
						
					</tr>
					<tr>
						<td class="col-md-3"><b>Unit Number</b></td>
						<td class="col-md-3">{{patientDetails.unitNumber}}</td>
						<td class="col-md-3"><b>Number of Units</b></td>
						<td class="col-md-3">{{patientDetails.numberOfUnits}}</td>
						
					</tr>
					<tr>
						<td class="col-md-3"><b>Units in Error</b></td>
						<td class="col-md-3">{{patientDetails.unitInError}}</td>
						<td class="col-md-3"><b>Local Report Number</b></td>
						<td class="col-md-3">{{patientDetails.localReportNumber}}</td>
						
						
					</tr>
					<tr>
						<td class="col-md-3"><b>Injuries</b></td>
						<td class="col-md-3">{{patientDetails.injuries}}</td>
						<td class="col-md-3"><b>Crash Severity</b></td>
						<td class="col-md-3">{{patientDetails.crashSeverity}}</td>
					</tr>
					<tr>
					
						<td class="col-md-3"><b>Crash Date</b></td>
						<td class="col-md-3">{{patientDetails.crashDate}}</td>
							<td class="col-md-3"><b>Time of Crash</b></td>
						<td class="col-md-3">{{patientDetails.timeOfCrash}}</td>
						
					</tr>
					<tr>
						<td class="col-md-3"><b>EMS Agency</b></td>
						<td class="col-md-3">{{patientDetails.emsAgency}}</td>
						<td class="col-md-3"><b>Report Agency Name</b></td>
						<td class="col-md-3">{{patientDetails.reportingAgencyName}}</td>
					</tr>
					
					<tr>
						<td class="col-md-3"><b>County</b></td>
						<td class="col-md-3">{{patientDetails.county}}</td>
						<td class="col-md-3"><b>City Village Township</b></td>
						<td class="col-md-3">{{patientDetails.cityVillageTownship}}</td>
					</tr>
					<tr>
					<td class="col-md-3"><b>Medical Facility</b></td>
						<td class="col-md-3">{{patientDetails.medicalFacility}}</td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td class="col-md-3"><b>At Fault INS. Company</b></td>
						<td class="col-md-3">{{patientDetails.atFaultInsuranceCompany}}</td>
						<td class="col-md-3"><b>At Fault Policy Number</b></td>
						<td class="col-md-3">{{patientDetails.atFaultPolicyNumber}}</td>
					</tr>
					<tr>
						<td class="col-md-3"><b>Victim INS. Company</b></td>
						<td class="col-md-3">{{patientDetails.victimInsuranceCompany}}</td>
						<td class="col-md-3"><b>Victim Policy Number</b></td>
						<td class="col-md-3">{{patientDetails.victimPolicyNumber}}</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
 
<script>
	$(function(){
		$("html,body").scrollTop(0);
	});
	    					
	$('#CrashFromDate').datetimepicker({
		pickTime : false,
		format:'MM/DD/YYYY',
		maxDate : new Date()
	}).on('dp.change', function (selected) {
	    var minimumDate = new Date(selected.date.valueOf());
	    $('#CrashToDate').data("DateTimePicker").setMinDate(minimumDate);
	});

	$('#CrashToDate').datetimepicker({
    	pickTime : false,
		format:'MM/DD/YYYY',
		maxDate : new Date()
    });

	$('#AddedOFromDate').datetimepicker({
		pickTime : false,
		format:'MM/DD/YYYY',
		maxDate : new Date()
	}).on('dp.change', function (selected) {
	    var minimumDate = new Date(selected.date.valueOf());
	    $('#AddedOnToDate').data("DateTimePicker").setMinDate(minimumDate);
	});

	$('#AddedOnToDate').datetimepicker({
    	pickTime : false,
		format:'MM/DD/YYYY',
		maxDate : new Date()
    });
	

	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover({
	    	content: "<p><b>Tier 1:</b> Set of Victim Unit Patients where Number of Units > 1 and Unit in Error has Insurance.</p><p><b>Tier 2:</b> Set of Victim Unit Patients where Number of Units > 1, Unit in Error not having Insurance and Victim Unit has Insurance.</p><p><b>Tier 3:</b> Set of Patients where Number of Units = 1 and Injury scale is in between 2 to 4.</p><p><b>Tier 4:</b> Set of At fault Unit Patients where Number of Units > 1, Unit in Error has Insurance and Injury scale is in between 2 to 4.</p>",
	    	html: true, 
	    	placement: "right"
	    	
	    });   
	    
	});
    
</script>

<script src="resources/js/fixed-header.js">  </script>