<div class="row">
    <div class="col-lg-12">
        <a ui-sref="dashboard.staff" class="btn-sm btn-primary pull-right margin-top-40">Back to the list</a>
        <h2 class="page-header" ng-controller="EditStaffController">{{title}}&nbsp;-&nbsp;{{staff.firstName}}&nbsp;{{staff.lastName}}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
    <form id="myForm" name="myForm" novalidate>
       <div class="panel panel-default">
            <div class="panel-heading">
                Enter Staff Details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="col-md-12">
                        <tbody>
                            <tr>
                                <td class="col-md-6">
                                    <label>First Name</label>
                                    <input type="text" class="form-control"  ng-model="staff.firstName" name="firstName" placeholder="Enter FIrstName"  required>
                                    <span class="error-container" ng-show="myForm.firstName.$dirty && myForm.firstName.$invalid">
                                    <span style="color:red" ng-show="myForm.firstName.$error.required">Please input First Name</span>
                                     </span><br/>
                                    
                                    
                                    
                                    
                                    <label>Last Name</label>
                                    <input type="text" class="form-control"  ng-model="staff.lastName" name="lastName" placeholder="Enter LastName"  required>
                                    <span class="error-container" ng-show="myForm.lastName.$dirty && myForm.lastName.$invalid">
                                      <span style="color:red" ng-show="myForm.lastName.$error.required">Please input Last Name</span>
                                     </span><br/>
                                    
                                    
                                    
                                    <label>User Name</label>
                                    <input  type="text" class="form-control"   ng-model="staff.username" name="username" placeholder="Enter UserName"  userexists required>
    
                                    <span class="error-container" ng-show="myForm.username.$dirty && myForm.username.$invalid">
                                       <span style="color:red" ng-show="myForm.username.$error.required">Please input User Name</span>
                                       <span style="color:red" ng-show="myForm.username.$error.userexists">UserName allready exists</span>
                                         </span><br/>
                                
                                </td>
                                <td class="col-md-6">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control"  ng-model="staff.phoneNumber" name="phoneNumber" placeholder="Enter PhoneNumber"  required>
                                    <span class="error-container" ng-show="myForm.phoneNumber.$dirty && myForm.phoneNumber.$invalid">
                                     <span style="color:red" ng-show="myForm.phoneNumber.$error.required">Please input Phone Number</span>
                                   </span><br/>
                                    
                                    
                                    
                                    <label>Email ID</label>
                                    <input type="email" class="form-control"  ng-model="staff.emailAddress" name="emailAddress" placeholder="Enter EmailId"  required  email>
                                    <span class="error-container" ng-show="myForm.emailAddress.$dirty && myForm.emailAddress.$invalid">
                                        <span style="color:red" ng-show="myForm.emailAddress.$error.required">Please input a Email</span>
                                       <span style="color:red" ng-show="myForm.emailAddress.$error.email">Enter a valid email</span>
                                    </span> 
                                    <br/>
                                    
                                    
                                    
                                    
                                    
                                    <label>Password</label>
                                    <input type="password" class="form-control"  ng-model="staff.password" name="password" placeholder="Enter Password"  required>
                                    <span class="error-container" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                                      <span style="color:red" ng-show="myForm.password.$error.required">Please input Password</span>
                                     </span><br/>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-12" colspan="2"><br/>
                                    <label>Notes</label>
                                    <textarea class="form-control height-100"  ng-model="staff.notes" name="notes" placeholder="Enter Notes"  required></textarea>
                                <span class="error-container" ng-show="myForm.notes.$dirty && myForm.notes.$invalid">
                                <span style="color:red" ng-show="myForm.notes.$error.required">Please input Notes</span>
                              </span>
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-right" style="margin-right:30px;">
            
             <a class="btn btn-success" ng-disabled='myForm.$invalid' ng-show='options' ng-click="save()">Save</a>
             <a class="btn btn-success" ng-disabled='myForm.$invalid' ng-show='!options' ng-click="update()">Update</a>
             <a ui-sref="dashboard.staff" class="btn btn-danger">Cancel</a><br/><br/>
             </div>
            </div>
            
            <!-- /.panel-body -->

        </form>
    </div>
    <!-- /.col-lg-12 -->
</div>

