
<script src="resources/scripts/controllers/staffController.js"></script>
<div class="row">
	<div class="col-lg-12">
		<a ui-sref="dashboard.add-staff"
			class="btn-sm btn-primary pull-right margin-top-40">Add Caller</a>
		<h2 class="page-header">Callers</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	 <div flash-message="2000" class="col-md-5 pull-right"></div>			
			<!-- /.panel-heading -->
			<div class="col-md-12">
					<table class="table table-hover">

						<thead>
							<tr>
								<th ng-mousedown="sort('username')">User Name&nbsp&nbsp<span
									class="glyphicon sort-icon" ng-show="sortKey=='username'"
									ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
								<th ng-mousedown="sort('firstName')">First Name&nbsp&nbsp<span
									class="glyphicon sort-icon" ng-show="sortKey=='firstName'"
									ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
								<th>Last Name</th>
								<th>Phone Number</th>
								<th>Email Id</th>

								<th width="20%">Action</th>
						
							</tr>

							<tr>
								<th><input class="form-control" type="text"
									ng-model="search.username" placeholder="Search by User Name"></th>
								<th><input class="form-control" type="text"
									ng-model="search.firstName" placeholder="Search by First Name"></th>
								<th><input class="form-control" type="text"
									ng-model="search.lastName" placeholder="Search by Last Name"></th>
									<th><input class="form-control" type="text"
									ng-model="search.phoneNumber" placeholder="Search by Phone Number"></th>
								<th><input class="form-control" type="text"
									ng-model="search.emailAddress" placeholder="Search by Email"></th>
								<th></th>	
								
							</tr>
						</thead>
						<tbody ng-show="staffs.length>0"  dir-paginate="staff in staffs|filter:search|orderBy:sortKey:reverse|itemsPerPage:8">

							<tr>
								<td>{{staff.username}}</td>
								<td>{{staff.firstName}}</td>
								<td>{{staff.lastName}}</td>

								<td>{{staff.phoneNumber}}</td>
								<td>{{staff.emailAddress}}</td>
								
								<td>
								<a href="#/dashboard/EditStaff/{{staff.id}}" class="btn btn-xs btn-warning hint--top" data-hint="Edit Caller"><i
								class="glyphicon glyphicon-edit"></i>
						</a>
						<a href="#" ng-click="deleteStaff(staff.id)" class="btn btn-xs btn-danger hint--top" data-hint="Delete Caller"><i
								class="glyphicon glyphicon-trash"></i>
						</a>
								
							
								<a href="" ng-show="staff.isEnable==1" ng-click="disableStaff(staff.id)" class="btn btn-xs btn-success hint--top" data-hint="Disable Caller"><i
								class="fa fa-unlock-alt"></i>
						</a>
								<a href="" ng-show="staff.isEnable==0" ng-click="enableStaff(staff.id)" class="btn btn-xs btn-danger hint--top" data-hint="Enable Caller"><i
								class="fa fa-lock"></i>
						</a>
						<a href="" ng-click="resetPassword(staff.id)" class="btn btn-xs btn-primary hint--top" data-hint="Reset Password"><i
								class="fa fa-key"></i>
						</a>
							<a href="" ng-show="staff.assignedPatientSize>0" ng-click="releasePatient(staff.id)" class="btn btn-xs btn-success hint--lefter" data-hint="Release Patient"><i
								class="fa fa-eject"></i>
						</a>
						<a ng-show="staff.assignedPatientSize==0" class="btn btn-xs btn-danger hint--lefter" data-hint="No Patient Assigned"><i
								class="fa fa-eject"></i>
						</a>
								
							 </td>
							</tr>
						</tbody>
						<tbody ng-show="!staffs.length">
				<tr>
				<td colspan="5" align="center">No Record Found</td>
				</tr>
				</tbody>
					</table>
					<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" >
    					</dir-pagination-controls>   
			</div>
		<!-- /.panel -->
	<!-- /.col-lg-12 -->
</div>






<!--  Delete staff Modal -->
<div class="modal fade" id="deleteStaffModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete caller </h4>
        </div>
        <div class="modal-body">Some patients are assigned to this caller. Do you still want to delete?
              
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
             <a type="submit" class="btn btn-success"  data-dismiss="modal" ng-disabled='myForm.$invalid' ng-click="deleteStaffFromPatients()">Yes</a>
        </div>
      </div>
      
    </div>
 </div>
<!-- End Assign Model -->

<div class="modal fade" id="disableStaff" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">Do you want to Disable Caller?
              
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
             <a type="submit" class="btn btn-success"  data-dismiss="modal" ng-disabled='myForm.$invalid' ng-click="disable()">Yes</a>
        </div>
      </div>
      
    </div>
 </div>
 
 <div class="modal fade" id="enableStaff" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation </h4>
        </div>
        <div class="modal-body">Do you want to Enable Caller?
              
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
             <a type="submit" class="btn btn-success"  data-dismiss="modal" ng-disabled='myForm.$invalid' ng-click="enable()">Yes</a>
        </div>
      </div>
      
    </div>
 </div>
 
 
  <div class="modal fade" id="resetPassword" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation </h4>
        </div>
        <div class="modal-body">Do you want to Reset the Password?
              
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
             <a type="submit" class="btn btn-success"  data-dismiss="modal" ng-disabled='myForm.$invalid' ng-click="reset()">Yes</a>
        </div>
      </div>
      
    </div>
 </div>

 <div class="modal fade" id="releasePatient" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation </h4>
        </div>
        <div class="modal-body">Do you want to Release the Patient?
              
        </div>
        <div class="modal-footer" >
         <button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
             <a type="submit" class="btn btn-success"  data-dismiss="modal" ng-disabled='myForm.$invalid' ng-click="release()">Yes</a>
        </div>
      </div>
      
    </div>
 </div>
 <script>
$(function(){
	$("html,body").scrollTop(0);
});
</script>