<div class="row">
    <div class="col-lg-12">
        <a ui-sref="dashboard.patient" class="btn-sm btn-primary pull-right margin-top-40">Back to the list</a>
        <h2 class="page-header">Add Call Logs</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="col-md-12">
                        <tbody>
                            <tr>
                               <td class="col-md-4"></td> 
                               <td class="col-md-4">
                                    <label>Date and Time</label>
                                    <input name="name" class="form-control" ng-model=""><br/>
                                  
                                 </td>
                                 
                             </tr>
                             <tr>
                             <td class="col-md-4"></td>
                             <td class="col-md-4">
                                 <label>Response</label>
                                    <textarea name="notes" class="form-control height-100" ng-model=""></textarea>
                                 </td>
                                 
                            
                             </tr>
                             <tr>
                             <td class="col-md-4">
                              <td class="col-md-4">
                             	<label>Notes</label>
                                   <textarea name="notes" class="form-control height-100" ng-model=""></textarea>
                                 </td>
                             </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <a ui-sref="" ng-show='myFormButton' class="btn btn-success"  ng-mousedown="">Save</a>
            
                <a ui-sref="" ng-show='!myFormButton' class="btn btn-success" ng-mousedown="">Update</a>
              <a ui-sref=""  class="btn btn-danger" >Cancel</a>
            

    
            </div>
       
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>