


<div class="row">
    <div class="col-lg-12">
    <a ui-sref="dashboard.patient" class="btn-sm btn-primary pull-right margin-top-40 btn-margin-left">Back to Patient</a>
	<a class="btn-sm btn-primary pull-right margin-top-40 margin-left-5 btn-margin-left" ng-click="addModel()">Add Call Logs</a>
	 	<h2 class="page-header">Call Logs</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
            <!-- /.panel-heading -->
            <div class="col-md-12">
            	<table class="table table-hover">
				<thead>
				<tr>
				<th ng-mousedown="sort('timeStamp')">Date and Time&nbsp&nbsp<span
									class="glyphicon sort-icon" ng-show="sortKey=='timeStamp'"
									ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
				<th>Response</th>
				<th>Notes</th>
				<th width="20%">Actions</th>
				</tr>
				<tr>
				<th><input type="text" class="form-control" placeholder="Date and Time" ng-model="search.timeStamp"/></th>
				<th><input type="text" class="form-control" placeholder="Response" ng-model="search.response"/></th>
				<th><input type="text" class="form-control" placeholder="Notes" ng-model="search.notes"/></th>
				<th></th>
				</tr>
				</thead>
				<tbody dir-paginate=" callLogss in callLogs|filter:search|orderBy:sortKey:reverse|itemsPerPage:8">
				<tr>
				<td>{{callLogss.timeStamp}}</td>
				<td>{{callLogss.response}}</td>
				<td>{{callLogss.notes}}</td>
				<td><a  type="submit" title="View Appointment" class="btn btn-xs btn-primary" ng-click="viewAppointments(callLogss.appointmentId)"> &nbsp;<i class="glyphicon glyphicon-eye-open"></i> &nbsp;</a>
				 <a type="submit" class="btn btn-xs btn-warning" ng-click="editModal(callLogss.id)">&nbsp;<i class="glyphicon glyphicon-edit" title="Edit"></i>&nbsp;</a>
				<a href="#" ui-sref="" ng-click="deleteCalllogs(callLogss.id)" class="btn btn-xs btn-danger">&nbsp;<i class="glyphicon glyphicon-trash" title="Delete"></i>&nbsp; </a>
				<a href="" data-toggle="modal" data-target="#AppointmentsModal" class="btn btn-xs btn-success">&nbsp;<i class="glyphicon glyphicon-plus" title="Edit"></i>&nbsp;</a>
				</td>
				</tr>
				</tbody>
				
			</table>
            </div>
            <!-- /.panel-body -->
    </div>
    <!-- /.col-lg-12 -->
</div>

  <!-- Modal -->
<div class="modal fade" id="calllogsModel" tabindex="-1" role="dialog" aria-labelledby="calllogsModelLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="calllogsModelLabel">{{title}}</h4>
      </div>
      <div class="modal-body">

                                    <label>Date and Time</label>
                                    
                                    <input name="timeStamp" id="timeStamp" class="form-control"  ng-model="calllogs.timeStamp"><br/>
                                    
                
                                    
                                    <input  type="hidden" patientId" id="patientId" class="form-control" ng-model="calllogs.patientId"><br/>
              
                                 <label>Response</label>
                                    <textarea name="response" id="response" class="form-control height-100" ng-model="calllogs.response"></textarea>
                 
                             	<label>Notes</label>
                                   <textarea name="notes" id="notes" class="form-control height-100" ng-model="calllogs.notes" ></textarea><br/>
                 
                                 
             
      </div>
      <div class="modal-footer">
        <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
             <a type="submit" class="btn btn-success" ng-show="options" ng-click="save()">Save</a>
             
             <a type="submit" class="btn btn-success" ng-show='!options' ng-click="update()">update</a> 
              
      </div>
    </div>
  </div>
</div>

<!--  Add Appointments Model-->

<div class="modal fade" id="AppointmentsModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Appointments</h4>
        </div>
        <div class="modal-body">
                                  <label>ScheduledDate</label>
                                    
                                    <input name="scheduledDate" class="form-control"  ng-model="Appointments.scheduledDate"><br/>
                                 
                                <input type="hidden" name="patientId" class="form-control"  ng-model="Appointments.patientId" ><br>
                 
                             	<label>Notes</label>
                                   <textarea name="notes" class="form-control height-100" ng-model="Appointments.notes" ></textarea><br/>
        </div>
        <div class="modal-footer">
         <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
             <a type="submit" class="btn btn-success"  ng-click="saveAppointments()">Save</a>
        </div>
      </div>
      
    </div>
 </div>   
    
    <!--  View Appointments Modal-->
    
    <div class="modal fade" id="viewAppointmentsModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">View Appointments</h4>
        </div>
        <div class="modal-body">
                     <table class="table table-hover">
				<thead>
				<tr>
				<th >scheduledDate</th>
				
				<th>Notes</th>

				</tr>
				
				</thead>
				<tbody >
				<tr>
				<td>{{appointments.scheduledDate}}</td>
				
				<td>{{appointments.notes}}</td>
				
				</tr>

				</tbody>
			</table>
			<div class="modal-footer">
        <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
            
              
      </div>
        </div>
        </div>
      </div>
      
    </div>
    
   