<style>
    #map_canvas {
            height: 400px;
            width: 100%;
            margin-top: 20px;
        }

        #map_canvas {
            position: relative;
        }

        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .no-padding{
        padding : 0 !important;
        }
        .text-top{
        margin-top: 5px !important;
        }
    </style>
<div class="row">
	<div class="col-lg-12">
		<a href="#/dashboard/Calllogs/{{patient.id}}"
			class="btn-sm btn-primary pull-right margin-top-40">Back to Call Logs</a>
		<h2 class="page-header">View Near By Clinics</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
<form name="searchClinic" novalidate>
	<div class="col-md-6">
	<b>Patient Name :</b> {{patient.name}}<br/>
	<b>Address:</b> {{patient.address}}
	</div>
	<div class="col-md-2 no-padding text-top text-right">
	<b>Range (Miles) :</b>
	</div>
	<div class="col-md-2">
	<input type="text" name="range" class="form-control" ng-model="searchRange" ng-pattern="/^\d+$/" required>
	<span class="error-container" ng-show="searchClinic.range.$dirty && searchClinic.range.$invalid">
        <span style="color:red" ng-show="searchClinic.range.$error.required">Please Enter Range</span>
        <span style="color:red" ng-show="searchClinic.range.$error.pattern">Invalid Format</span>
    </span>
	</div>
	<div class="col-md-2">
	<span class="btn btn-warning" ng-click="getNearByClinics()" ng-class="{'button-disable':searchClinic.$invalid}" ng-disabled='searchClinic.$invalid'><i class="glyphicon glyphicon-search"></i> Search By Range</span>
	</div>
</form>
</div>
 <div id="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
    <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle>
   <!--  <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" click="onClick()">
   <ui-gmap-window options="windowOptions" closeClick="closeClick()" show="marker.show">
                <div>{{marker.title}}</div>
            </ui-gmap-window>
        </ui-gmap-marker> -->
        <ui-gmap-markers models="clinicMarkers" coords="'self'" icon="'icon'" click="onClick" events="markersEvents">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
        </ui-gmap-markers>
      </ui-gmap-google-map>
</div>
<div class="row">
<table class="table">
<thead>
<tr><th>Clinic Name</th><th>Address</th><th>City</th><th>Office Number</th><th>Action</th></tr>
</thead>
<tbody ng-repeat="clinic in clinicsForms">
<tr id="text"><td>{{clinic.clinicName}}</td><td>{{clinic.address}}</td><td>{{clinic.city}}</td><td>{{clinic.officeNumber}}</td><td> <a href="" ng-click="viewClinicDetails(clinic.clinicId)" class="btn btn-xs btn-primary hint--top" data-hint="View More Details"><i
								class="glyphicon glyphicon-eye-open"></i></a></td></tr>
</tbody>
<tbody ng-show="clinicsForms.length==0">
<tr>
<td colspan="5" align="center">No Records Found</td>
</tr>
</tbody>
</table>
</div>

<!-- Clinic View  More Details-->
  <div class="modal fade" id="viewClinicDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Clinic Details</h4>
      </div>
      <div class="modal-body">
	<table class="table table-striped table-bordered" >
			<tr>
					
						<td class="col-md-3" ><b>Clinic Name</b></td>
					<td class="col-md-3" ng-hide="clinicDetails.clinicName.length==0">{{clinicDetails.clinicName}}</td>
						<td class="col-md-3" ng-show="clinicDetails.clinicName.length==0">-</td>
					
					<td class="col-md-3"><b>Zip</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.zipcode.length==0">{{clinicDetails.zipcode}}</td>
						<td class="col-md-3" ng-show="clinicDetails.zipcode.length==0">-</td>
						
					
						
						
			</tr>
			
				<tr>
			<td class="col-md-3"><b>Address</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.address.length==0">{{clinicDetails.address}}</td>
						<td class="col-md-3" ng-show="clinicDetails.address.length==0">-</td>
			<td class="col-md-3"><b>Office Number</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.officeNumber.length==0">{{clinicDetails.officeNumber}}</td>
						<td class="col-md-3" ng-show="clinicDetails.officeNumber.length==0">-</td>
						
						
						
				</tr>
				<tr>
				<td class="col-md-3"><b>City</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.city.length==0">{{clinicDetails.city}}</td>
						<td class="col-md-3" ng-show="clinicDetails.city.length==0">-</td>
				<td class="col-md-3"><b>Fax Number</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.faxNumber.length==0">{{clinicDetails.faxNumber}}</td>
						<td class="col-md-3" ng-show="clinicDetails.faxNumber.length==0">-</td>
						
			
				</tr>
				<tr>
				<td class="col-md-3"><b>State</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.state.length==0">{{clinicDetails.state}}</td>
						<td class="col-md-3" ng-show="clinicDetails.state.length==0">-</td>
				
				<td class="col-md-3"><b>County</b></td>
					
						<td class="col-md-3" ng-hide="clinicDetails.county.length==0">{{clinicDetails.county}}</td>
						<td class="col-md-3" ng-show="clinicDetails.county.length==0">-</td>
				</tr>
				<tr>
				<td class="col-md-3"><b>Country</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.country.length==0" colspan="3">{{clinicDetails.country}}</td>
						<td class="col-md-3" ng-show="clinicDetails.country.length==0">-</td>
				</tr>
	<tr>
<td class="col-md-3"><b>Direction</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.direction.length==0" colspan="3">{{clinicDetails.directions}}</td>
						<td class="col-md-3" ng-show="clinicDetails.direction.length==0" colspan="3">-</td>
				
</tr>


<tr>
<td class="col-md-3"><b>Notes</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.notes.length==0" colspan="3">{{clinicDetails.notes}}</td>
						<td class="col-md-3" ng-show="clinicDetails.notes.length==0" colspan="3">-</td>
	</tr>
	<tr>
				<td class="col-md-3" colspan="4"><b>Working Days and Timing</b></td>
				</tr>
	<tr>
				<td class="col-md-12" colspan="4">
				<table class="table">
				<thead>
				<tr>
				<th>Day</th><th>Start Time</th><th>End Time</th>
				</tr>
				</thead>
				<tr ng-show="clinicDetails.clinicTimingList[0].isWorkingDay==1">
				<td>Sunday</td>
				<td>{{clinicDetails.clinicTimingList[0].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[0].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[1].isWorkingDay==1">
				<td>Monday</td>
				<td>{{clinicDetails.clinicTimingList[1].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[1].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[2].isWorkingDay==1">
				<td>Tuesday</td>
				<td>{{clinicDetails.clinicTimingList[2].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[2].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[3].isWorkingDay==1">
				<td>Wednesday</td>
				<td>{{clinicDetails.clinicTimingList[3].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[3].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[4].isWorkingDay==1">
				<td>Thursday</td>
				<td>{{clinicDetails.clinicTimingList[4].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[4].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[5].isWorkingDay==1">
				<td>Friday</td>
				<td>{{clinicDetails.clinicTimingList[5].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[5].endTime}}</td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[6].isWorkingDay==1">
				<td>Saturday</td>
				<td>{{clinicDetails.clinicTimingList[6].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[6].endTime}}</td>
				</tr>
				</table>
				</td>
				</tr>				
			</table>
     
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
    </div>
  </div>
</div> 