
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Appointment</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">           
            <!-- /.panel-heading -->
            <div class="col-md-12">
                <div class="dataTable_wrapper">
                 <div class="col-md-12">
            <div class="col-md-4">
         Select Date :
         <div class='input-group'>
         <input type="text" class="form-control" ng-model="searchDate" ng-change="getByDates()" placeholder="Global Search" id='datetimepicker8'/>
         <span class="input-group-addon white-color-bg"> <span
																class="glyphicon glyphicon-calendar"></span>
															</span>
															</div>
         </div>
            </div>
                  <table class="table table-hover" id="dataTables-example">
                     
                          <thead>
	        <tr>
						
                <th ng-mousedown="sort('scheduledDate')">Date   <span class="glyphicon sort-icon" ng-show="sortKey=='scheduledDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
               
            	 	 <th ng-mousedown="sort('notes')">Notes   <span class="glyphicon sort-icon" ng-show="sortKey=='notes'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
             	 <th ng-mousedown="sort('status')">Status   <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>  </th>
            
              	<th>Action</th>
                	 <tr>    
            <th>  <input type="text"  class="form-control"  ng-model="search.scheduledDate" placeholder="Date"></label>
           </th>
           			
            <th>  <input type="text"  class="form-control"  ng-model="search.notes" placeholder="Notes"></label>
           </th>
            <th>  <input type="text"  class="form-control"  ng-model="search.status" placeholder="Status"></label>
           </th>
           <th></th>
             </tr>
            </thead>
            
           	 <tbody dir-paginate="appointment in appointments | filter:search | orderBy:sortKey:reverse|itemsPerPage:8 " >
	<tr>
		
		<td>{{appointment.scheduledDate}}</td>
<td>{{appointment.notes}}</td>
		 	
  <td>
 <div ng-switch on="appointment.status">
 <div ng-switch-when="1">Availability</div>
 <div ng-switch-when="2">Cancelled</div>
 <div ng-switch-default>No availability</div>

  </td><td>
  <a ng-click="viewPatients(appointment.patientId)" class="btn btn-xs btn-primary"><i
								class="glyphicon glyphicon-eye-open"></i>&nbsp; View patients
						
</a></td>
		 
		</tr>
</tbody>
              </table>
              <dir-pagination-controls max-size="2" direction-links="true" boundary-links="true" >
    					</dir-pagination-controls>  
    			</div>
            </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Patient Details</h4>
      </div>
      <div class="modal-body">
	<table>
					<tr>
						<td class="col-md-3">Name</td>
						<td class="col-md-9">: {{patients.name}}</td>
						</tr>
						<tr>
						<td class="col-md-3">Date Of Birth</td>
						<td class="col-md-9">: {{patients.dateOfBirth}}</td>
						</tr>
						<tr>
						<td class="col-md-3">Gender</td>
						<td class="col-md-9">: {{patients.gender}}</td>
						</tr>
						<tr>
						<td class="col-md-3">Local Report Number</td>
						<td class="col-md-9">: {{patients.localReportNumber}}</td>
						</tr>
						<tr>
						<td class="col-md-3">Phone Number</td>
						<td class="col-md-9">: {{patients.phoneNumber}}</td>
						</tr>
						<tr>
						<td class="col-md-3">Address</td>
						<td class="col-md-9">: {{patients.address}}</td>
						</tr>
						
						
						
					
			</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
    </div>
  </div>
</div>
<script>
$('#datetimepicker8').datetimepicker(
		{
			pickTime : false,
			format:'YYYY-MM-DD',
			maxDate : new Date()
		});
</script>    
