<link rel="stylesheet" href="resources/components/datetime/datetimepicker.css"></link>
            <script src="resources/components/datetime/moment.js"></script>
             <script src="resources/components/datetime/datetimepicker.js"></script>
<div ng-cloak>
<div class="row">
    <div class="col-lg-12">
    <div flash-message="2000" class="col-md-5 pull-right margin-top35"></div>
        <h2 class="page-header">Appointments</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-12 no-padding">
    	<!-- /.panel-heading -->
    	<div class="col-md-3">
			<label>Year :</label>
            <div class='input-group'><input type="text"  class="form-control" readonly ng-model="searchAppointment.year" placeholder="Search by Date" id="yearpicker" ng-change="searchAppointments()"/>
            	<span class="input-group-addon white-color-bg">
            		<span class="glyphicon glyphicon-calendar"></span>
            	</span>
            </div>
        </div>

		<div class="col-md-3">
         	<label>Month :</label>
       		<select class="form-control" name="month" ng-model="searchAppointment.month" ng-change="searchAppointments()">
         		<option value="13">All</option>
				<option value="1">January</option>
				<option value="2">February</option>
				<option value="3">March</option>
				<option value="4">April</option>
				<option value="5">May</option>
				<option value="6">June</option>
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
         	</select>
        </div>
       <div class="col-md-3">
       		<label>Status:</label>
        	<select class="form-control" name="status" ng-model="searchAppointment.status" ng-change="searchAppointments()">
		         <option value="0">All</option>
		         <option value="1">Appointment Scheduled</option>
		         <option value="2">Confirmed</option>
		         <option value="3">Cancelled</option>
		    </select><br/>
       </div>
       <div class="col-md-12">
                  <table class="table table-striped table-bordered" id="dataTables-example">
                     
                          <thead>
	        <tr>
						
                <th class="col-md-2">Date & Time</th>
              	<th class="col-md-2">Patient Name</th>
            	<th class="col-md-2">Clinic Name</th>
            	<th class="col-md-2">Caller First Name</th>
            	<th class="col-md-2">Caller Last Name</th>
            	<th class="col-md-3">Status</th>
                	 <tr>    
            <th> <div class='input-group'><input type="text"  class="form-control"  ng-model="searchAppointment.date" placeholder="Date" id="datetimepicker8" ng-change="searchAppointments()"/><span class="input-group-addon white-color-bg"> <span
																class="glyphicon glyphicon-calendar"></span></span></div>
															
           </th>
           	<th> <div class="input-group">
  								<span class="input-group-addon search" id="basic-addon2"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text" ng-model="searchAppointment.patientName" ng-change="searchAppointments()" placeholder="Patient Name"></div>
           </th>		
            <th>  <div class="input-group">
  								<span class="input-group-addon search" id="basic-addon2"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text" ng-model="searchAppointment.clinicName" ng-change="searchAppointments()" placeholder="Clinic Name"></div>
           </th>
            <th>
             <div class="input-group">
  								<span class="input-group-addon search" id="basic-addon2"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text" ng-model="searchAppointment.callerFirstName" ng-change="searchAppointments()" placeholder="First Name"></div>
            </th>
            <th>
             <div class="input-group">
  								<span class="input-group-addon search" id="basic-addon2"><i class="fa fa-search"></i></span>
								<input class="form-control" type="text" ng-model="searchAppointment.callerLastName" ng-change="searchAppointments()" placeholder="Last Name"></div>
            </th>
            <th></th>
             </tr>
            </thead>
            
           	 <tbody>
	<tr dir-paginate="appointment in appointments|itemsPerPage:searchAppointment.itemsPerPage" total-items="totalRecords" current-page="searchAppointment.pageNumber" pagination-id="appointmentPageId">
		
		<td ng-cloak>{{appointment.scheduledDateTime}}</td>
		<td ng-cloak><a href=""  class="hint--top" data-hint="View Patient" ng-cloak ng-click="viewPatientDetailsModal(appointment.patientId)">{{appointment.patientName}}</a></td>
<td ng-cloak class="col-md-2 wrap"><a href=""  class="hint--top" data-hint="View Clinic" ng-cloak ng-click="viewClinicDetailsModal(appointment.clinicId)">{{appointment.clinicName}}</a></td>
		  <td ng-cloak><span ng-show="{{appointment.callerFirstName!=null}}">{{appointment.callerFirstName}}</span><span ng-show="{{appointment.callerFirstName==null}}">{{appointment.callerAdminFirstName}}</span></td>
		   <td ng-cloak><span ng-show="{{appointment.callerLastName!=null}}">{{appointment.callerLastName}}</span><span ng-show="{{appointment.callerLastName==null}}">{{appointment.callerAdminLastName}}</span></td>
  <td ng-cloak>
  <select class="form-control" ng-model="appointment.status" ng-change="changeAppointmentStatus(appointment.id,appointment.status)">
  <option value="1">Scheduled</option>
  <option value="2">Confirmed</option>
  <option value="3">Cancelled</option>
  </select>
 </tr>
</tbody>

<tbody ng-show="appointments.length==0">
				<tr>
				<td colspan="7" align="center">No Record Found</td>
				</tr>
				</tbody>

              </table>
              <dir-pagination-controls on-page-change="searchAppointmentByPage(newPageNumber)" max-size="5" direction-links="true" boundary-links="true" pagination-id="appointmentPageId">
    					</dir-pagination-controls>
    					<div class="col-md-3 pull-right">
        <label>Number of Records</label>
	<select
		class="form-control" ng-model="searchAppointment.itemsPerPage" name="itemsPerPage"
		id="noOfRows" ng-change="searchAppointments()">
		<option value="10">Show 10 Per Page</option>
		<option value="25">Show 25 Per Page</option>
		<option value="50">Show 50 Per Page</option>
		<option value="100">Show 100 Per Page</option>
	</select> 
	</div>
            </div>
        <!-- /.panel -->
        
    </div>
    </div>
    <!-- /.col-lg-12 -->
    

    
    <!-- Patient Details Modal  -->
  <div class="modal fade" id="viewPatientDetailsModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Patient Details</h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped table-bordered">
					<tr>
						<td class="col-md-3"><b>Name</b></td>
						<td class="col-md-3">{{patient.name}}</td>
						<td class="col-md-3"><b>Gender</b></td>
						<td class="col-md-3">{{patient.gender}}</td>
						
					</tr>
					<tr>
						<td class="col-md-3"><b>Date Of Birth</b></td>
						<td class="col-md-3">{{patient.dateOfBirth}}</td>
						<td class="col-md-3"><b>Age</b></td>
						<td class="col-md-3">{{patient.age}}</td>
					</tr>
					<tr>
						<td class="col-md-3"><b>Phone Number</b></td>
						<td class="col-md-3">{{patient.phoneNumber}}</td>
						<td class="col-md-3"><b>Address</b></td>
						<td class="col-md-3">{{patient.address}}</td>
						
					</tr>
					<tr>
						<td class="col-md-3"><b>Unit Number</b></td>
						<td class="col-md-3">{{patient.unitNumber}}</td>
						<td class="col-md-3"><b>Number of Units</b></td>
						<td class="col-md-3">{{patient.numberOfUnits}}</td>
						
					</tr>
					<tr>
						<td class="col-md-3"><b>Units in Error</b></td>
						<td class="col-md-3">{{patient.unitInError}}</td>
						<td class="col-md-3"><b>Local Report Number</b></td>
						<td class="col-md-3">{{patient.localReportNumber}}</td>
						
						
					</tr>
					<tr>
						<td class="col-md-3"><b>Injuries</b></td>
						<td class="col-md-3">
							<span ng-if="patient.injuries==1">No Injury/None Reported</span>
							<span ng-if="patient.injuries==2">Possible</span>
							<span ng-if="patient.injuries==3">Non-Incapacitating</span>
							<span ng-if="patient.injuries==4">Incapacitating</span>
						</td>
						<td class="col-md-3"><b>Crash Severity</b></td>
						<td class="col-md-3">
							<span ng-if="patient.crashSeverity==1">Fatal</span>
							<span ng-if="patient.crashSeverity==2">Injury</span>
							<span ng-if="patient.crashSeverity==3">PDO</span>
						</td>
					</tr>
					<tr>
					
						<td class="col-md-3"><b>Crash Date</b></td>
						<td class="col-md-3">{{patient.crashDate}}</td>
							<td class="col-md-3"><b>Time of Crash</b></td>
						<td class="col-md-3">{{patient.timeOfCrash}}</td>
						
					</tr>
					<tr>
						<td class="col-md-3"><b>EMS Agency</b></td>
						<td class="col-md-3">{{patient.emsAgency}}</td>
						<td class="col-md-3"><b>Report Agency Name</b></td>
						<td class="col-md-3">{{patient.reportingAgencyName}}</td>
					</tr>
					
					<tr>
						<td class="col-md-3"><b>County</b></td>
						<td class="col-md-3">{{patient.county}}</td>
						<td class="col-md-3"><b>City Village Township</b></td>
						<td class="col-md-3">{{patient.cityVillageTownship}}</td>
					</tr>
					<tr>
					<td class="col-md-3"><b>Medical Facility</b></td>
						<td class="col-md-3">{{patient.medicalFacility}}</td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td class="col-md-3"><b>At Fault INS. Company</b></td>
						<td class="col-md-3">{{patient.atFaultInsuranceCompany}}</td>
						<td class="col-md-3"><b>At Fault Policy Number</b></td>
						<td class="col-md-3">{{patient.atFaultPolicyNumber}}</td>
					</tr>
					<tr>
						<td class="col-md-3"><b>Victim INS. Company</b></td>
						<td class="col-md-3">{{patient.victimInsuranceCompany}}</td>
						<td class="col-md-3"><b>Victim Policy Number</b></td>
						<td class="col-md-3">{{patient.victimPolicyNumber}}</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Clinic Details Modal  -->
  <div class="modal fade" id="viewClinicDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Clinic & Doctor Details</h4>
      </div>
      <div class="modal-body">
	<table class="table table-striped table-bordered" >
			<tr>
					
						<td class="col-md-3" ><b>Clinic Name</b></td>
					<td class="col-md-3" ng-hide="clinicDetails.clinicName==null">{{clinicDetails.clinicName}}</td>
						<td class="col-md-3" ng-show="clinicDetails.clinicName==null">-</td>
					
					<td class="col-md-3"><b>Zip</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.zipcode==null">{{clinicDetails.zipcode}}</td>
						<td class="col-md-3" ng-show="clinicDetails.zipcode==null">-</td>
						
					
						
						
			</tr>
			
				<tr>
			<td class="col-md-3"><b>Address</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.address==null">{{clinicDetails.address}}</td>
						<td class="col-md-3" ng-show="clinicDetails.address==null">-</td>
			<td class="col-md-3"><b>Office Number</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.officeNumber==null">{{clinicDetails.officeNumber}}</td>
						<td class="col-md-3" ng-show="clinicDetails.officeNumber==null">-</td>
						
						
						
				</tr>
				<tr>
				<td class="col-md-3"><b>City</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.city==null">{{clinicDetails.city}}</td>
						<td class="col-md-3" ng-show="clinicDetails.city==null">-</td>
				<td class="col-md-3"><b>Fax Number</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.faxNumber==null">{{clinicDetails.faxNumber}}</td>
						<td class="col-md-3" ng-show="clinicDetails.faxNumber==null">-</td>
						
			
				</tr>
				<tr>
				<td class="col-md-3"><b>State</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.state==null">{{clinicDetails.state}}</td>
						<td class="col-md-3" ng-show="clinicDetails.state==null">-</td>
				
				<td class="col-md-3"><b>County</b></td>
					
						<td class="col-md-3" ng-hide="clinicDetails.county==null">{{clinicDetails.county}}</td>
						<td class="col-md-3" ng-show="clinicDetails.county==null">-</td>
				</tr>
				<tr>
				<td class="col-md-3"><b>Country</b></td>
						<td class="col-md-3" ng-hide="clinicDetails.country==null">{{clinicDetails.country}}</td>
						<td class="col-md-3" ng-show="clinicDetails.country==null">-</td>
				
				<td class="col-md-3"><b>Service Area</b></td>
					
						<td class="col-md-3" ng-hide="clinicDetails.serviceArea==null">{{clinicDetails.serviceArea}}</td>
						<td class="col-md-3" ng-show="clinicDetails.serviceArea==null">-</td>
				</tr>
				
	<tr>
<td class="col-md-3"><b>Direction</b></td>
						<td class="col-md-3 wrap" ng-hide="clinicDetails.directions==''" colspan="3">{{clinicDetails.directions}}</td>
						<td class="col-md-3" ng-show="clinicDetails.directions==''" colspan="3">-</td>
				
</tr>


<tr>
<td class="col-md-3"><b>Notes</b></td>
						<td class="col-md-3 wrap" ng-hide="clinicDetails.notes.length==null" colspan="3">{{clinicDetails.notes}}</td>
						<td class="col-md-3" ng-show="clinicDetails.notes.length==null" colspan="3">-</td>
	</tr>
	<tr>
				<td class="col-md-3" colspan="4"><b>Office Hours &nbsp;|</b>&nbsp;&nbsp;&nbsp;<span class="successText"><i class="glyphicon glyphicon-ok"></i></span> <b>- Working/Appointment Day</b> &nbsp;&nbsp;&nbsp;&nbsp;<span class="errorText"><i class="glyphicon glyphicon-remove"></i></span> <b>- Not Working/Not Appointment Day</b></td>
				</tr>
	<tr>
				<td class="col-md-12" colspan="4">
				<table class="table">
				<thead>
				<tr>
				<th>Day</th><th align="center">Is Working Day</th><th>Start Time</th><th>End Time</th><th>Starts Break</th><th>Ends Break</th><th align="center">Is Appointment</th>
				</tr>
				</thead>
				<tr ng-show="clinicDetails.clinicTimingList[0].isWorkingDay==1">
				<td>Sunday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[0].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[0].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[0].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[0].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[0].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[0].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[0].isWorkingDay!=1">
				<td>Sunday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[0].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[0].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[1].isWorkingDay==1">
				<td>Monday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[1].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[1].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[1].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[1].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[1].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[1].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[1].isWorkingDay!=1">
				<td>Monday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[1].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[1].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[2].isWorkingDay==1">
				<td>Tuesday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[2].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[2].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[2].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[2].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[2].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[2].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[2].isWorkingDay!=1">
				<td>Tuesday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[2].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[2].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[3].isWorkingDay==1">
				<td>Wednesday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[3].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[3].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[3].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[3].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[3].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[3].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[3].isWorkingDay!=1">
				<td>Wednesday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[3].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[3].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[4].isWorkingDay==1">
				<td>Thursday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[4].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[4].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[4].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[4].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[4].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[4].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[4].isWorkingDay!=1">
				<td>Thursday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[4].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[4].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[5].isWorkingDay==1">
				<td>Friday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[5].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[5].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[5].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[5].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[5].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[5].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[5].isWorkingDay!=1">
				<td>Friday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[5].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[5].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[6].isWorkingDay==1">
				<td>Saturday</td>
				<td align="center"><span class="successText hint--top" data-hint="Working day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td>{{clinicDetails.clinicTimingList[6].startTime}}</td>
				<td>{{clinicDetails.clinicTimingList[6].endTime}}</td>
				<td>{{clinicDetails.clinicTimingList[6].startsBreak}}</td>
				<td>{{clinicDetails.clinicTimingList[6].endsBreak}}</td>
				<td ng-show="clinicDetails.clinicTimingList[6].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[6].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				</tr>
				<tr ng-show="clinicDetails.clinicTimingList[6].isWorkingDay!=1">
				<td>Saturday</td>
				<td align="center"><span class="errorText hint--top" data-hint="Not Working Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td ng-show="clinicDetails.clinicTimingList[6].isAppointmentDay==0 || clinicDetails.clinicTimingList[6].isAppointmentDay==null" align="center"><span class="errorText hint--top" data-hint="Not Appointment Day"><i class="glyphicon glyphicon-remove"></i></span></td>
				<td ng-show="clinicDetails.clinicTimingList[6].isAppointmentDay==1" align="center"><span class="successText hint--top" data-hint="Appointment day"><i class="glyphicon glyphicon-ok"></i></span></td>
				</tr>
				</table>
				</td>
				</tr>
				<tr>
				<td class="col-md-12" colspan="4">
				<table class="table">
				<thead>
				<tr>
				<th>Doctors List</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="doctorDetails in clinicDetails.doctorsForms">
				<td><i class="fa fa-user-md"></i>&nbsp;&nbsp;{{doctorDetails.doctorName}}</td>
				</tr>
				</tbody>
				<tbody ng-show="!clinicDetails.doctorsForms.length">
				<tr>
				<td colspan="1" align="center">No Doctors added</td>
				</tr>
				</tbody>
				</table>
				</td>
				</tr>			
			</table>
     
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
    </div>
  </div>
</div> 
</div>
<script>
$('#datetimepicker8').datetimepicker(
		{
			pickTime : false,
			format:'MM/DD/YYYY',
			defaultDate:new Date()
			
		});
$('#yearpicker').datetimepicker(
		{
			pickTime : false,
			format:'YYYY',
			viewMode: "years", 
		    minViewMode: "years"
			
		});
</script>    
