<div class="row">
	<div class="col-lg-12">
		<a ui-sref="dashboard.patient"
			class="btn-sm btn-primary pull-right margin-top-40">Back to the
			list</a>
		<h2 class="page-header" >{{title}}<span ng-hide="title=='Add Doctor'">&nbsp;-&nbsp;{{patient.name}}</span></h2>
		
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
	<form name="myForm" novalidate>
		<div class="panel panel-default">
			<div class="panel-heading">Enter Patient Details</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
                            <div class="col-md-12">
                            <div class="col-md-4">
                                    <label>Local Report Number:</label>
                                    <input type="text" class="form-control"  ng-model="patient.localReportNumber" name="localReportNumber" placeholder="Enter LocalReportNumber"  required>
                                    <span class="error-container" ng-show="myForm.localReportNumber.$dirty && myForm.localReportNumber.$invalid">
                                    <span style="color:red" ng-show="myForm.localReportNumber.$error.required">Please Enter LocalReportNumber</span>
                                     </span><br><br>
                                 </div>
                                <div class="col-md-4">    
                                    <label>Crash Severity:</label>
                                    <input type="text" class="form-control"  ng-model="patient.crashSeverity" name="crashSeverity" placeholder="Enter CrashSeverity"  required>
                                    <span class="error-container" ng-show="myForm.crashSeverity.$dirty && myForm.crashSeverity.$invalid">
                                      <span style="color:red" ng-show="myForm.crashSeverity.$error.required">Please Enter CrashSeverity</span>
                                     </span><br><br>
                                    </div>
                                  <div class="col-md-4">
                                    <label>Reporting Agency Name:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.reportingAgencyName" name="reportingAgencyName" placeholder="Enter ReportingAgencyName"  required>
                                    <span class="error-container" ng-show="myForm.reportingAgencyName.$dirty && myForm.reportingAgencyName.$invalid">
                                       <span style="color:red" ng-show="myForm.reportingAgencyName.$error.required">Please Enter Report Number</span>
                                         </span><br><br>
                                          </div>
                                         
                                </div>
                                <div class="col-md-12">
                                 <div class="col-md-4">
                                 <label>Number Of Units:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.numberOfUnits" name="numberOfUnits" placeholder="Enter NumberOfUnits"  required>
                                    <span class="error-container" ng-show="myForm.numberOfUnits.$dirty && myForm.numberOfUnits.$invalid">
                                       <span style="color:red" ng-show="myForm.numberOfUnits.$error.required">Please Enter NumberOfUnits</span>
                                         </span><br><br>
                                   	</div>
                                    <div class="col-md-4">
                                    <label>Unit In Error:</label>
                                    <input tyep="text" class="form-control"  ng-model="patient.unitInError" name="unitInError" placeholder="Enter UnitInError"  required>
                                    <span class="error-container" ng-show="myForm.unitInError.$dirty && myForm.unitInError.$invalid">
                                     <span style="color:red" ng-show="myForm.unitInError.$error.required">Please Enter UnitInError</span>
                                   </span><br><br>
                                  </div>
                                  <div class="col-md-4">
                                 	<label>County:</label>
                                    <input type="text" class="form-control"  ng-model="patient.country" name="country" placeholder="Enter Country"  required>
                                    <span class="error-container" ng-show="myForm.country.$dirty && myForm.country.$invalid">
                                      <span style="color:red" ng-show="myForm.country.$error.required">Please Enter Country</span>
                                     </span><br><br>
                                      </div>
                               </div>
                            <div class="col-md-12">
                        		<div class="col-md-4">
									<label>City Village Township:</label>
									<input type="text" class="form-control"  ng-model="patient.cityVillageTownship" name="cityVillageTownship" placeholder="Enter CityVillageTownship"  required>
								 <span class="error-container" ng-show="myForm.cityVillageTownship.$dirty && myForm.cityVillageTownship.$invalid">
                                      <span style="color:red" ng-show="myForm.cityVillageTownship.$error.required">Please Enter CityVillageTownship</span>
                                     </span><br><br>
                                     </div>
                                <div class="col-md-4">
                                 <label>Crash Date:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.crashDate" name="crashDate" placeholder="Enter CrashDate"  required>
                                    <span class="error-container" ng-show="myForm.crashDate.$dirty && myForm.crashDate.$invalid">
                                       <span style="color:red" ng-show="myForm.crashDate.$error.required">Please Enter CrashDate</span>
                                         </span><br><br>
                                         </div>
								<div class="col-md-4">
                                 <label>Time Of Crash:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.timeOfCrash" name="timeOfCrash" placeholder="Enter TimeOfCrash"  required>
                                    <span class="error-container" ng-show="myForm.timeOfCrash.$dirty && myForm.timeOfCrash.$invalid">
                                       <span style="color:red" ng-show="myForm.timeOfCrash.$error.required">Please Enter TimeOfCrash</span>
                                         </span><br><br>
                                         </div>
                                   </div>
							<div class="col-md-12">                              
                                 <div class="col-md-4">
                                 <label>Local Report Number1:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.localReportNumber1" name="localReportNumber1" placeholder="Enter LocalReportNumber1"  required>
                                    <span class="error-container" ng-show="myForm.localReportNumber1.$dirty && myForm.localReportNumber1.$invalid">
                                       <span style="color:red" ng-show="myForm.localReportNumber1.$error.required">Please Enter LocalReportNumber1</span>
                                         </span><br><br>
                                   </div>
                                  <div class="col-md-4">
                                    <label>Unit Number:</label>
                                    <input tyep="text" class="form-control"  ng-model="patient.unitNumber" name="unitNumber" placeholder="Enter UnitNumber"  required>
                                    <span class="error-container" ng-show="myForm.unitNumber.$dirty && myForm.unitNumber.$invalid">
                                     <span style="color:red" ng-show="myForm.unitNumber.$error.required">Please Enter UnitNumber</span>
                                   </span><br><br>
                                  </div>
                                  <div class="col-md-4">
                                 	<label>Name:</label>
                                    <input type="text" class="form-control"  ng-model="patient.name" name="name" placeholder="Enter Name"  required>
                                    <span class="error-container" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                                      <span style="color:red" ng-show="myForm.name.$error.required">Please Enter Name</span>
                                     </span><br><br>
                                      </div>
								</div>
								<div class="col-md-12">                              
                                 <div class="col-md-4">
                                 <label>Date Of Birth:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.dateOfBirth" name="dateOfBirth" placeholder="Enter DateOfBirth"  required>
                                    <span class="error-container" ng-show="myForm.dateOfBirth.$dirty && myForm.dateOfBirth.$invalid">
                                       <span style="color:red" ng-show="myForm.dateOfBirth.$error.required">Please Enter DateOfBirth</span>
                                         </span><br><br>
                                         </div>
                                   <div class="col-md-4">
                                    <label>Gender:</label>
                                    <input tyep="text" class="form-control"  ng-model="patient.gender" name="gender" placeholder="Enter Gender"  required>
                                    <span class="error-container" ng-show="myForm.gender.$dirty && myForm.gender.$invalid">
                                     <span style="color:red" ng-show="myForm.gender.$error.required">Please Enter Gender</span>
                                   </span><br><br>
                                  </div>
                                  <div class="col-md-4">
                                 	 <label>Address:</label>
                                    <input type="text" class="form-control"  ng-model="patient.address" name="address" placeholder="Enter Address"  required>
                                    <span class="error-container" ng-show="myForm.address.$dirty && myForm.address.$invalid">
                                      <span style="color:red" ng-show="myForm.address.$error.required">Please Enter Address</span>
                                     </span><br><br>
                                      </div>
								</div>
							<div class="col-md-12">                              
                                 <div class="col-md-4">
                                 <label>Phone Number:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.phoneNumber" name="phoneNumber" placeholder="Enter PhoneNumber"  required>
                                    <span class="error-container" ng-show="myForm.phoneNumber.$dirty && myForm.phoneNumber.$invalid">
                                       <span style="color:red" ng-show="myForm.phoneNumber.$error.required">Please Enter Phone Number</span>
                                         </span><br><br>
                                         </div>
                                  <div class="col-md-4">
                                    <label>Injuries:</label>
                                    <input tyep="text" class="form-control"  ng-model="patient.injuries" name="injuries" placeholder="Enter Injuries"  required>
                                    <span class="error-container" ng-show="myForm.injuries.$dirty && myForm.injuries.$invalid">
                                     <span style="color:red" ng-show="myForm.injuries.$error.required">Please Enter Injury</span>
                                   </span><br><br>
                                  </div>
                                  <div class="col-md-4">
                                 	 <label>Ems Agency:</label>
                                    <input type="text" class="form-control"  ng-model="patient.emsAgency" name="emsAgency" placeholder="Enter EmsAgency"  required>
                                    <span class="error-container" ng-show="myForm.emsAgency.$dirty && myForm.emsAgency.$invalid">
                                      <span style="color:red" ng-show="myForm.emsAgency.$error.required">Please Enter EmsAgency</span>
                                     </span><br><br>
                                      </div>
								</div>
								 <div class="col-md-12">                              
                                 <div class="col-md-4">
                                 <label>Medical Facility:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.medicalFacility" name="medicalFacility" placeholder="Enter MedicalFacility"  required>
                                    <span class="error-container" ng-show="myForm.medicalFacility.$dirty && myForm.medicalFacility.$invalid">
                                       <span style="color:red" ng-show="myForm.medicalFacility.$error.required">Please Enter MedicalFacility</span>
                                         </span><br><br>
                                     </div>
                                   <div class="col-md-4">
                                    <label>Local Report Number2:</label>
                                    <input tyep="text" class="form-control"  ng-model="patient.localReportNumber2" name="localReportNumber2" placeholder="Enter LocalReportNumber2"  required>
                                    <span class="error-container" ng-show="myForm.localReportNumber2.$dirty && myForm.localReportNumber2.$invalid">
                                     <span style="color:red" ng-show="myForm.localReportNumber2.$error.required">Please Enter LocalReportNumber2</span>
                                   </span><br><br>
                                  </div>
                                  <div class="col-md-4">
                                 	<label>Unit In Error1:</label>
                                    <input type="text" class="form-control"  ng-model="patient.unitInError1" name="unitInError1" placeholder="Enter UnitInError1"  required>
                                    <span class="error-container" ng-show="myForm.unitInError1.$dirty && myForm.unitInError1.$invalid">
                                      <span style="color:red" ng-show="myForm.unitInError1.$error.required">Please Enter UnitInError1</span>
                                     </span><br><br>
                                      </div>
								</div>
								 <div class="col-md-12">                              
                                 <div class="col-md-4">
                                 <label>Unit Number1:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.unitNumber1" name="unitNumber1" placeholder="Enter UnitNumber1"  required>
                                    <span class="error-container" ng-show="myForm.unitNumber1.$dirty && myForm.unitNumber1.$invalid">
                                       <span style="color:red" ng-show="myForm.unitNumber1.$error.required">Please Enter UnitNumber1</span>
                                         </span><br><br>
                                     </div>
                                    <div class="col-md-4">
                                    <label>Owner Name:</label>
                                    <input tyep="text" class="form-control"  ng-model="patient.ownerName" name="ownerName" placeholder="Enter OwnerName"  required>
                                    <span class="error-container" ng-show="myForm.ownerName.$dirty && myForm.ownerName.$invalid">
                                     <span style="color:red" ng-show="myForm.ownerName.$error.required">Please Enter OwnerName</span>
                                   </span><br><br>
                                  </div>
                                  <div class="col-md-4">
	                                 <label>Owner Phone Number:</label>
                                    <input type="text" class="form-control"  ng-model="patient.ownerPhoneNumber" name="ownerPhoneNumber" placeholder="Enter OwnerPhoneNumber"  required>
                                    <span class="error-container" ng-show="myForm.ownerPhoneNumber.$dirty && myForm.ownerPhoneNumber.$invalid">
                                      <span style="color:red" ng-show="myForm.ownerPhoneNumber.$error.required">Please Enter OwnerPhoneNumber</span>
                                     </span><br><br>
                                      </div>
								</div>
								 <div class="col-md-12">                              
                                 <div class="col-md-4">
                                 <label>Damage Scale:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.damageScale" name="damageScale" placeholder="Enter DamageScale"  required>
                                    <span class="error-container" ng-show="myForm.damageScale.$dirty && myForm.damageScale.$invalid">
                                       <span style="color:red" ng-show="myForm.damageScale.$error.required">Please Enter DamageScale</span>
                                         </span><br><br>
                                         </div>
                                    <div class="col-md-4">
                                    <label>Proof Of Insurance:</label>
                                    <input tyep="text" class="form-control"  ng-model="patient.proofOfInsurance" name="proofOfInsurance" placeholder="Enter proofOfInsurance"  required>
                                    <span class="error-container" ng-show="myForm.proofOfInsurance.$dirty && myForm.proofOfInsurance.$invalid">
                                     <span style="color:red" ng-show="myForm.proofOfInsurance.$error.required">Please Enter ProofOfInsurance</span>
                                   </span><br><br>
                                  </div>
                                  <div class="col-md-4">
	                                 <label>Insurance Company:</label>
                                    <input type="text" class="form-control"  ng-model="patient.insuranceCompany" name="insuranceCompany" placeholder="Enter InsuranceCompany"  required>
                                    <span class="error-container" ng-show="myForm.insuranceCompany.$dirty && myForm.insuranceCompany.$invalid">
                                      <span style="color:red" ng-show="myForm.insuranceCompany.$error.required">Please Enter InsuranceCompany</span>
                                     </span><br><br>
                                      </div>
								</div>
								 <div class="col-md-12">                              
                                 <div class="col-md-4">
                                 <label>Policy Number:</label>
                                    <input  type="text" class="form-control"  ng-model="patient.policyNumber" name="policyNumber" placeholder="Enter PolicyNumber"  required>
                                    <span class="error-container" ng-show="myForm.policyNumber.$dirty && myForm.policyNumber.$invalid">
                                       <span style="color:red" ng-show="myForm.policyNumber.$error.required">Please Enter PolicyNumber</span>
                                         </span><br>
                                         </div>
                                  <div class=" col-md-4">
                                	<label>Select Caller:</label>
                           			<select class="form-control" ng-model="patient.callerId" name="callerId" id="callerId" ng-options="staffs.id as staffs.firstName for staffs in staff">
  							 		 <option value="">-- Select Caller --</option>
                                     </select>
                                     <br>
                                  </div>
                                  <div class=" col-md-4">
                                  
                                   <label>Select Clinic:</label>
                                    <select  ng-model="patient.clinicId" ng-change="doctorName()" class="form-control"   name="clinicId" id="clinicId"  ng-options="clinics.clinicId as clinics.clinicName for clinics in clinic" >
  							  <option value="" >-- Select Clinic --</option> 
  							 </select>
                            <br>
                          
                                </div>
                                  
                                <div class=" col-md-4">
                                  
                                 <label>Select Doctor:</label>
                                    <select class="form-control" name="doctorId" id="doctorId" ng-model="patient.doctorId" ng-options="doctors.id as doctors.doctorName for doctors in doctor">
  							  <option value="">-- Select Doctor --</option>
  							 </select>
                            <br>
                                  
                                      </div>
                         </div>
						
                   </div>
			</div>
			<div class="text-right" style="margin-right:30px;">
			 <a class="btn btn-success" ng-show='myFormButton' ng-class="{'button-disable':myForm.$invalid}" ng-disabled='myForm.$invalid'  ng-click="savePatient()">Save</a>
            	 <a class="btn btn-success" ng-show='!myFormButton' ng-class="{'button-disable':myForm.$invalid || isClean()}" ng-disabled='isClean() || myForm.$invalid' ng-click="updatePatient()">Update</a>
  
				<a ui-sref="dashboard.patient" class="btn btn-danger">Cancel</a><br />
				<br />
				<br />
			</div>
			<!-- /.panel-body -->
		</div>
	</form>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<script>
$(function(){
	$("html,body").scrollTop(0);
});
</script>