<div>
<div class="row">
	<div class="col-lg-12">
	<a  ng-click="addModel()" class="btn-sm btn-primary pull-right margin-top-40" ng-show="isAdmin">Upload Excel</a>
		<h2 class="page-header">Patients</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<!-- /.panel-heading -->
		<div class="col-md-12" style="width:100%;height:500px;overflow:scroll;">

			<table class="table table-hover">
				<thead>
					<tr>
						<th ng-mousedown="sort('name')" class="text-center">Name <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					  <th ng-mousedown="sort('dateOfBirth')" class="text-center">Date Of Birth&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='dateOfBirth'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					  <th ng-mousedown="sort('address')" class="text-center">Address&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-mousedown="sort('phoneNumber')" class="text-center">Phone Number&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='phoneNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th class="text-center" >Actions</th>
						
						
					</tr>
						
						<tr>
						<th><input type="text" class="form-control" ng-model="search.name" placeholder="Name"/></th>
						<th><input type="text" class="form-control" ng-model="search.dateOfBirth" placeholder="Date Of Birth"/></th>
						<th><input type="text" class="form-control" ng-model="search.address" placeholder="Address"/></th>
						<th><input type="text" class="form-control" ng-model="search.phoneNumber" placeholder="Phone Number"/></th>
						<th></th>
					</tr>
				</thead>
				<tbody dir-paginate="patients in patientss | filter:search | orderBy:sortKey:reverse|itemsPerPage:5 ">
					<tr>
						

						<td style="width:200px!important; display:inline-block"><a href="#/dashboard/Calllogs/{{patients.id}}">{{patients.name}}</a></td>
						<td>{{patients.dateOfBirth}}</td>
						<td style="width:200px!important; display:inline-block" class="word-wrap">{{patients.address}}</td>
						<td>{{patients.phoneNumber}}</td>
						<td style="width:150px!important; display:inline-block">
						<span>
						<a href="#/dashboard/Calllogs/{{patients.id}}" class="btn btn-xs btn-primary"><i
								class="glyphicon glyphicon-eye-open"></i>
						</a>
						<a href="#/dashboard/EditPatient/{{patients.id}}" class="btn btn-xs btn-warning" ng-show="isAdmin">&nbsp;<i
								class="glyphicon glyphicon-edit"></i>
						</a>
						<a href="" ng-click="deletePatient(patients.id)" class="btn btn-xs btn-danger" ng-show="admin">&nbsp;<i
								class="glyphicon glyphicon-trash"></i>
						</a>
						<span ng-show="isAdmin">
						<a ng-hide="{{patients.callerId}}==''" href="" ng-click="assignCaller(patients.id,patients.callerId)" class="btn btn-xs btn-success">&nbsp;<i
								class="glyphicon glyphicon-saved"></i>
						</a>
						<a ng-hide="{{patients.callerId}}!=''" href="" ng-click="assignCaller(patients.id,patients.callerId)" class="btn btn-xs btn-danger">&nbsp;<i
								class="glyphicon glyphicon-saved"></i>
						</a>
						</span>
						<span ng-hide="isAdmin">
						<a title="doctor" ng-hide="{{patients.doctorId}}==''" href="" ng-click="assignDoctor(patients.id,patients.doctorId)" class="btn btn-xs btn-success">&nbsp;<i
								class="glyphicon glyphicon-ok"></i>
						</a>
						<a title="doctor" ng-hide="{{patients.doctorId}}!=''" href="" ng-click="assignDoctor(patients.id,patients.doctorId)" class="btn btn-xs btn-danger">&nbsp;<i
								class="glyphicon glyphicon-remove"></i>
						</a>
						</span>
						
						</span>
						
						</td>
					</tr>
				</tbody>
			</table>
			<dir-pagination-controls max-size="5" direction-links="true"
					boundary-links="true"> </dir-pagination-controls>
		</div>
		<!-- /.panel-body -->
	</div>
	<!-- /.col-lg-12 -->
</div>

<!--  Assign Modal -->
<div class="modal fade" id="assignCallerModel" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign Caller - Patient - {{assignPatientId}}</h4>
        </div>
        <div class="modal-body">
             
              <label>Select the Caller</label>
                          <div class="col-md-12 input-group">
                           <select class="form-control" ng-model="patients.callerId" name="callerId" id="callerId" ng-change="changeCaller()" ng-options="staff.id as staff.firstName for staff in staffs">
  							  <option value="">-- Select Caller --</option>
						  </select>   
                           </div>
        </div>
        <div class="modal-footer">
         <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
             <a type="submit" class="btn btn-success"  ng-disabled='myForm.$invalid' ng-click="updateCaller()">Assign</a>
        </div>
      </div>
      
    </div>
 </div>
<!-- End Assign Model -->

<!--  Doctor Assign Modal -->
<div class="modal fade" id="assignDoctorModel" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign Doctor - Patient - {{assignPatientId}}</h4>
        </div>
        <div class="modal-body">
             
              <label>Select the Doctor</label>
                          <div class="col-md-12 input-group">
                           <select class="form-control" ng-model="patients.doctorId" name="doctorId" id="doctorId" ng-options="doctor.id as doctor.name for doctor in doctors">
  							  <option value="">-- Select Doctor --</option>
						  </select>   
                           </div>
        </div>
        <div class="modal-footer">
         <button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
             <a type="submit" class="btn btn-success"  ng-disabled='myForm.$invalid' ng-click="updateDoctor()">Assign</a>
        </div>
      </div>
      
    </div>
 </div>
<!-- End Assign Model -->




  <!-- Add/Edit Model -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content"  ng-controller="AppController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Patient</h4>
      </div>
      <div class="modal-body" >

      <div class="btn btn-primary btn-file" >
       Browse .CSV File to Upload
                    <input class="btn btn-primary" type="file" nv-file-select="" uploader="uploader" name="file"/>
                   </div><br/><br/>
             <div id="uploadSuccessAlert" class="panel well" style="color:green;font-weight:bold;">
            <span id="uploadSuccessStatus"></span>
                        </div>
                    <table class="table">
                        <thead>
                            <tr ng-repeat="item in uploader.queue" >
                                <th width="50%" >Name</th>
                                <th ng-show="uploader.isHTML5" >Size</th>
                                <th ng-show="uploader.isHTML5" >Progress</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue" >
                                <td><strong >{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                 </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
      </div>
      <div class="modal-footer">
      				<button type="button" class="btn btn-success" ng-click="uploader.queue[0].upload()" ng-disabled="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning"  data-dismiss="modal" ng-click="uploader.queue[0].cancel()" >
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="close()" data-dismiss="modal" >
                    <span class="glyphicon glyphicon-ban-circle"></span> Close
                    </button>
                    
      </div>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<!-- /.modal -->
</div>