<div class="row">
	<div class="col-lg-12">
	<a  ng-click="addModel()" class="btn-sm btn-primary pull-right margin-top-40">Upload Excel</a>
		<h2 class="page-header">Patients</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<!-- /.panel-heading -->
		<div class="col-md-12" style="width:100%;height:500px;overflow:scroll;">

			<table class="table table-hover">
				<thead>
					<tr>
						<th ng-mousedown="sort('name')" class="text-center">Name <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					  <th ng-mousedown="sort('dateOfBirth')" class="text-center">DateOfBirth&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='dateOfBirth'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					   <th ng-mousedown="sort('gender')" class="text-center">Gender&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='gender'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-mousedown="sort('address')" class="text-center">Address&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-mousedown="sort('phoneNumber')" class="text-center">PhoneNumber&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='phoneNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-mousedown="sort('localReportNumber1')" class="text-center">LocalReportNumber&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='localReportNumber1'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

						<th class="text-center" >Actions</th>
						
						
					</tr>
						
						<tr>
						<th><input type="text" class="form-control" ng-model="search.name" placeholder="Name"/></th>
						<th><input type="text" class="form-control" ng-model="search.dateOfBirth" placeholder="DateOfBirth"/></th>
						
						
						<th><input type="text" class="form-control" ng-model="search.gender" placeholder="Gender"/></th>
						<th><input type="text" class="form-control" ng-model="search.address" placeholder="Address"/></th>
						<th><input type="text" class="form-control" ng-model="search.phoneNumber" placeholder="Phonenumber"/></th>
						
						
						<th><input type="text" class="form-control" ng-model="search.localReportNumber" placeholder="LocalReportNumber"/></th>
						
						
						
						
						
						
						<th></th>
					</tr>
				</thead>
				<tbody dir-paginate="patients in patientss | filter:search | orderBy:sortKey:reverse|itemsPerPage:8 ">
					<tr>
						

						<td style="width:300px!important; display:inline-block">{{patients.name}}</td>
						<td>{{patients.dateOfBirth}}</td>
						<td>{{patients.gender}}</td>
						<td style="width:300px!important; display:inline-block">{{patients.address}}</td>
						<td>{{patients.phoneNumber}}</td>
						<td>{{patients.localReportNumber}}</td>
						
						
						
						<td style="width:300px!important; display:inline-block">
						<span>
						<a href="#/dashboard/Calllogs/{{patients.id}}" class="btn btn-xs btn-primary"><i
								class="glyphicon glyphicon-eye-open"></i>&nbsp; View callLogs
						</a>
						<a href="#/dashboard/EditPatient/{{patients.id}}" class="btn btn-xs btn-warning">&nbsp;<i
								class="glyphicon glyphicon-edit"></i>&nbsp; Edit
						</a> <a href="" ng-click="deletePatient(patients.id)" class="btn btn-xs btn-danger">&nbsp;<i
								class="glyphicon glyphicon-trash"></i>&nbsp; Delete
						</a>
						</span>
						
						</td>
					</tr>
				</tbody>
			</table>
			<dir-pagination-controls max-size="5" direction-links="true"
					boundary-links="true"> </dir-pagination-controls>
		</div>
		<!-- /.panel-body -->
	</div>
	<!-- /.col-lg-12 -->
</div>

  <!-- Add/Edit Model -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content"  ng-controller="AppController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Patient</h4>
      </div>
      <div class="modal-body" >

      <div class="btn btn-primary btn-file" >
       Browse .CSV File to Upload
                    <input class="btn btn-primary" type="file" nv-file-select="" uploader="uploader" name="file"/>
                   </div><br/><br/>
               <div id="uploadSuccessAlert" class="panel well" style="color:green;font-weight:bold;">{{upload_status}}</div>
                    <table class="table">
                        <thead>
                            <tr ng-repeat="item in uploader.queue" >
                                <th width="50%" >Name</th>
                                <th ng-show="uploader.isHTML5" >Size</th>
                                <th ng-show="uploader.isHTML5" >Progress</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue" >
                                <td><strong >{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                 </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
      </div>
      <div class="modal-footer">
      				<button type="button" class="btn btn-success" ng-click="uploader.queue[0].upload()" ng-disabled="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning"  data-dismiss="modal" ng-click="uploader.queue[0].cancel()" >
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="close()" data-dismiss="modal" >
                    <span class="glyphicon glyphicon-ban-circle"></span> Close
                    </button>
                    
      </div>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
