<div class="row">
	<div class="col-lg-12">
	<a  ng-click="addModel()" class="btn-sm btn-primary pull-right margin-top-40">Upload Excel</a>
		<h2 class="page-header">Patients</h2>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<!-- /.panel-heading -->
		<div class="col-md-12">

			<table class="table table-hover">
				<thead>
					<tr>
						<th ng-mousedown="sort('firstName')">First Name&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='firstName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-mousedown="sort('lastName')">Last Name&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='lastName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-mousedown="sort('phoneNumber')">Phone Number&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='phoneNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-mousedown="sort('address')">Address&nbsp;<span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th width="30%">Actions</th>
					</tr>
					<tr>
						<th><input type="text" class="form-control" ng-model="search.firstName" placeholder="Firstname"/></th>
						<th><input type="text" class="form-control" ng-model="search.lastName" placeholder="Lastname"/></th>
						<th><input type="text" class="form-control" ng-model="search.phoneNumber" placeholder="Phonenumber"/></th>
						<th><input type="text" class="form-control" ng-model="search.address" placeholder="Address"/></th>
						<th></th>
					</tr>
				</thead>
				<tbody
					dir-paginate="patient in patients | filter:search | orderBy:sortKey:reverse|itemsPerPage:8 ">
					<tr>
						<td>{{patient.firstName}}</td>
						<td>{{patient.lastName}}</td>
						<td>{{patient.phoneNumber}}</td>
						<td>{{patient.address}}</td>
						<td>
						<a href="#/dashboard/Calllogs/{{patient.id}}" class="btn btn-xs btn-primary"><i
								class="glyphicon glyphicon-eye-open"></i>&nbsp; View callLogs
						</a>
						<a href="#/dashboard/EditPatient/{{patient.id}}" class="btn btn-xs btn-warning">&nbsp;<i
								class="glyphicon glyphicon-edit"></i>&nbsp; Edit
						</a> <a href="" ng-click="deletePatient(patient.id)" class="btn btn-xs btn-danger">&nbsp;<i
								class="glyphicon glyphicon-trash"></i>&nbsp; Delete
						</a></td>
					</tr>
				</tbody>
			</table>
			<dir-pagination-controls max-size="5" direction-links="true"
					boundary-links="true"> </dir-pagination-controls>
		</div>
		<!-- /.panel-body -->
	</div>
	<!-- /.col-lg-12 -->
</div>

  <!-- Add/Edit Model -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
      </div>
          <form id="myForm" name="myForm" novalidate>
      <div class="modal-body">
	
                                    <label>Select File:</label>
                                    <input type="file" name="fileName" class="form-control" ng-model="patient.fileName"" required><br/>
                                  <div class="error-container" ng-show="myForm.fileName.$dirty && myForm.fileName.$invalid">
                                  <span style="color:red" ng-show="myForm.fileName.$error.required"> Please Select File</span>
                                 </div>
                                
                 
             
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success" ng-click="fileUpload()" ng-disabled='myForm.$invalid'>Submit</button>
      </div>
      </form>
    </div>
    
  </div>
</div>

