  <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Choose Tier</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
    <div class="col-md-12">
    	<tier ng-cloak number="2" comments="Tier 1" colour="primary" type="tasks" goto="dashboard.PatientList"></tier>
        <tier ng-cloak number="18" comments="Tier 2" colour="green" type="tasks" goto="dashboard.PatientList"></tier>
       	<tier ng-cloak number="20" comments="Tier 3" colour="yellow" type="tasks" goto="dashboard.PatientList"></tier>
     </div>
  
    </div>